﻿@{
    var cls = "WhenAndWhere";
    if (Request.Url.ToString().ToLower().Contains("booking/chooseacar"))
    {
        cls = "YourCarChoice";
    }
    if (Request.Url.ToString().ToLower().Contains("booking/chooseextras"))
    {
        cls = "PriceAndExtras";
    }
    if (Request.Url.ToString().ToLower().Contains("booking/bookingsummary"))
    {
        cls = "Checkout";
    }
   
    
}


<div id="bpWrapper">
	<ul id="main_bookingProgress_bp" class="@cls">
        @if (Request.Url.ToString().ToLower().Contains("booking/bookingdetails") || Request.Url.LocalPath == "/")
        {
		        <li id="main_bookingProgress_bpWhenAndWhere" class="bpCurrent">
			        <em>1&nbsp;</em>@Resources.Copy.Banner_WhenandWhere<span class="tail"></span>
		        </li>
        }
        else
        {
		        <li id="main_bookingProgress_bpWhenAndWhere" class="bpItem">
			        <em>1&nbsp;</em>@if (Request.Url.ToString().ToLower().Contains("booking/chooseextras") || Request.Url.ToString().ToLower().Contains("booking/bookingsummary") || Request.Url.ToString().ToLower().Contains("booking/chooseacar"))
                           {<!--<a href="bookingdetails">@Resources.Copy.Banner_WhenandWhere</a>-->@Resources.Copy.Banner_WhenandWhere}
                           else
                           {@Resources.Copy.Banner_WhenandWhere}<span class="tail"></span>
		        </li>
        }

        @if (Request.Url.ToString().ToLower().Contains("booking/chooseacar"))
        {
		        <li id="main_bookingProgress_bpYourCarChoice" class="bpCurrent">
			        <span class="head"></span>
                   <em>2&nbsp;</em>@Resources.Copy.Banner_YourCarChoice<span class="tail"></span>
		        </li>
        }
        else
        {
           		<li id="main_bookingProgress_bpYourCarChoice" class="bpItem">
			        <span class="head"></span>
                   <em>2&nbsp;</em>@if (Request.Url.ToString().ToLower().Contains("booking/chooseextras") || Request.Url.ToString().ToLower().Contains("booking/bookingsummary"))
                                   {@*<a href="chooseacar">@Resources.Copy.Banner_YourCarChoice</a>*@ @Resources.Copy.Banner_YourCarChoice}
                                   else
                                   {@Resources.Copy.Banner_YourCarChoice}<span class="tail"></span>
		        </li>
        }
 
         @if (Request.Url.ToString().ToLower().Contains("booking/chooseextras"))
         {
		<li id="main_bookingProgress_bpPriceAndExtras" class="bpCurrent">
			<span class="head"></span>
            <em>3&nbsp;</em>@Resources.Copy.Banner_Extras<span class="tail"></span>
		</li>
             
         }
         else
         {
         <li id="main_bookingProgress_bpPriceAndExtras" class="bpItem">
			<span class="head"></span>
            <em>3&nbsp;</em>@if (Request.Url.ToString().ToLower().Contains("booking/bookingsummary"))
                            {@*<a href="chooseextras">@Resources.Copy.Banner_Extras</a>*@ @Resources.Copy.Banner_Extras}
                            else
                            {@Resources.Copy.Banner_Extras}<span class="tail"></span>
		</li>
         }
         
         
         @if (Request.Url.ToString().ToLower().Contains("booking/bookingsummary"))
         {   
		<li id="main_bookingProgress_bpCheckout" class="bpCurrent">
			<span class="head"></span>
            <em>4&nbsp;</em>@Resources.Copy.Banner_Summary<span class="tail"></span>
		</li>
         }
         else
         {
             <li id="main_bookingProgress_bpCheckout" class="bpItem">
			<span class="head"></span>
            <em>4&nbsp;</em>@Resources.Copy.Banner_Summary<span class="tail"></span>
		</li>
         }
	</ul>
</div>