﻿           
                <div class="footer-wrapper">
                    <div class="float-right">
                        <p>&copy; Copyright Scandiexplorer  @DateTime.Now.Year</p>
                    </div>
                </div>
           <!--//footer-->