﻿        @{
            var hostUrl = CommonHelper.GetHostUrl();
            }
            <header>
                <div class="header">
                    <!--<div class="logoAvis">
                        
                    <a href="@(hostUrl + "/booking/BookingDetails")"><img src="@(hostUrl + "/Content/images/avis_logo_final.jpg")" width=164" height="61" alt="Avis Rent a Car" title="Avis Rent a Car" border="0" /></a>
                    <a href="@(hostUrl + "/booking/BookingDetails")"><img src="@(hostUrl + "/Content/images/budget-logo-final.jpg")" width="218" height="61" alt="Avis Rent a Car" title="Avis Rent a Car"  border="0" /></a>
                    </div>-->
                    <div class="logoPartner">
                        @if (Session["chosenCardmake"] != null && Session["chosenCardmake"].ToString() == "EC")
               {
                       <img src="@(hostUrl + "/Content/images/eurocard_logo_final.jpg")" alt="EUROCARD" title="EUROCARD" />
                           <script>
                               (function (i, s, o, g, r, a, m) {
                                   i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                                       (i[r].q = i[r].q || []).push(arguments)
                                   }, i[r].l = 1 * new Date(); a = s.createElement(o),
                                   m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
                               })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

                               ga('create', 'UA-37098882-4', 'absrac.net');
                               ga('send', 'pageview');

                           </script>

                            
                            
               }
                        else if (Session["chosenCardmake"] != null && Session["chosenCardmake"].ToString() == "DC")
                        {                                              
                <img src="@(hostUrl + "/Content/images/diners-logo_FINAL.jpg")" alt="DINERS CLUB" title="DINERS CLUB" />
                            
                            <script>
                                (function (i, s, o, g, r, a, m) {
                                    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                                        (i[r].q = i[r].q || []).push(arguments)
                                    }, i[r].l = 1 * new Date(); a = s.createElement(o),
                                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
                                })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

                                ga('create', 'UA-37098882-5', 'absrac.net');
                                ga('send', 'pageview');

                            </script>

                        }

                    </div>
                </div>
            </header><!--//header-->