﻿@{
    var hostUrl = CommonHelper.GetHostUrl();
    }

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href='https://fonts.googleapis.com/css?family=BenchNine' rel='stylesheet' type='text/css'>
        <link href="@(hostUrl + "/Content/Site.css")" rel="stylesheet" type="text/css" />
        <link href="@(hostUrl + "/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
        <link href="@(hostUrl + "/Content/themes/base/jquery.ui.datepicker.css")" rel="stylesheet"
            type="text/css" />
        <link href="@(hostUrl + "/Content/themes/base/jquery.ui.core.css")" rel="stylesheet" type="text/css" />
        <link href="@(hostUrl + "/Content/themes/base/jquery.ui.theme.css")" rel="stylesheet" type="text/css" />
        <script src="@(hostUrl + "/Scripts/jquery.min.js")" type="text/javascript"></script>
        <script src="@(hostUrl + "/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
        <style>
            #ui-datepicker-div { display: none; }
        </style>
         <!--[if lt IE 9]>
<script>
document.createElement('header');
document.createElement('nav');
document.createElement('section');
document.createElement('article');
document.createElement('aside');
document.createElement('footer');
document.createElement('hgroup');
</script>
<![endif]-->
    </head>
    <body>
        <div class="backgroundContainer">
        <div class="container">
            @Html.Partial("_Header")
            @Html.Partial("_Navigation")
           
                <div style="width:100%;">
                    @RenderBody()
                </div>
            
                
         </div>
       
            <div class="footer-wrapper">
                <p>@DateTime.Now.Year &copy; Copyright Avis Rent a Car System  </p>
                </div>
           
        </div>
         <br/><br/><br/>
    </body>
</html>