﻿@{
    var hostUrl = CommonHelper.GetHostUrl();
    }

<div class="login" id="loginBox" style="display: @(User.Identity.IsAuthenticated ? "none" : "block");">
    <div class="frmLogin">

        <span>
            <span class="title">@Resources.Copy.User_Email</span><br />   
            @Html.TextBox("username", null , new{@style="width:150px;"})
            <br />
            <a href="#" onclick="doForgottenPw();" style="font-size:13px;">@Resources.Copy.ForgottenPassword</a>
        </span>
  
        <span>
            <span class="title">@Resources.Copy.Password</span><br />   
            @Html.Password("pw")
        </span> 
        <span>
            <button onclick="loginWidget(false);" name="loginbutton" id="loginbutton" type="submit" class="button">@Resources.Copy.Login</button>
        </span>
    </div>
</div>
<div class="login" id="loggedIn" style="display: @(User.Identity.IsAuthenticated ? "block" : "none");"><label id="tmpLogin">@Resources.Copy.LoggedInAs: @(Session["user"] != null ? Session["user"] : "")</label>&nbsp;&nbsp;&nbsp;&nbsp;<button onclick="logout();">@Resources.Copy.Logout</button></div>

<script type="text/javascript">

    var hostURL = '@hostUrl';


    function doForgottenPw() {
        
        $.blockUI({
            fadeIn: 1000,
            message: '<h2 style="padding:10px 10px 5px 10px; font-size:16px;">@Resources.Copy.ForgottenPassword</h2><p>@Resources.Copy.EnterEmailAddress :</p><p><input type="text" id="fpName" /></p><p><button onclick="forgottenPassword();" style="width:150px; height:30px;" id="doFp" value="GetPassword">@Resources.Copy.GetPassword</button></p><p><a id="close" href="#">@Resources.Copy.Close</a></p>'
        });
        $('#close').click(function () {
                
            $.unblockUI();
        });



    }

function forgottenPassword() {
        $.ajax({
            type: "GET",
            url: hostURL + "/user/login?name=" + $("#fpName").val(),
            data: "{name: '" + $("#fpName").val() + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function(response) {
                //if (response == "ok") {
                    alert("@Resources.Copy.PasswordEmailed");
                    $.unblockUI();
                //}
                return;
            }
        });
    }

    function logout()
    {
        window.location.href= hostURL + "/user/login?act=logout";
    }


    function loginWidget(populate) {
        $.ajax({
            type: "POST",
            url: hostURL + "/user/LoginWidget/", //"?username="+ $('#username').val() + "&pw=" + $('#pw').val(),
            data: "{username: '" + $('#username').val() + "', pw:  '" + $('#pw').val() + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (response) {
                
                if (response.email == $('#username').val()) {
                    if(window.location.href.indexOf("User/Register") > -1) {
                        window.location.href= hostURL + "/user/detail";
                    }
                    $("#loggedIn").show();
                    $("#tmpLogin").text("@Resources.Copy.LoggedInAs: " + response.email);
                    $("#DriverEmail").val(response.email);
                    $("#DriverGivenName").val(response.firstname);
                    $("#DriverSurname").val(response.lastname);
                    $("#DriverStreet").val(response.add1);
                    $("#DriverStreet2").val(response.add2);
                    $("#City").val(response.city);
                    $("#State").val(response.state);
                    $("#DriverPostCode").val(response.postcode);
                    $("#DriverCountry").val(response.country);
                    $("#DriverBirthDate").val(response.dob);
                    $("#DriversLicense").val(response.license);
                    $("#DriverPhone").val(response.phone);
                    $("#loginBox").hide();
                    $("#loginMsg").hide();
                    $("#menuEditBooking").show();
                    $("#menuMyProfile").show();
                    $("#menuLogout").show();
                    $("#menuRegister").hide();
                    $("#divCountry").hide();
                    $("#divCountry").attr("disabled", true);
                } else {
                    alert("@Html.Raw(Resources.Copy.LoginUnsuccessful)");
                }
                
            },
            
            error: function (xhr, ajaxOptions, thrownError) {

                alert(thrownError);
                alert("@Html.Raw(Resources.Copy.Info_LoginUnsuccessful)");
            }
        });
    }
</script>