﻿@{
    var hostUrl = CommonHelper.GetHostUrl();
    }
            <nav class="grayfade">
                <div style="float:left; margin-top:15px;"> 
                    <a href="@(hostUrl + "/booking/BookingDetails")"><img src="@(hostUrl + "/Content/images/AB_logo3.gif")" border="0" /></a>
                </div>
                
                <span>
                <div style="float:right;">
                    <div>
                        <div style="float:right;"><a href="@(hostUrl + "/user/login?act=terms")">@Resources.Copy.Menu_Info</a></div> 
                        <div  style="float:right;">
                            <a href="@(hostUrl + "/user/contact")">@Resources.Copy.Menu_Contact</a></div>
                         <div id="menuEditBooking"  style="float:right;">
                            <a href="@(hostUrl + "/booking/bookingsearch")">@Resources.Copy.Menu_EditBooking</a></div>    
                        <div  style="float:right;">
                            <a href="@(hostUrl + "/booking/bookingdetails?ctx=new")">@Resources.Copy.Menu_Makeabooking</a></div>
                    </div>

                 </div>
                 </span>
            </nav>

           