﻿
            <div>
            <br />

            @if (!Request.Url.ToString().ToLower().Contains("avispreferred"))
            {

                    <!--<div class="dummy extra"></div>
                    <div class="dummy extra2"></div>
                    <div class="dummy"></div>-->
                    @Html.Raw(ViewBag.CMSItem1)
                    <br />
                    @Html.Raw(ViewBag.CMSItem2)
                    <br />
                    @Html.Raw(ViewBag.CMSItem3)
             }
            </div><!-- //sidebar -->