﻿#bpWrapper{float:left;clear:left;width:650px;background:#fff;margin:0px 0 0px 0;font-size: .9em;text-align: left;}
#bpWrapper ul{float:left;width:650px;height:26px;}
.WhenAndWhere{background:url(../content/images/sprites_main.png) left -1500px no-repeat}
.YourCarChoice{background:url(../content/images/sprites_main.png) left -1526px no-repeat}
.PriceAndExtras{background:url(../content/images/sprites_main.png) left -1552px no-repeat}
.Checkout{background:url(../content/images/sprites_main.png) 0 -1578px no-repeat}
#bpWrapper li{display:block;float:left;width:150px;clear:none;padding:5px 0}
#bpWrapper em{font-size:1.2em;font-weight:bold;padding:0 0 0 5px;font-style:normal}
.bpItem{color:#303030}
.bpCurrent{ color: #fff;font-weight: bold;}
.tripDate { width:150px; }
#fleetWrapper{float:left;width:100%;overflow:visible;margin:10px 0 0 0}
.fleetError{float:left;width:100%;padding:5px}
ul#fleetTabs{display:block;float:left;margin:10px 0 0 0}
#fleetTabs li{display:block;float:left;clear:none;background:url(/assets/build/core/sprites/sprites_main.png) left -2400px no-repeat;padding:0 0 0 5px;margin:0 5px 0 0;height:23px}
#fleetTabs li a:link,#fleetTabs li a:visited,#fleetTabs li a:hover{display:block;float:left;height:100%;background:url(../content/images/sprites_main.png) right -2450px;color:#505050;text-decoration:none;padding:0 10px 0 5px;height:23px;line-height:23px}#fleetTabs li.fleetCurrent{display:block;float:left;clear:none;background:url(../content/images/sprites_main.png) left -2300px no-repeat;padding:0 0 0 5px;margin:0 5px 0 0;color:#fff;text-decoration:none;height:23px;width:auto}#fleetTabs li.fleetCurrent a:link,#fleetTabs li.fleetCurrent a:visited,#fleetTabs li.fleetCurrent a:hover{display:block;float:left;clear:none;background:url(../content/images/sprites_main.png) right -2350px no-repeat;color:#fff;text-decoration:none;height:23px;padding:0 10px 0 5px;line-height:23px}#fleetSortAndFilter{display:block;float:left;width:100%;background:#303030;padding:5px;margin:0 0 0 0;height:1.6em}#fleetSortAndFilter a{display:block;float:left;height:100%;font-size:.9em;padding:0 10px 0 0}#fleetSortAndFilter a:link,#fleetSortAndFilter a:visited{color:#f5f5f5;font-weight:normal;text-decoration:none}#fleetSortAndFilter a:hover{color:#fff;font-weight:normal;text-decoration:none}#fleetSortAndFilter select{font-size:.9em;max-width:140px;margin:0 5px 0 0}.fleetSortOption{display:block;float:left;clear:none;width:auto;padding:0 5px 0 0;color:#fff;background:url(../content/images/sprites_main.png) right -1797px no-repeat;margin:0 15px 0 0}.fleetFilterOption{display:block;float:left;clear:none;color:#f5f5f5;line-height:1em;font-size:.9em}
@media screen,print{.fleetItemWrapper{float:left;width:100%;background:url(/assets/build/core/contentSepWide.jpg) left bottom no-repeat;padding:5px 0 10px 0}
                    .SelectedFleetItemWrapper{float:left;width:100%;margin-bottom:5px;background:url(/assets/build/core/contentSepWide.jpg) left bottom no-repeat;padding:5px 0 10px 0}
                    .SelectedFleetItemWrapper{float:left;width:100%;margin-bottom:5px;background:url(/assets/build/core/contentSepWide.jpg) left bottom no-repeat;padding:5px 0 10px 0}
                    .fiImage{display:block;float:left;width:130px;height:85px;padding:0 20px 0 0;border:none}
                    .fiType{display:block;float:left;width:500px;font-size:.9em;color:#303030;padding-bottom:5px}
                    .SelectedFleetItemWrapper .fiType{display:block;float:left;width:470px;font-size:.9em;color:#303030;padding:0 0 5px 20px;background:url(../content/images/sprites_main.png) left -300px no-repeat}
                    .fiSummary{display:block;float:left;width:500px}
                    .fiPricing{display:block;width:100%}
                    .fiOptions{display:block;float:right;clear:none;width:300px}
                    .fiExpandCollapse{display:block;width:100%;float: right;text-align: right;}
                    .fiSelect{display:block;float:right;width:100%}
                    .fiGroup{float:left;clear:none;font-weight:bold}
                    .fiSize{float:left;clear:none;font-weight:bold}
                    .fiVehicleName{float:left;clear:none}
                    .fiFeatures{display:block;float:left;width: 340px;height: 30px;}
                    .fiFeatures a:link,.fiFeatures a:visited,.fiFeatures a:hover{color:#fff;text-decoration:none;padding:0 0 0 22px}
                    .fiSeats{display:block;float:left;clear:none;height:20px;width:14px;line-height:20px;color:#fff;background:url(../content/images/sprites_main.png) left -1300px no-repeat;cursor:default}
                    .fiBags{display:block;float:left;clear:none;height:20px;width:14px;line-height:20px;color:#fff;background:url(../content/images/sprites_main.png) left -1380px no-repeat;cursor:default}
                    .fiDoors{display:block;float:left;clear:none;height:20px;width:14px;line-height:20px;color:#fff;background:url(../content/images/sprites_main.png) left -1420px no-repeat;cursor:default}
                    .fiTrans{display:block;float:left;clear:none;height:20px;width:14px;line-height:20px;color:#fff;background:url(../content/images/sprites_main.png) left -1460px no-repeat;cursor:default}
                    .fiAircon{display:block;float:left;clear:none;height:20px;width:14px;line-height:20px;color:#fff;background:url(../content/images/sprites_main.png) left -1340px no-repeat;font-size:0;line-height:0;cursor:default}
                    .fiFrom{display:block;float:left;clear:none;font-weight:bold;color:#000;font-size:1.0em;font-style:italic;width:auto;line-height:1.6em;padding:0 5px 0 0}
                    .fiPrice{display:block;float:left;clear:none;font-weight:bold;color:#000;font-size:1.2em;font-style:italic;width:auto;padding:0 5px 0 0}
                    .fiTerms{display:block;float:left;clear:none;font-weight:bold;color:#000;font-size:1.3em;font-style:italic;width:auto}
                    .fiExpand{display:block;float:right;clear:right;font-size:.9em;background:url(../content/images/sprites_main.png) left -195px no-repeat;padding:5px 10px 5px 20px;overflow:hidden}
                    .fiCollapse{display:block;float:right;clear:right;font-size:.9em;background:url(../content/images/sprites_main.png) left -245px no-repeat;padding:5px 10px 5px 20px;overflow:hidden}
                    .fiAvailability{display:block;clear:left;width:100%; z-index:0; position:absolute }
                    .vehicleDetails{z-index:0; background-color:#fff; border: 2px solid black;display:block;clear:left;width:300px;font-size:.9em;padding-top:10px;position: fixed;top: 50%;left: 50%; margin-top: -50px; margin-left: -100px;}
                    .vfLeft{display:block;float:left;clear:none;width:90%;padding-right: 0px;padding-left: 22px; background-color:#fff;}
                     .vfList{float:left;width:90%;}
                       .vfList li{width:45%;float:left}
                            .vfDriverAgeReqs{float:left;width:100%}
                     .vfCreditCardReqs{float:left;padding-top:10px;width:100%}.vfRight{display:block;float:left;clear:none;width:320px}.full{display:block;float:left;width:100%}}
                   
                   
 .ratelistitem
{
    border-top: 3px solid;border-left: 3px solid;border-right: 3px solid; width:642px; min-height:180px; background-color:#fff; border-color:#ccc;
}

 .cardetails
{
    width:642px; min-height:50px; background-color:#fff; border: 3px solid #ccc; font-size:0.8em;
}
.ratelistitemleft
{
    width:25%; margin: 5px; float:left;
}
.ratelistitemmid
{
    width:45%; margin: 5px; float:left;
}
.ratelistitemmidtop
{
    width:100%; height:70%; 
}
.ratelistitemright
{
    width:25%;  padding:5px; background-color:#f0f0f0; float:right; min-height:170px;
}
.cardetailsright
{
    width:25%;  padding:5px; background-color:#f0f0f0; float:right; min-height:67px;
}

                            .siHeader{float:left;width:650px;background:#f1f1f1}
                            .siTitle{float:left; color:#202327;font-size:1.3em;padding:4px 5px 2px 5px;font-weight:bold;}
