﻿
header, nav, section, article, aside, footer, hgroup { 
   display: block;
}

/*Theme*/
.grayfade{
    background: -moz-linear-gradient(top,  rgba(244,244,244,0) 0%, rgba(246,246,246,0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,244,244,0)), color-stop(100%,rgba(246,246,246,0.65))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(244,244,244,0) 0%,rgba(246,246,246,0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(244,244,244,0) 0%,rgba(246,246,246,0.65) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(244,244,244,0) 0%,rgba(246,246,246,0.65) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(244,244,244,0) 0%,rgba(246,246,246,0.65) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f4f4f4', endColorstr='#a6f6f6f6',GradientType=0 ); /* IE6-9 */
}

button {
	-moz-box-shadow:inset 0px 0px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 0px 0px 0px #f29c93;
	box-shadow:inset 0px 0px 0px 0px #f29c93;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#fe1a00;
	-webkit-border-top-left-radius:3px;
	-moz-border-radius-topleft:3px;
	border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-radius-topright:3px;
	border-top-right-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	-moz-border-radius-bottomright:3px;
	border-bottom-right-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-bottomleft:3px;
	border-bottom-left-radius:3px;
	text-indent:0px;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	font-style:normal;
	height:22px;
	line-height:17px;
	width:57px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #b23e35;
}

.button {
	-moz-box-shadow:inset 0px 0px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 0px 0px 0px #f29c93;
	box-shadow:inset 0px 0px 0px 0px #f29c93;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#fe1a00;
	-webkit-border-top-left-radius:3px;
	-moz-border-radius-topleft:3px;
	border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-radius-topright:3px;
	border-top-right-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	-moz-border-radius-bottomright:3px;
	border-bottom-right-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-bottomleft:3px;
	border-bottom-left-radius:3px;
	text-indent:0px;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	font-style:normal;
	height:22px;
	line-height:17px;
	width:150px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #b23e35;
}
.buttonblue {
	-moz-box-shadow:inset 0px 0px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 0px 0px 0px #f29c93;
	box-shadow:inset 0px 0px 0px 0px #f29c93;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0B0B61), color-stop(1, #08088A) );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #08088A 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0B0B61', endColorstr='#08088A');
	background-color:#0B0B61;
	-webkit-border-top-left-radius:3px;
	-moz-border-radius-topleft:3px;
	border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-radius-topright:3px;
	border-top-right-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	-moz-border-radius-bottomright:3px;
	border-bottom-right-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-bottomleft:3px;
	border-bottom-left-radius:3px;
	text-indent:0px;
	border:1px solid #000000;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	font-style:normal;
	height:22px;
	line-height:17px;
	width:150px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #b23e35;
}

.buttongrey {
	-moz-box-shadow:inset 0px 0px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 0px 0px 0px #f29c93;
	box-shadow:inset 0px 0px 0px 0px #f29c93;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0B0B61), color-stop(1, #08088A) );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #08088A 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0B0B61', endColorstr='#08088A');
	background-color:#0B0B61;
	-webkit-border-top-left-radius:3px;
	-moz-border-radius-topleft:3px;
	border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-radius-topright:3px;
	border-top-right-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	-moz-border-radius-bottomright:3px;
	border-bottom-right-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-bottomleft:3px;
	border-bottom-left-radius:3px;
	text-indent:0px;
	border:1px solid #000000;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	font-style:normal;
	height:22px;
	line-height:17px;
	width:150px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #b23e35;
}

button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
	background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
	background-color:#ce0100;

}

.buttonblue:hover {
	-moz-box-shadow:inset 0px 0px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 0px 0px 0px #f29c93;
	box-shadow:inset 0px 0px 0px 0px #f29c93;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0B0B61), color-stop(1, #08088A) );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #08088A 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0B0B61', endColorstr='#08088A');
	background-color:#0B0B61;
	-webkit-border-top-left-radius:3px;
	-moz-border-radius-topleft:3px;
	border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-radius-topright:3px;
	border-top-right-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	-moz-border-radius-bottomright:3px;
	border-bottom-right-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-bottomleft:3px;
	border-bottom-left-radius:3px;
	text-indent:0px;
	border:1px solid #000000;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	font-style:normal;
	height:22px;
	line-height:17px;
	width:150px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #b23e35;
}

button:active {
	position:relative;
	top:1px;
}

.corner2px {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.corner4px {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.bordergray {
    border-color: #e9e9e9;
}

.red {
    background: #990505;
}

.blue {
    background: #00005b;
}

.white {
    color: #fff;
}

/* Basic Styles */
body {
    color: #545454;
    /*font-family: 'BenchNine', sans-serif;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    background: #e8e8e8 ;
    margin:0px;
    padding:0px;

}

h1 {
    font-family: arial;
}

.forms *, .form * {
    font-family: arial;
}

.backgroundContainer {
    max-width:970px;  /*1285px*/
    margin: 0px auto;
    /*padding: 10px 20px 50px 30px;*/
    background: #FFF;
    min-height:970px;
    box-shadow: 0px 1px 7px 4px #888888;
}

.container {
    max-width:970px; /*1280px*/
    min-height:100%;
     position:relative;
    margin: 0px auto;
    /*padding: 10px 20px 50px 30px;*/
    background: #fff;
    
    
}

.content {
    float: left;
    min-height: 660px;/*660px*/
    max-width: 650px;
    min-width: 650px;
    /*background: #fff url(../images/intro.jpg) no-repeat;*/
   
}
.contenthome {
    float: left;
    min-height: 660px;/*660px*/
    max-width: 650px;
    min-width: 650px;
    background: #fff url(../images/intro.jpg) no-repeat;
   
}

.footer-wrapper
{
    width: 100%;
    background: #d5d5d5;
    height: 10%;
    position: relative;
    bottom: -11px;
    clear:both;
    padding: 20px 0px 7px 0px;
}
.footer-wrapper p{
    padding-left:10px;
    text-align:left;
    
}



/*
    The ads, replace with real ADS.
    Size: 300px * 210px
*/
.dummy {
    max-width: 260px;
    width: 100%;
    height: 210px;
    border: 1px solid #e9e9e9;
    margin-top: 0px;
    margin-bottom: 12px;
    margin-right:10px;
    float: right;
    
}

.extra {
     background: transparent url(../images/300x210.1.png) no-repeat top left;
}

.extra2 {
     background: transparent url(../images/300x210.2.png) no-repeat top left;
}

/*Header size above menu*/
.header {
   height: 100px;
    width: 100%;
}

.logoAvis {
    float: left;
  width: 600px;
  margin: 15px 10px;
  

}

.logoPartner {
float:right;
    width:160px;
     margin: 10px 10px;
    text-align:right;
 padding-right:10px;

}

.float-right {
    float: right;
}



/*
    Navigation
*/
nav {
    position: relative;
    width: 970px;
    height: 77px;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    clear: right;
    vertical-align: middle;
}

nav ul {
	padding: 0;
	margin: 0 auto;
	width: 100%;
	height: 20px;
    float: right;
    border-bottom: 1px solid #fff;
}
nav li {
	display: inline;
	
}

nav a {
    color: #000;
	display: inline-block;
	width: auto;
	text-align: center;
	text-decoration: none;
    font-weight:initial;
	line-height: 77px;
    padding-left: 15px;
    padding-right: 15px;
    float: right;
}
nav li a.selected, nav span a:hover {
    background: #eee;
}





/**************************************************************************************************/
/*                                     BOOKING FORM                                               */
/**************************************************************************************************/
.form {
    margin-left: 5px;
    margin-top: 5px;
    max-width: 448px;
   
    max-height:550px;
    background: #fff;
    
    
    background: #fff url(../images/formbg.png) repeat-y top left;
}

.formheader {
    padding: 5px;
    line-height: 30px;
}
    .formheader span {
        padding-left: 6px;
        font-weight: bold;
    }

.formcontent {
    min-height: 220px;
    margin:0px;
    padding:-0px;
   
}

.formcontentlabel {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  width: 30%;
  text-align: right;
  float: left;
  font-weight: bold;
  padding-top:5px;
}

.formcontentvalue {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-left:10px;
    padding-bottom:8px;
    width: 65%;
    text-align: left;
    float: left;
}

.formcontentprice {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
   width: 25%;
   text-align: left;
   float: left;
   font-weight: bold; 
   color: black;
   padding-top: 5px;
}

.formcontentvaluehrmin {
   width: 30px;
}

.formcontenseparator
{
   margin-top:0px;
   margin-bottom:10px;
}
/*Display on smaller screen, not now*/
#pull {
    display: none;
}


.pageTitle {
    float: left;
    margin-left: 35px;
    position: relative;
    top: 18px;
    font-size: 8pt;
    color: #990505;
  
}


/*Hack*/
img,
embed,
object,
video {
  max-width: 100%;
}


/*
    Login
*/
.login {
    position: relative;
    top: -25px;
    width: 350px;
    height: 30px;
    float: right;
}

    .login .frmLogin {
        text-align: left;
    }

.frmLogin span {
    color: #000;
    float: left;
}

.frmLogin .title {
    margin-left: 3px;
}

/*Margin on right "username"*/
.frmLogin input[type='text'] {
    margin-right: 10px;
}

.frmLogin button {
    font-size: 8pt;
    margin-top: 25px;
    margin-left: 3px;
}

input[type="text"], input[type="password"], textarea, select { 
    outline: none;
}

.frmLogin input[type='text'],
.frmLogin input[type='password'] {
    border: 1px solid #d5d5d5;
    margin: 2px;
    padding: 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 75px;
}

.frmLogin input[type='text']:focus,
.frmLogin input[type='password']:focus {
    border: 1px solid #d2d2d2 !important;
    background: #fafafa;
}
.formLogin .error {
    border: 1px solid #990505;
    background: #ef4036;
}
/* //Login */




.titleContainer
{
	width:650px;
	height:33px;
	background-color:#f1f1f1;
}

.titleContainerImage
{
	width:20px;
	height:33px;
	display:inline;
}
.titleContainerHeadline
{
	width:400px;
	height:33px;
	display:inline;
	
}
.titleContainerHeadlineText
{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#202327;
	font-size:19px;
	display:inline;	
		font-weight:800;

/*Styles for screen 1280px and lower*/
@media screen and (max-width: 1280px) {

    nav {
       width: 100%;
    }

    .dummy {
        margin-right: 8px !important;
        width: 100%;
        float: left;
        text-align: center;
    }

    .content {
            min-height: 446px;
            min-width: 100%;
    }

    .form {
        max-width: 330px;
    }
}




/*Styles for screen 960px and lower*/
@media screen and (max-width: 960px) {
    .container {
        padding: 10px 17px 10px 17px;
    }

    .content {
        min-width: 100%;
    }

    .logo {
        width: 240px;
        height: 36px;
    }
    .dummy {
        margin-right: 8px !important;
        width: 100%;
        float: left;
    }

    .form {
        max-width: 320px;
    }

     .frmLogin {
        display: none;
    }

    .pageTitle {
        display: none;
    }
}




/*Styles for screen 515px and lower*/
@media only screen and (max-width : 480px) {

    .dummy {
        width: 100% !important;
        float: left;
    }
    .form {
        max-width: 90%;
    }

    .frmLogin {
        display: none;
    }

    .pageTitle {
        display: none;
    }



    nav {
		border-bottom: 0;
        width: 100%;
	}

        nav li a {
            width: 100%;
        }

	nav ul {
		display: none;
		height: auto;
	}

    nav a#pull {
		display: block;
		width: 100%;
		position: relative;
	}
	nav a#pull:after {
		content:"";
		width: 300px;
		height: 30px;
		display: inline-block;
		position: absolute;
	}
}



/*Smartphone*/
@media only screen and (max-width : 320px) {
	  .container {
        width: 320px;
    }
    
      nav li {
		display: block;
		float: none;
		width: 100%;
	}
	nav li a {
		border-bottom: 1px solid #576979;
	}

}




/*Forms*/


.field {
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
}

    .field div {
        margin-left: 110px;
        margin-bottom: 10px;
    }

    .field span {
        position: relative;
        left: 50px;
        top: 20px;
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
    }

input[type='text'], input[type='password'], select {
    border: 1px solid #d5d5d5;
}

select {
    -webkit-appearance: button;
    /*-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);*/
    -webkit-padding-end: 30px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
   /* min-width: 20px;*/
    background: url(../images/arr.png) no-repeat scroll 319px 10px #fff;
    background-position: center right 8px;
    background-repeat: no-repeat;
    
    color: #555;
    font-size: 8pt;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.divider8px {
    height: 8px;
}

