﻿@model SEB.ViewModels.contactViewModel

@{
    ViewBag.Title = "Contact Us / Report an Error";
    var hostUrl = CommonHelper.GetHostUrl();

}
<link href="@(hostUrl + "/Content/ChooseACar.css")" rel="stylesheet" type="text/css" />

<br/>

@Html.Raw(ViewBag.Message)

@using(Html.BeginForm())
{
    
    <div style="width:100%; background-color:#FFF;  min-height: 300px; text-align:center; float:left;">
                
        <div class="siHeader">
            <div class="siTitle">
                <img src="@(hostUrl + "/Content/images/icon_car.gif")" alt="Contact uss" title="Contact uss" /><div style="padding-top:8px;padding-left:10px;float:right;"> @Resources.Copy.Contact_Title</div>
            </div>
        </div>
        <div style="clear:both;"/>
 
        <style>
            .siHeader{float:left;width:650px;background:#f1f1f1}
            .siTitle{float:left; color:#202327;font-size:1.3em;padding:4px 5px 2px 5px;font-weight:bold;}
        </style>
        <br clear="all"/><br clear="all"/>
        <div style="float:left; text-align:right; width:39%; height:30px;">@Resources.Copy.Contact_Company : </div><div style="float:right; text-align:left;width:59%; height:30px;">
            <select id="Company" name="Company">
                <option value="1"> AVIS</option>
                <option value="2"> BUDGET</option>
            </select>
        </div>
        <div style="float:left; text-align:right; width:39%; height:30px;">@Resources.Copy.Contact_EnquiryType : </div><div style="float:right; text-align:left;width:59%; height:30px;">
            <select id="EnquiryType" name="EnquiryType">
                <option value="1">@Resources.Copy.Contact_EnquiryType_TechnicalIssue</option>
                <option value="2">@Resources.Copy.Contact_EnquiryType_ReservationEnquiry</option>
                <!--<option value="3">@Resources.Copy.Contact_EnquiryType_CustomerService</option>-->
            </select>
        </div>
        <div style="float:left; text-align:right; width:39%; height:30px;">@Resources.Copy.DriverFirstName : </div><div style="float:right; text-align:left;width:59%; height:30px;">@Html.TextBoxFor(model => Model.FirstName) @Html.ValidationMessageFor(model => model.FirstName)</div>
        <div style="float:left; text-align:right; width:39%; height:30px;">@Resources.Copy.DriverLastName : </div><div style="float:right; text-align:left;width:59%; height:30px;">@Html.TextBoxFor(model => Model.LastName) @Html.ValidationMessageFor(model => model.LastName)</div>
        <div style="float:left; text-align:right; width:39%; height:30px;">@Resources.Copy.User_Email : </div><div style="float:right; text-align:left;width:59%; height:30px;">@Html.TextBoxFor(model => Model.EmailAddress) @Html.ValidationMessageFor(model => model.EmailAddress)</div>
        <div style="float:left; text-align:right; width:39%; height:30px;">@Resources.Copy.User_MobilePhoneNumber : </div><div style="float:right; text-align:left;width:59%; height:30px;">@Html.TextBoxFor(model => Model.PhoneNumber) @Html.ValidationMessageFor(model => model.PhoneNumber)</div>
        <div style="float:left; text-align:right; width:39%; height:100px; padding-bottom: 35px;">@Resources.Copy.Contact_enquiry : </div><div style="float:right; text-align:left;width:59%; height:30px;">@Html.TextAreaFor(model => Model.Enquiry, new { @cols="45", @rows="7" }) @Html.ValidationMessageFor(model => model.Enquiry)</div>



     <div style="width:100%; background-color:#FFF; padding-top: 5px; min-height: 90px; text-align:center; float:left;">
        <p style="width:95%; text-align:right;">
                
           
            <button type="submit" value = "@Resources.Copy.Contact_SendEnquiry" style="width:150px;">@Resources.Copy.Contact_SendEnquiry</button>
           
        </p>
        </div>


    </div>

    
    
    <div style="width:95%; background-color:#FFF; padding-left:10px; padding-right:10px; padding-top: 1px; min-height: 150px; text-align:left; float:left;">
    
        <div style="width:100%; height:30px; background:url(@(hostUrl + "/Content/Images/contentSepWide.jpg"))  no-repeat top left;">
            <div style="background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F0F0F0), color-stop(1, #C0C0C0)); padding-left: 20px; padding-right:10px; font-weight:bold; width:20%; height:26px;">
                <div style="padding-top:5px;">@Html.Raw(Resources.Copy.Contact_CustomerServiceLabel)</div>
                   </div>
        </div>
    
        <p>@Html.Raw(Resources.Copy.Contact_CustomerServiceParagraph)
            <br/><br/>
           @Html.Raw(Resources.Copy.Contact_CustomerServiceLink)
        </p>
        <br/>
        <br/>
        
        
         <div style="width:100%; height:30px; background:url(@(hostUrl + "/Content/Images/contentSepWide.jpg"))  no-repeat top left;">
             <div style="background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F0F0F0), color-stop(1, #C0C0C0)); padding-left: 20px; padding-right:10px; font-weight:bold; width:25%; height:26px;">
                 <div style="padding-top:5px;">@Html.Raw(Resources.Copy.Contact_GetInvoiceLabel)</div>
             </div>
             </div>
             <p>@Html.Raw(Resources.Copy.Contact_GetInvoiceParagraph)
            
                 <br/><br/>@Html.Raw(Resources.Copy.Contact_GetInvoiceLink)
            
        </p>

         </div>
    
    
  
    
}
</div>