﻿@model SEB.Entities.User

@{
    ViewBag.Title = "User Details";
    var hostUrl = CommonHelper.GetHostUrl();
}

<script src="@(hostUrl + "/Scripts/jquery-1.8.2.js")" type="text/javascript"></script>
<script src="@(hostUrl + "/Scripts/jquery-ui-1.8.11.js")" type="text/javascript"></script>



@Html.Raw(ViewBag.Message)

@{
    if (Model == null)
    { <h3>@Resources.Copy.Info_NoUser</h3> }
    else
    {


        using (Html.BeginForm())
        {
            <br/>
            <div style="width:95%;background-color:#f0f0f0;  min-height: 520px; text-align:center; float:left;">
                
                <div class="siHeader">
                    <div class="siTitle">
                        @Resources.Copy.User_UserDetails
                    </div>
                </div>
		
 
                <style>
                    .siHeader{float:left;width:100%;background:#303030}
                    .siTitle{float:left;padding:5px;color:#fff;font-size:1.1em;padding:5px 5px 5px 5px;font-weight:bold}
                </style>
                <br clear="all"/>
                @Html.HiddenFor(model => model.id)
                @Html.HiddenFor(model => model.Pw)
                @Html.HiddenFor(model => model.DateCreated)

                 <br clear="all"/><br clear="all"/>
                <!--<div style="float:left; text-align:right; width:49%; height:30px;">Resources.Copy.User_UserID : </div><div style="float:right; text-align:left;width:49%; height:30px;"><strong>Model.EmployeeId</strong></div>-->
                <div style="float:left; text-align:right; width:35%; height:30px;">@Resources.Copy.User_FirstName *: </div><div style="float:right; text-align:left;width:64%; height:30px;">@Html.TextBoxFor(model => Model.FirstName) @Html.ValidationMessageFor(model => model.FirstName)</div>
                <div style="float:left; text-align:right; width:35%; height:30px;">@Resources.Copy.User_LastName *: </div><div style="float:right; text-align:left;width:64%; height:30px;">@Html.TextBoxFor(model => Model.LastName) @Html.ValidationMessageFor(model => model.LastName)</div>
                <div style="float:left; text-align:right; width:35%; height:30px;">@Resources.Copy.User_Email *: </div><div style="float:right; text-align:left;width:64%; height:30px;">@Html.TextBoxFor(model => Model.Email, new { @readonly="readonly"})</div>
                <div style="float:left; text-align:right; width:35%; height:30px;">@Resources.Copy.User_MobilePhoneNumber: </div><div style="float:right; text-align:left;width:64%; height:30px;">@Html.TextBoxFor(model => Model.MobileNumber) @Html.ValidationMessageFor(model => model.MobileNumber)</div>
                <div style="float:left; text-align:right; width:35%; height:30px;">@Resources.Copy.User_HomeAddressLine1 *: </div><div style="float:right; text-align:left;width:64%; height:30px;">@Html.TextBoxFor(model => Model.Address1) @Html.ValidationMessageFor(model => model.Address1)</div>
                <div style="float:left; text-align:right; width:35%; height:30px;">@Resources.Copy.User_HomeAddressLine2 : </div><div style="float:right; text-align:left;width:64%; height:30px;">@Html.TextBoxFor(model => Model.Address2)</div>
                <div style="float:left; text-align:right; width:35%; height:30px;">@Resources.Copy.User_City * : </div><div style="float:right; text-align:left;width:64%; height:30px;">@Html.TextBoxFor(model => Model.City) @Html.ValidationMessageFor(model => model.City)</div>
                <div style="float:left; text-align:right; width:35%; height:30px;">@Resources.Copy.State : </div><div style="float:right; text-align:left;width:64%; height:30px;">@Html.TextBoxFor(model => Model.State)</div>
                <div style="float:left; text-align:right; width:35%; height:30px;">@Resources.Copy.User_PostalCode *: </div><div style="float:right; text-align:left;width:64%; height:30px;">@Html.TextBoxFor(model => Model.PostCode) @Html.ValidationMessageFor(model => model.PostCode)</div>
                <div style="float:left; text-align:right; width:35%; height:30px;">@Resources.Copy.Country : </div><div style="float:right; text-align:left;width:64%; height:30px;">@Html.DropDownListFor(model => Model.Country, (IEnumerable<SelectListItem>)ViewBag.Countries) </div>
                <div style="float:left; text-align:right; width:35%; height:30px;">@Resources.Copy.User_DOB *: </div><div style="float:right; text-align:left;width:64%; height:30px;">@Html.TextBox("DateOfBirth", Model.DateOfBirth.ToShortDateString(), new{@readonly="readonly"}) @Html.ValidationMessageFor(model => model.DateOfBirth)</div>
          
                <div style="float:left; text-align:right; width:35%; height:30px;">@Resources.Copy.Activate_DriversLicenseNumber *: </div><div style="float:right; text-align:left;width:64%; height:30px;">@Html.TextBoxFor(model => Model.DriversLicense) @Html.ValidationMessageFor(model => model.DriversLicense)</div>
                <div style="float:left; text-align:right; width:35%; height:30px;"></div><div style="float:right; text-align:left;width:64%; height:30px;">@Html.ActionLink(Resources.Copy.ChangePassword, "changepassword", "user")</div>
                <p style="width:95%; text-align:right;">
                
                   
                        <button type="submit" id="submitForm" value = "@Resources.Copy.User_UpdateDetails" style="width:150px;">@Resources.Copy.User_UpdateDetails</button>
                   
                </p>
            </div>
    
    
          
        }
       
        }
    }


<script type = "text/javascript">
    var d = new Date();
    var year = @Model.DateOfBirth.Year;
    var day = @Model.DateOfBirth.Day;
    var month = @Model.DateOfBirth.Month;

    $(document).ready(function () {
        $("#DateOfBirth").datepicker({ dateFormat: 'dd-mm-yy', defaultDate: new Date(year, month - 1, day), changeMonth: true,
            changeYear: true,
            showButtonPanel: true, maxDate: new Date(@DateTime.Now.AddYears(-18).Year, d.getMonth(), d.getDate()),
            yearRange: '-90:-18'
        });

        var s = $("#DateOfBirth").val();
        //alert(s.substring(0,10));


            $("#DateofBirth").val(s.substring(0,10));
       


        $("#submitForm").click(function () {

            if ($.trim($('#Email').val()) == "") {
                alert("You must enter an Email Address.");
                return false;
            }

            if ($.trim($('#DateOfBirth').val()) == "") {
                alert("You must enter a Date Of Birth.");
                return false;
            }
            if ($.trim($('#DriversLicense').val()) == "") {
                alert("You must enter a Drivers License Number.");
                return false;
            }


            return true;
        }

        );

    });

</script>
