﻿@{
    ViewBag.Title = "Login to Avis booking system";
    var hostUrl = CommonHelper.GetHostUrl();

}



<br clear="all"/>

<br clear="all"/>
@using (Html.BeginForm())
{
    <div style="width: 100%; min-height:400px; text-align: center;">
        <div style="width:29%; float:left;">&nbsp;</div>
        <div style="width: 40%; height: 170px; border: solid 1px black;float:left; ">
            <br clear="all"/>
            
            <span style="color:red;">@Html.Raw(ViewBag.Message)<br/><br /></span>
            <div style="width: 49%; text-align: right; float:left;"><strong>@Resources.Copy.Login_EmployeeId:</strong></div><div style="width: 49%; text-align: left; float:right;"><input type="text" id="txtUser" name="txtUser"/></div>
            <br clear="all"/>
            <br clear="all"/>
            <div style="width: 49%; text-align: right; float:left;"><strong>@Resources.Copy.Password:</strong></div><div style="width: 49%; text-align: left;float:right;"><input type="password" id="txtPassword" name="txtPassword"/></div>
            <br clear="all"/>
            <br clear="all"/>


            <div style="width: 100%; text-align:right;">
                
                <style>
               .primaryButtonleft
               {
                   display:block;float:right;width:auto;background: url(@hostUrl/content/images/sprites_main.png) left -3000px no-repeat;padding: 0 0 0 15px; margin-left: 20px;;
               }
           </style>
               
       
                <div class="primaryButtonleft">
                    <input type="submit" name="button" id="button" value="@Resources.Copy.Login" style="background:url(@(hostUrl + "/content/images/sprites_main.png")) 
                    right -3050px no-repeat;color:#fff;font-weight:bold;font-size:1.3em;font-style:italic;padding:9px 40px 20px 10px;text-decoration:none;border: none; margin-right:25px;" />
                </div>
                
                </div>

            <!--<div style="width: 34%; text-align:right;float:right;">
                
                <style>
               .primaryButton
               {
                   display:block;float:right;width:auto;background: url(@hostUrl/content/images/sprites_main.png) left -3000px no-repeat;padding: 0 0 0 15px;
               }
           </style>
               
       
                <div class="primaryButton">
                    <input type="submit"name="button" id="button" value="@Resources.Copy.LostWizardNumber"  style="background:url(@(hostUrl + "/content/images/sprites_main.png")) right -3050px no-repeat;color:#fff;font-weight:bold;font-size:1.3em;font-style:italic;padding:9px 40px 20px 10px;text-decoration:none;border: none; margin-right:25px;"/>
                </div>
               
                </div> -->
        </div>
                <div style="width:29%; float:right;">&nbsp;</div>

    </div>
}
