﻿
@model SEB.Entities.User

@{
    ViewBag.Title = "Register";
    var hostUrl = CommonHelper.GetHostUrl();

}
<script>
    var terms = '@ViewBag.terms';

</script>
<script src="@(hostUrl + "/Scripts/jquery-1.8.2.js")" type="text/javascript"></script>
<script src="@(hostUrl + "/Scripts/jquery-ui-1.8.11.js")" type="text/javascript"></script>

@Html.Raw(ViewBag.Message1);

<div style="vertical-align:middle; text-align:center;">

    <!--<h3 align="center" style="width:100%;">You must activate your account with an Avis Wizard Number in order to make a booking.</h3>-->
    <span align="center" style="width:100%; font-weight:bold;">@ViewBag.Message</span>
</div>


@{
        using (Html.BeginForm())
  {
            <br/>
      <div style="width:95%;background-color:#f0f0f0; min-height: 520px; text-align:center; float:left;">
          <div class="siHeader">
              <div class="siTitle">
                  @Resources.Copy.Activate_Title
              </div>
          </div>
		
 
          <style>
              .siHeader{float:left;width:100%;background:#303030}
              .siTitle{float:left;padding:5px;color:#fff;font-size:1.1em;padding:5px 5px 5px 5px;font-weight:bold}
          </style>

                   
          <br clear="all"/><br clear="all"/>

                <div style="float:left; text-align:right; width:35%; height:30px;">@Resources.Copy.User_FirstName *: </div><div style="float:right; text-align:left;width:64%; height:30px;">@Html.TextBoxFor(model => Model.FirstName) @Html.ValidationMessageFor(model => Model.FirstName)</div>
                <div style="float:left; text-align:right; width:35%; height:30px;">@Resources.Copy.User_LastName *: </div><div style="float:right; text-align:left;width:64%; height:30px;">@Html.TextBoxFor(model => Model.LastName) @Html.ValidationMessageFor(model => model.LastName)</div>
          <div style="float:left; text-align:right; width:35%; height:30px;">@Resources.Copy.User_Email *: </div><div style="float:right; text-align:left;width:64%; height:30px;">@Html.TextBoxFor(model => Model.Email) @Html.ValidationMessageFor(model => model.Email)</div>
                          <div style="float:left; text-align:right; width:35%; height:30px;">@Resources.Copy.Password *: </div><div style="float:right; text-align:left;width:64%; height:30px;">@Html.PasswordFor(model => Model.Pw) @Html.ValidationMessageFor(model => model.Pw)</div>

                <div style="float:left; text-align:right; width:35%; height:30px;">@Resources.Copy.User_MobilePhoneNumber : </div><div style="float:right; text-align:left;width:64%; height:30px;">@Html.TextBoxFor(model => Model.MobileNumber)</div>
                <div style="float:left; text-align:right; width:35%; height:30px;">@Resources.Copy.User_HomeAddressLine1 *: </div><div style="float:right; text-align:left;width:64%; height:30px;">@Html.TextBoxFor(model => Model.Address1) @Html.ValidationMessageFor(model => model.Address1)</div>
                <div style="float:left; text-align:right; width:35%; height:30px;">@Resources.Copy.User_HomeAddressLine2 : </div><div style="float:right; text-align:left;width:64%; height:30px;">@Html.TextBoxFor(model => Model.Address2)</div>
                <div style="float:left; text-align:right; width:35%; height:30px;">@Resources.Copy.User_City *: </div><div style="float:right; text-align:left;width:64%; height:30px;">@Html.TextBoxFor(model => Model.City) @Html.ValidationMessageFor(model => model.City)</div>
                <div style="float:left; text-align:right; width:35%; height:30px;">@Resources.Copy.State : </div><div style="float:right; text-align:left;width:64%; height:30px;">@Html.TextBoxFor(model => Model.State)</div>
                <div style="float:left; text-align:right; width:35%; height:30px;">@Resources.Copy.User_PostalCode *: </div><div style="float:right; text-align:left;width:64%; height:30px;">@Html.TextBoxFor(model => Model.PostCode) @Html.ValidationMessageFor(model => model.PostCode)</div>
                <div style="float:left; text-align:right; width:35%; height:30px;">@Resources.Copy.Country : </div><div style="float:right; text-align:left;width:64%; height:30px;">@Html.DropDownListFor(model => Model.Country, (IEnumerable<SelectListItem>) ViewBag.Countries) </div>
          <div style="float:left; text-align:right; width:35%; height:30px;">@Resources.Copy.User_DOB *: </div><div style="float:right; text-align:left;width:64%; height:30px;">
                                                                                                                   
                    @Html.TextBoxFor(model => Model.DateOfBirth, new { @size = "7"})
                    <!--
                    Html.DropDownList("day", Enumerable.Range(1, 31).Select(i => new SelectListItem { Value = i.ToString(), Text = i.ToString()}), "-- Day --")
                    Html.DropDownList("month", Enumerable.Range(1, 12).Select(i => new SelectListItem { Value = i.ToString(), Text = i.ToString()}), "-- Month --")
                    Html.DropDownList("year", Enumerable.Range(DateTime.Now.AddYears(-70).Year,53).Select(i => new SelectListItem { Value = i.ToString(), Text = i.ToString()}), "-- Year --")
                    TempData["dobMessage"]-->
                                                                                                               </div>
          
                <div style="float:left; text-align:right; width:35%; height:30px;">@Resources.Copy.Activate_DriversLicenseNumber *: </div><div style="float:right; text-align:left;width:64%; height:30px;">@Html.TextBoxFor(model => Model.DriversLicense) @Html.ValidationMessageFor(model => model.DriversLicense)</div>

                <div style="float:left; text-align:right; width:35%; height:30px;"><label for="chkPrivacy">@Resources.Copy.User_IhaveRead <a href="../../home/pul" target="_blank">@Resources.Copy.PrivacyPolicy</a></label></div><div style="float:right; text-align:left;width:64%; height:30px;">@Html.CheckBox("TermsAgreed") <span id="privacyValidation"></span></div>

          <p style="width:95%; text-align:right;">
              
                  <button type="submit" id="submitForm" value="@Resources.Copy.Activate_Save" style="width:150px;">@Resources.Copy.Activate_Save</button>
              
          </p>
      </div>
    
 
    
  }
}
    
    


<script type = "text/javascript">
    var d = new Date();
    var year = d.getFullYear() - 18;

    $(document).ready(function () {
        $("#DateOfBirth").datepicker({ dateFormat: 'dd-mm-yy', defaultDate: new Date(year, d.getMonth(), d.getDate()), changeMonth: true,
            changeYear: true,
            showButtonPanel: true, maxDate: new Date(year, d.getMonth(), d.getDate()),
            yearRange: '-90:-18'
        });

        $("#submitForm").click(function () {

            var msg = ""; //"The form has the following errors: \n\n";
            var proceed = true;
            //            if (!$('#FirstName').val().trim().length() == 0) {
            //                msg += "You haven't entered a first name \n";
            //                proceed = false;
            //            }

            if (!$('#TermsAgreed').attr('checked')) {
                msg += "@Html.Raw(Resources.Copy.Validations_Terms)";
                proceed = false;
            }

            if (proceed) {
                return true;
            } else {
                alert(msg);
                return false;
            }
        });
    });

</script>

