﻿@{
    ViewBag.Title = "Avis Preferred";
    var hostUrl = CommonHelper.GetHostUrl();

}

<div style="width:650px; padding: 15px;">
<h1 style="color:#c00; font-size:1.4em; font-style:italic; width:100%; font-family:Arial;">@Html.Raw(Resources.Copy.AP_Title)</h1>
<div style="width:50%; float:left;">

<img src="@(hostUrl)/Content/Images/preferredLP.jpg" alt="Avis Preferred" width="250" height="210" />
</div>

<div style="width:45%;float:right;">
<label style="font-size:1.2em; font-weight:bold; font-style:italic;">@Html.Raw(Resources.Copy.AP_SubTitle)</label>
<p>@Html.Raw(Resources.Copy.AP_Description)</p>
</div>

<br style="clear:both;"/>
    <div style="width:100%;">
        <br/>&nbsp;
        <h2 style="font-size:1.3em; font-style:italic;">@Html.Raw(Resources.Copy.AP_SelectAreaTitle)</h2>
        <div style="width:50%; float:left;">
            <label>@Html.Raw(Resources.Copy.AP_ListBoxLabel)</label>

        </div>


        <div style="width:45%; float:right; text-align:right;">
            <select style="width:100%;" id="cardType">
                @if (Session["chosenCardmake"] != null && Session["chosenCardmake"].ToString() == "EC")
                {
                    <option value="ECG">EUROCARD GOLD</option>
                    <option value="ECP">EUROCARD PLATINUM</option>
                }
                else if (Session["chosenCardmake"] != null && Session["chosenCardmake"].ToString() == "DC")
                {                                              
                    <option value="DC">DINERS CLUB</option>
                    <option value="DCP">DINERS CLUB</option>
                }
            </select>
            <p>
                <button id="Proceed" style="width:100px;">@Resources.Copy.AP_ButtonText</button>
                <!--Html.ActionLink("Proceed", "BookingDetails", "Booking", new { item = Request["item"] }, new { class = "button" })-->
            </p>
        </div>

    </div>
    <br/>&nbsp;
    <br/>&nbsp;
    <br/>&nbsp;
    <br/>&nbsp;
    <br/>&nbsp;
<div style="width:650px; padding: 15px; padding-top: 40px;">
    
    <div>
        <img src="@(hostUrl)/Content/Images/Ribbon2_BowTied_AvisRed.jpg" alt="Avis Preferred" width="650" height="125" /> 
    </div>
</div>
    </div>

<script type="text/javascript">

    $(document).ready(function () {
        $("#Proceed").click(function() {
            switch($("#cardType").val())
            {
                case "ECG":
                    window.open("http://www.avispreferred.eu/eurocardgold");
                break;
                case "ECP":
                    window.open("http://www.avispreferred.eu/eurocardplatinum");
                break;
                case "DC":
                    window.open("http://www.avispreferred.eu/dinersclub");
                break;
                case "DCP":
                    window.open("http://www.avispreferred.eu/dinersclubpremier");
                break;
            }
        });

    });

</script>