﻿@{
    ViewBag.Title = "Booking Conditions";
    var hostUrl = CommonHelper.GetHostUrl();
}

@if (Request["company"] != null && Request["company"].ToString() == "budget")
{
    <h1 style="margin-left:7px;">@Html.Raw(Resources.Copy.BookingConditions_H1)</h1>

    <h2 style="margin-left:7px;">@Html.Raw(Resources.Copy.BookingConditionsBudgetFI_Paragraph1_H2)</h2>
    <p style="margin-left:7px;">@Html.Raw(Resources.Copy.BookingConditionsBudgetFI_Paragraph1_P)</p>
    <img src="@(hostUrl + "/Content/Images/contentSepWide.jpg")"  width="100%"/>

    <h2 style="margin-left:7px;">@Html.Raw(Resources.Copy.BookingConditionsBudgetFI_Paragraph2_H2)</h2>
    <p style="margin-left:7px;">@Html.Raw(Resources.Copy.BookingConditionsBudgetFI_Paragraph2_P)</p>
    <img src="@(hostUrl + "/Content/Images/contentSepWide.jpg")"  width="100%"/>

    <h2 style="margin-left:7px;">@Html.Raw(Resources.Copy.BookingConditionsBudgetFI_Paragraph3_H2)</h2>
    <p style="margin-left:7px;">@Html.Raw(Resources.Copy.BookingConditionsBudgetFI_Paragraph3_P)</p>
    <img src="@(hostUrl + "/Content/Images/contentSepWide.jpg")"  width="100%"/>

    <h2 style="margin-left:7px;">@Html.Raw(Resources.Copy.BookingConditionsBudgetFI_Paragraph4_H2)</h2>
    <p style="margin-left:7px;">@Html.Raw(Resources.Copy.BookingConditionsBudgetFI_Paragraph4_P)</p>
}
else
{
    <h1 style="margin-left:7px;">@Html.Raw(Resources.Copy.BookingConditions_H1)</h1>

    <h2 style="margin-left:7px;">@Html.Raw(Resources.Copy.BookingConditions_Paragraph1_H2)</h2>
    <p style="margin-left:7px;">@Html.Raw(Resources.Copy.BookingConditions_Paragraph1_P)</p>
    <img src="@(hostUrl + "/Content/Images/contentSepWide.jpg")"  width="100%"/>

    <h2 style="margin-left:7px;">@Html.Raw(Resources.Copy.BookingConditions_Paragraph2_H2)</h2>
    <p style="margin-left:7px;">@Html.Raw(Resources.Copy.BookingConditions_Paragraph2_P)</p>
    <img src="@(hostUrl + "/Content/Images/contentSepWide.jpg")"  width="100%"/>

    <h2 style="margin-left:7px;">@Html.Raw(Resources.Copy.BookingConditions_Paragraph3_H2)</h2>
    <p style="margin-left:7px;">@Html.Raw(Resources.Copy.BookingConditions_Paragraph3_P)</p>
    <img src="@(hostUrl + "/Content/Images/contentSepWide.jpg")"  width="100%"/>

    <h2 style="margin-left:7px;">@Html.Raw(Resources.Copy.BookingConditions_Paragraph4_H2)</h2>
    <p style="margin-left:7px;">@Html.Raw(Resources.Copy.BookingConditions_Paragraph4_P)</p>

}
