﻿@{
    ViewBag.Title = "Membership Benefits";
    var hostUrl = CommonHelper.GetHostUrl();
    Layout = "../shared/_LayoutTerms.cshtml";
}
<br/>
<div style="width:100%;  min-height: 520px; text-align:left; float:left;">
    
    <div class="siHeader">
            <div class="siTitle">
                <img src="@(hostUrl + "/Content/images/icon_details.jpg")" alt="Memebership benefits" title="Memebership benefits" /><div style="padding-top:8px;padding-left:10px;float:right;"> @Resources.Copy.Menu_Info</div>
            </div>
        </div>
    <div style="clear:both;"></div>
    <style>
            .siHeader{float:left;width:100%;background:#f1f1f1}
            .siTitle{float:left; color:#202327;font-size:1.3em;padding:4px 5px 2px 5px;font-weight:bold;}
        </style>
    <br clear="all"/>
    @if (Session["chosenCardmake"] != null && Session["chosenCardmake"].ToString() == "EC")
    {
       
            <div style="width:49%; float:left; border:3px solid #dce4f3; min-height:390px; margin-left:1px;">
            <img src="@(hostUrl)/Content/Images/memeber_section_landscape_avis.jpg" />
            <!--<div style="width:325px;  min-height: 520px; text-align:left; float:left; display: inline; background-color: #d4002a;">
            <img src="@(hostUrl)/Content/Images/memeber_section_avis.jpg" alt="Avis Preferred" width="325" height="219" />-->
                    
            <p style="padding: 5px;">
                <strong>@Html.Raw(Resources.Copy.Terms_EurocardAvisHeadline)</strong>
                <br/><br/>
                @Html.Raw(Resources.Copy.Terms_EurocardAvisParagraph1)
                <br/><br/>
                @Html.Raw(Resources.Copy.Terms_EurocardAvisParagraph2)
                <br/><br/>
                @Html.Raw(Resources.Copy.Terms_EurocardAvisParagraph3)
            </p>
        
        </div>
        
        <!--<div style="width:2%; float:left;">
        
        </div>-->
        
        <div style="width:49.5%; float:right; border:3px solid #dce4f3; margin-right: 1px; min-height:390px;">
            <img src="@(hostUrl)/Content/Images/memeber_section_landscape_budget.jpg" />
            <!--<div style="width:325px;  min-height: 520px; text-align:left; float:left; display: inline; background-color: #1f497d;">
            <img src="@(hostUrl)/Content/Images/memeber_section_budget.jpg" alt="Avis Preferred" width="325" height="219" />-->
                    
            <p style="padding: 5px;">
                <strong>@Html.Raw(Resources.Copy.Terms_EurocardBudgetHeadline)</strong>
                <br/><br/>
                 @Html.Raw(Resources.Copy.Terms_EurocardBudgetParagraph1)
                <br/><br/>
                @Html.Raw(Resources.Copy.Terms_EurocardBudgetParagraph2)
                <br/><br/><br/>
                @Html.Raw(Resources.Copy.Terms_EurocardBudgetParagraph3)
                
            </p>
        </div> 
    }
    else if (Session["chosenCardmake"] != null && Session["chosenCardmake"].ToString() == "DC")
    {     
        
        <div style="width:49%; float:left; border:3px solid #dce4f3; min-height:390px; margin-left:1px;">
            <img src="@(hostUrl)/Content/Images/memeber_section_landscape_avis.jpg" />
            <!--<div style="width:325px;  min-height: 520px; text-align:left; float:left; display: inline; background-color: #d4002a;">
            <img src="@(hostUrl)/Content/Images/memeber_section_avis.jpg" alt="Avis Preferred" width="325" height="219" />-->
                    
            <p style="padding: 5px;">
                <strong>@Html.Raw(Resources.Copy.Terms_DinersAvisHeadline)</strong>
                <br/><br/>
                @Html.Raw(Resources.Copy.Terms_DinersAvisParagraph1)
                <br/><br/>
                @Html.Raw(Resources.Copy.Terms_DinersAvisParagraph2)
                <br/><br/>
                @Html.Raw(Resources.Copy.Terms_DinersAvisParagraph3)
            </p>
        
        </div>
        
        <!--<div style="width:2%; float:left;">
        
        </div>-->
        
        <div style="width:49.5%; float:right; border:3px solid #dce4f3; margin-right: 1px; min-height:390px;">
            <img src="@(hostUrl)/Content/Images/memeber_section_landscape_budget.jpg" />
            <!--<div style="width:325px;  min-height: 520px; text-align:left; float:left; display: inline; background-color: #1f497d;">
            <img src="@(hostUrl)/Content/Images/memeber_section_budget.jpg" alt="Avis Preferred" width="325" height="219" />-->
                    
            <p style="padding: 5px;">
                <strong>@Html.Raw(Resources.Copy.Terms_DinersBudgetHeadline)</strong>
                <br/><br/>
                 @Html.Raw(Resources.Copy.Terms_DinersBudgetParagraph1)
                <br/><br/>
                @Html.Raw(Resources.Copy.Terms_DinersBudgetParagraph2)
                <br/><br/><br/>
                @Html.Raw(Resources.Copy.Terms_DinersBudgetParagraph3)
                
            </p>
        </div>
       
                                                 
       
          
        
    }

    </div>