﻿@using SEB
@using Resources
@model SEB.Service.DCReservation

 @{
     ViewBag.Title = "Booking Confirmation";
     BookMakerContext bm = new BookMakerContext();
     SEB.Service.DCReservation rev_req = ViewBag.Rev_Req;
     var hostUrl = CommonHelper.GetHostUrl();
     SEB.Entities.Location pickupLocation = (SEB.Entities.Location)ViewBag.Pickup;
     SEB.Entities.Location returnLocation = (SEB.Entities.Location)ViewBag.Return;
     SEB.Service.DCRate rate = (SEB.Service.DCRate)ViewData["Inclusions"];

}

@{
    Layout = null;
}

<link href="@(hostUrl + "/Content/chooseacar.css")" rel="stylesheet" type="text/css" />

		 
           <style>
               .siHeader{float:left;width:100%;background:#303030}
               .siTitle{float:left;padding:5px;color:#fff;font-size:1.1em;padding:5px 5px 5px 5px;font-weight:bold}

         .summ_label {
                   width: 40%;text-align: right;float: left;padding-right: 5px; padding-top: 5px;font-weight: bold;
               }
               .summ_value {
                   width: 28%;text-align: left;float: left;padding-top: 5px;
               }
               .summ_price {
                   width: 30%;text-align: left;float: left;font-weight: bold; color: red;padding-top: 5px;
               }
                td {
            padding-left: 5px;
            font-family:Arial;
            font-size:12px;
            color:#303030;   
        }
        
        .reservationNR
        {
            font-weight: bold;
            font-size:15px;
        }
    </style>

    
 <table width="601" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td style="font-family: Arial; font-size: 11px; color: #303030; text-align:center; padding-bottom: 5px;"><strong>@Resources.Copy.confirmationEmail_Paragraph1</strong></td>
    </tr>
    <tr>
      <td>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td style="padding: 0 0 5px 0;"><a href="http://www.avis.se" target="_blank"><img src="http://www.avis.se/assets/build/core/emailHeader.gif" alt="Avis" width="600" height="80" border="0"></a></td>
          </tr>
          <tr bgcolor="#303030">
            <td style="background: url(http://www.avis.se/assets/build/core/primaryNavBg.jpg) bottom repeat-x #303030; height: 30px; margin 0 0 5px 0; color: #FFFFFFF;">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="1"><img src="http://www.avis.se/assets/build/space.gif" alt="" width="1" height="24"></td>
                  <td style="padding-right:5px;" align="right"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <h1 style="font-family:Arial;font-size:14px;color:#303030; padding: 10px 0;">
      Bokningsbekräftelse&nbsp;@Model.ID</h1>
      </td>
    </tr>
    <tr>
      <td style="font-family: Arial; font-size: 12px; color: #303030; line-height: 20px; text-align:left; "><strong>@Resources.Copy.confirmationEmail_DearCustomer @Model.DriverGivenName @Model.DriverSurname,</strong><br><br></td>
    </tr>
    <tr>
      <td align="left" style="font-family: Arial; font-size: 12px; color: #303030; line-height: 20px; text-align:left; ">
        <p>@Resources.Copy.confirmationEmail_Paragraph2<br>
        </p>
        <table width="100%" style="border-collapse:collapse;" border="1" bordercolor="#848284">
     <tr>
     <td colspan="3" style="background-color:#efefef; text-align:center;"><font class="reservationNR">@Resources.Copy.confirmationEmail_ReservationNumber: @Model.ID</font></td>
     </tr>
     <tr>
         <td colspan="3"><strong>@Model.DriverSurname, @Model.DriverGivenName</strong></td>
     </tr>
     <tr>
         <td style="width: 20%;">&nbsp;</td><td><strong>From</strong></td><td><strong>To</strong></td>
     </tr>
     <tr>
         <td><strong>@Resources.Copy.Date</strong></td><td>@Model.PickupDateTime.ToString("dd/MM/yyyy H:mm")</td><td>@Model.ReturnDateTime.ToString("dd/MM/yyyy H:mm")</td>
     </tr>
     <tr>
         <td><strong>@Resources.Copy.Details_Days</strong></td><td colspan="2">@ViewBag.Days day(s)</td>
     </tr>
     <tr>
         <td><strong>@Resources.Copy.Offices</strong></td><td>@Model.PickupLocationName<br/>@pickupLocation.Location_Address<br/>@pickupLocation.Location_City<br/>@pickupLocation.Location_PostCode</td>
         <td>@returnLocation.Location_Name<br/>@returnLocation.Location_Address<br/>@returnLocation.Location_City<br/>@returnLocation.Location_PostCode</td>
            
     </tr>
     <tr>
            <td><strong>Opening Hours</strong></td>
            <td style="padding-left:0px; padding-top:0px;">                                       
            <table cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td width="30%">
    @Copy.Monday<br/>
                            @Copy.Tuesday<br/>
                            @Copy.Wednesday<br/>
                            @Copy.Thursday<br/>
                            @Copy.Friday<br/>
                            @Copy.Saturday<br/>
                            @Copy.Sunday<br/>
    </td>
    
    <td>
    @pickupLocation.MondayOpeningHours<br/>
                            @pickupLocation.TuesdayOpeningHours<br/>
                            @pickupLocation.WednesdayOpeningHours<br/>
                            @pickupLocation.ThursdayOpeningHours<br/>
                            @pickupLocation.FridayOpeningHours<br/>
                            @pickupLocation.SaturdayOpeningHours<br/>
                            @pickupLocation.SundayOpeningHours<br/> 
    </td>
  </tr>
  </table>
   </td>
                                                   
    <td style="padding-left:0px; padding-top:0px;">                                            
       <table cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td width="30%">
    @Copy.Monday<br/>
                            @Copy.Tuesday<br/>
                            @Copy.Wednesday<br/>
                            @Copy.Thursday<br/>
                            @Copy.Friday<br/>
                            @Copy.Saturday<br/>
                            @Copy.Sunday<br/>
    </td>
    
    <td>
   @returnLocation.MondayOpeningHours<br/>
                            @returnLocation.TuesdayOpeningHours<br/>
                            @returnLocation.WednesdayOpeningHours<br/>
                            @returnLocation.ThursdayOpeningHours<br/>
                            @returnLocation.FridayOpeningHours<br/>
                            @returnLocation.SaturdayOpeningHours<br/>
                            @returnLocation.SundayOpeningHours<br/> 
    </td>
  </tr>
  </table>                                             
     </td>
        </tr>

        <tr>
         <td><strong>@Resources.Copy.BookingSummary_DeliveryLabel<br/><br/>
         </strong></td>
         <td>

         <table width="100%" border="0" cellpadding="0" cellspacing="0">
         <tr><td style="padding-left:0px; padding-top:0px; border:0px;">
         @if(!string.IsNullOrEmpty(Model.DeliveryAddress1))
         {

                 <b>@Resources.Copy.BookingSummary_DeliverCarTo</b><br />
                 @Model.DeliveryAddress1<br /> 
                 @Model.DeliveryAddress2<br />
                 <br />
         
                 <i>@Resources.Copy.BookingSummary_Deliveryinstruktions</i><br />
                 @Model.DeliveryInstructions1
         }
         else
         {
                 <strong>@Resources.Copy.BookingSummary_NoDelivery</strong>
         }
         </td></tr>
         </table>
         </td>
         
         <td>
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
         <tr><td style="padding-left:0px; padding-top:0px; border:0px;">
         @if(!string.IsNullOrEmpty(Model.CollectionAddress1))
             {
                 <b>@Resources.Copy.BookingSummary_CollectCarAt</b><br />
                 @Model.CollectionAddress1<br />
                 @Model.CollectionAddress2<br />
                 <br />

                 <i>@Resources.Copy.BookingSummary_Collectioninstruktions</i><br />
                 @Model.CollectionInstructions1
             }
             else
             {
                 <strong>@Resources.Copy.BookingSummary_NoCollection</strong>
             }
         </td></tr>
         </table>
         
         </td>
     </tr>
     <tr>
         <td><strong>@Resources.Copy.YourCar</strong></td><td colspan="2">@Model.VehicleMakeModelName</td>
     </tr>
     <tr>
         <td><strong>@Resources.Copy.CostforHire</strong></td><td colspan="2"><strong>@Model.CurrencyCode @Model.Amount</strong></td>
     </tr>
     <tr>
          @if (Model.Extras.Any())
          {
              <td><strong>@Resources.Copy.Extras</strong></td>
          }
          else
          {
              <td><strong>@Resources.Copy.Extras</strong></td><td colspan="2">@Resources.Copy.None</td>
          }
     </tr>
     
     @if (Model.Extras.Any())
     {
         foreach (var ex in Model.Extras)
         {
             if (ex != null)
             {
                <tr>
                     <td>&nbsp;</td><td>@ex.Name - Quantity: @ex.Quantity</td><td>@Model.CurrencyCode @ex.Total
                      <!--if(ex.Total == 0)
                     {
                         Html.Raw(Resources.Copy.Chargedatthestation)
                     }
                     else
                     {
                          Html.Raw("Cost: " + Model.CurrencyCode + ex.Total.ToString())
                     }
                     -->
                     
                     </td>
                 </tr>
             }


         }
     }
     <tr>
         <td><strong>@Resources.Copy.Total</strong></td><td colspan="2">@Model.CurrencyCode @ViewBag.Total</td>    
     </tr>

     <tr>
                     <td><strong>Prepaid/Voucher Amount</strong></td><td colspan="2">@Model.CurrencyCode @ViewBag.VoucherValue</td>    
                 </tr>
       
       @if(ViewData["Inclusions"] != null)
     {
                <tr>
                    <td>
                        <strong>@Resources.Copy.YourPriceIncludes</strong>
                    </td>
                    <td colspan="2">
                        <ul style="list-style-type: disc;">
                            @foreach (SEB.Service.DCCharge charge in rate.Charges)
        {
            if(charge.Name.ToLower() == "vehiclerental") { charge.Text = "Rental"; }
                                <li>@charge.Text - @Model.CurrencyCode @charge.Amount</li>
        }
                        </ul>
                    </td>
                </tr>
      } 

 </table>
        
        
        <p><strong><a name="Info">@Html.Raw(Resources.Copy.confirmationEmail_ImportantInformation)</a></strong></p>
          
          <p>@Html.Raw(Resources.Copy.confirmationEmail_Paragraph3).<br></p>
          
          <p>@Html.Raw(Resources.Copy.confirmationEmail_Paragraph4)<br><br>
              
              @Html.Raw(Resources.Copy.confirmationEmail_Paragraph5) <br /><br>
              @Html.Raw(Resources.Copy.confirmationEmail_Paragraph6)<br><br>
              
              @Html.Raw(Resources.Copy.confirmationEmail_Paragraph7) </p>
          

      </td>
    </tr>
    <tr>
      <td>
        <tr>
          <td> </td>
        </tr>
        <tr>
          <td>
            <table width="600" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td style="font-family:Arial;font:arial;font-size:11px;color:#303030;"><br><strong><img src="http://www.avis.se/assets/build/car_icon2.gif" alt=" " width="16" height="10"> <a href="http://www.avis.se/" style="color:#303030;" target="_blank">www.avis.se</a></strong><br>Avis</td>
                <td rowspan="2" align="left" valign="bottom"><img src="http://www.avis.se/assets/build/core/emailFooter.gif" alt="We try harder" width="201" height="125"></td>
              </tr>
              <tr>
                <td align="right" valign="bottom" width="400"></td>
              </tr>
            </table>
          </td>
        </tr>
      </td>
    </tr>
  </table>
 </div>