﻿@using SEB
@using Resources
@model SEB.Service.DCReservation

 @{
     ViewBag.Title = "Cancellation Confirmation";
     BookMakerContext bm = new BookMakerContext();
     SEB.Service.DCReservation rev_req = ViewBag.Rev_Req;
     var hostUrl = System.Configuration.ConfigurationManager.AppSettings["HostUrl"];
     SEB.Entities.Location pickupLocation = (SEB.Entities.Location)ViewBag.Pickup;
     SEB.Entities.Location returnLocation = (SEB.Entities.Location)ViewBag.Return;
     SEB.Service.DCRate rate = (SEB.Service.DCRate)ViewData["Inclusions"];

}

@{
    Layout = null;
}

<link href="@(hostUrl + "/Content/chooseacar.css")" rel="stylesheet" type="text/css" />

		 
           <style>
               .siHeader{float:left;width:100%;background:#303030}
               .siTitle{float:left;padding:5px;color:#fff;font-size:1.1em;padding:5px 5px 5px 5px;font-weight:bold}

         .summ_label {
                   width: 40%;text-align: right;float: left;padding-right: 5px; padding-top: 5px;font-weight: bold;
               }
               .summ_value {
                   width: 28%;text-align: left;float: left;padding-top: 5px;
               }
               .summ_price {
                   width: 30%;text-align: left;float: left;font-weight: bold; color: red;padding-top: 5px;
               }
                td {
            padding-left: 5px;
            font-family:Arial;
            font-size:12px;
            color:#303030;   
        }
        
        .reservationNR
        {
            font-weight: bold;
            font-size:15px;
        }
    </style>

    
 <table width="601" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td style="font-family: Arial; font-size: 11px; color: #303030; text-align:center; padding-bottom: 5px;"><strong>@Resources.Copy.confirmationEmail_Paragraph1</strong></td>
    </tr>
    <tr>
      <td>
        
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          
          <tr bgcolor="#303030">
            <td style="height: 25px; margin: 0 0 5px 0; color: #FFFFFF;">
             
            </td>
          </tr>
        </table>
        
      </td>
    </tr>
    <tr>
      <td>
        <h1 style="font-family:Arial;font-size:14px;color:#303030; padding: 10px 0;">
      @Html.Raw(Resources.Copy.BookingCancelled_Paragraph1) @Model.ID</h1>
      </td>
    </tr>
    <tr>
      <td style="font-family: Arial; font-size: 12px; color: #303030; line-height: 20px; text-align:left; "><strong>@Resources.Copy.confirmationEmail_DearCustomer @Model.DriverGivenName @Model.DriverSurname,</strong><br><br></td>
    </tr>
    <tr>
      <td align="left" style="font-family: Arial; font-size: 12px; color: #303030; line-height: 20px; text-align:left; ">
        <p>
      @Html.Raw(Resources.Copy.BookingCancelled_Paragraph2) @Model.ID @Html.Raw(Resources.Copy.BookingCancelled_Paragraph3)<br>
        </p>
        <table width="100%" style="border-collapse:collapse;" border="1" bordercolor="#848284">
     <tr>
     <td colspan="3" style="background-color:#efefef; text-align:left;"><font class="reservationNR">@Html.Raw(Resources.Copy.BookingCancelled_Paragraph4)</font></td>
     </tr>
     <tr>
         <td colspan="3"><strong>@Model.DriverSurname, @Model.DriverGivenName</strong>, @Model.PaymentCCI</td>
     </tr>
     <tr>
         <td style="width: 20%;">&nbsp;</td><td><strong>@Resources.Copy.Details_Start</strong></td><td><strong>@Resources.Copy.Details_End</strong></td>
     </tr>
     <tr>
         <td><strong>@Resources.Copy.BookingSummary_RentalPeriod</strong></td><td>@Model.PickupDateTime.ToString("dd/MM/yyyy H:mm")</td><td>@Model.ReturnDateTime.ToString("dd/MM/yyyy H:mm")</td>
     </tr>
     <tr>
         <td><strong>@Resources.Copy.Details_Days</strong></td><td colspan="2">@ViewBag.Days day(s)</td>
     </tr>
     <tr>
         <td><strong>@Resources.Copy.Offices</strong></td><td>@Model.PickupLocationName<br/>@pickupLocation.Location_Address<br/>@pickupLocation.Location_City<br/>@pickupLocation.Location_PostCode</td>
         <td>@returnLocation.Location_Name<br/>@returnLocation.Location_Address<br/>@returnLocation.Location_City<br/>@returnLocation.Location_PostCode</td>
            
     </tr>
     <tr>
       <td><strong>@Resources.Copy.YourCar</strong></td><td colspan="2">@Model.VehicleMakeModelName</td>
     </tr>
     
     
     @if (Model.Extras.Any())
     {
         foreach (var ex in Model.Extras)
         {
             if (ex != null)
             {
             }


         }
     }
       @if(ViewData["Inclusions"] != null)
     {
      } 
 </table>
        
        <p><strong>Avis</strong></p>
      </td>
    </tr>
    <tr>
      <td>
        
        
      </td>
    </tr>
  </table>