﻿@model SEB.Service.DCReservation

@{
    ViewBag.Title = "Booking Details - When and Where";
    var hostUrl = CommonHelper.GetHostUrl();// System.Configuration.ConfigurationManager.AppSettings["HostUrl"];

}
@Html.Raw(ViewBag.Message)


<script src="@(hostUrl + "/Scripts/jquery.blockUI.js")" type="text/javascript"></script>
<script src="@(hostUrl + "/Scripts/DatePickerReady.js")" type="text/javascript"></script>
<script src="@(hostUrl + "/Scripts/jquery.ui.datepicker.js")" type="text/javascript"></script>
<link href="@(hostUrl + "/Content/chooseacar.css")" rel="stylesheet" type="text/css" />
@Html.Partial("_breadCrumb")

<div class="contenthome">
<div style="display:@(ViewBag.DisplayTimeConstraints == true ? "block" : "none"); width:648px; background-color:#fff; border: 1px #c0c0c0 solid; min-height:60px; text-align: center; vertical-align:middle; font-weight:bold;">
           <br />NOTE: For this offer, the minimum amount of days is @ViewBag.minDays and the maximum amount of days is @ViewBag.maxDays
           </div>
 <br/>



@{ using (Html.BeginForm("ChooseACar", "Booking"))
   {
       
  @Html.Hidden("CurrencyCode", "NOK")
     <!--  <div class="form">-->
   <!-- <div class="formheader clearfix red white"><span>Book a car</span></div>
   <!-- <div class="formcontent">
        Put form inside here
       test -->
    
       <div class="form">
           <div class="formheader clearfix red white">@Resources.Copy.BookingDetails_BpanelTitle</div>
           

<!--**************************************************************************************************
                                          TYPE AHEAD LOCATION SEARCH                                              
/**************************************************************************************************/-->
           <div id="div_openings" style="top:-9999px;left:-9999px;position:absolute;width:250px;height:275px;padding:3px;border: 1px solid #303030; background-color: #fff;">
               <div class='siHeader'>
                   <div class='siTitlesml' id="pnlStationName">
                   </div>
               </div>
               <span style="font-size:1em;" id="pnlAdd1"></span><br/>
               <span style="font-size:1em;" id="pnlAdd2"></span><br/>
               <span style="font-size:1em;" id="pnlAdd3"></span><br/>
               <br/>
               <span style="font-size:1em;" id="pnlPhone"></span><br/>
               <br/>
               <span style="font-size:1em; font-weight:bold;">
                   <img id="imgOpen" src="@(hostUrl + "/Content/Images/iconOpen.gif")" />&nbsp;&nbsp;Opening Times</span><br/>
                   <label id="openMsg"></label>
               <div style="width:100px;float:left;">@Resources.Copy.Monday</div><div style="float:left;" id="pnlMonday"></div><br/>
               <div style="width:100px;float:left;">@Resources.Copy.Tuesday</div><div style="float:left;" id="pnlTuesday"></div><br/>
               <div style="width:100px;float:left;">@Resources.Copy.Wednesday</div><div style="float:left;" id="pnlWednesday"></div><br/>
               <div style="width:100px;float:left;">@Resources.Copy.Thursday</div><div style="float:left;" id="pnlThursday"></div><br/>
               <div style="width:100px;float:left;">@Resources.Copy.Friday</div><div style="float:left;" id="pnlFriday"></div><br/>
               <div style="width:100px;float:left;">@Resources.Copy.Saturday</div><div style="float:left;" id="pnlSaturday"></div><br/>
               <div style="width:100px;float:left;">@Resources.Copy.Sunday</div><div style="float:left;" id="pnlSunday"></div><br/>
           </div>
           
           <div id="div_closings" style="top:-9999px;left:-9999px;position:absolute;width:250px;height:275px;padding:3px;border: 1px solid #303030; background-color: #fff;">
               <div class='siHeader'>
                   <div class='siTitlesml' id="pnlStationNameC">
                   </div>
               </div>
               <span style="font-size:1em;" id="pnlAdd1C"></span><br/>
               <span style="font-size:1em;" id="pnlAdd2C"></span><br/>
               <span style="font-size:1em;" id="pnlAdd3C"></span><br/>
               <br/>
               <span style="font-size:1em;" id="pnlPhoneC"></span><br/>
               <br/>
               <span style="font-size:1em; font-weight:bold;">
                   <img id="imgOpenC" src="@(hostUrl + "/Content/Images/iconOpen.gif")" />&nbsp;&nbsp;Opening
                   Times</span><br />
               <label id="openMsgC">
               </label>
               <div style="width:100px;float:left;">@Resources.Copy.Monday</div><div style="float:left;" id="pnlMondayC"></div><br/>
               <div style="width:100px;float:left;">@Resources.Copy.Tuesday</div><div style="float:left;" id="pnlTuesdayC"></div><br/>
               <div style="width:100px;float:left;">@Resources.Copy.Wednesday</div><div style="float:left;" id="pnlWednesdayC"></div><br/>
               <div style="width:100px;float:left;">@Resources.Copy.Thursday</div><div style="float:left;" id="pnlThursdayC"></div><br/>
               <div style="width:100px;float:left;">@Resources.Copy.Friday</div><div style="float:left;" id="pnlFridayC"></div><br/>
               <div style="width:100px;float:left;">@Resources.Copy.Saturday</div><div style="float:left;" id="pnlSaturdayC"></div><br/>
               <div style="width:100px;float:left;">@Resources.Copy.Sunday</div><div style="float:left;" id="pnlSundayC"></div><br/>
           </div>

           <style>
               .siHeader{float:left;width:100%;background:#303030}
               .siTitle{float:left;padding:5px;color:#fff;font-size:1.1em;padding:5px 5px 5px 5px;font-weight:bold}
               .siTitlesml{float:left;padding:0px;color:#fff;font-size:1em;padding:3px 3px 3px 3px;font-weight:bold}
               #div_openings { font-size: 0.9em; }
           </style>
               <br clear="all"/> 
          

<!--**************************************************************************************************
                                          BOOKING PANEL OBJECTS                                              
/**************************************************************************************************/-->   



           <div class="formcontent">

           


               <div class="formcontentlabel">@Resources.Copy.Details_Start</div>
              
               <div class="formcontentvalue">
                  
                   <input name="RentalStartDate" id="RentalStartDate" type="text" style="width:110px;" value="@Model.PickupDateTime.ToString("dd MMMM yyyy")" class="tripDate" onkeydown="return false"  />
                   @Html.DropDownListFor(model => model.PickupDateTime.Hour, (IEnumerable<SelectListItem>)ViewData["PickUpHour"])
                   @Html.DropDownListFor(model => model.PickupDateTime.Minute, (IEnumerable<SelectListItem>)ViewData["PickUpMin"])
                </div>
             
                <div class="divider8px" style="clear:both;"></div>
                <div class="formcontentlabel">@Resources.Copy.Details_End</div>
                <div class="formcontentvalue">
                    
                   <input name="RentalEndDate" id="RentalEndDate" type="text" style="width:110px;" value="@Model.ReturnDateTime.ToString("dd MMMM yyyy")" class="tripDate" onkeydown="return false" />
               @Html.DropDownListFor(model => model.ReturnDateTime.Hour, (IEnumerable<SelectListItem>)ViewData["ReturnHour"])
               @Html.DropDownListFor(model => model.ReturnDateTime.Minute, (IEnumerable<SelectListItem>)ViewData["ReturnMin"])
                </div>
              
              <div style="clear:both;" /><hr />
             <!-- <div class="formcontenseparator"><br/>&nbsp;<br/>&nbsp;<img src="@(hostUrl + "/Content/Images/ppSeparator.jpg")"  width="500px"/></div>-->
                

                <!-- <span class="formcontentprice">@Resources.Copy.Details_Days: <label id="lblDays">1</label></span>-->
                <input type="hidden" id="lblDays" value="1" />
               <div class="formcontentlabel">@Resources.Copy.Details_Pickuprentalcountry</div>
               <div class="formcontentvalue">  @Html.DropDownList("PickUpCountry", (IEnumerable<SelectListItem>)ViewData["PickUpCountries"], new { style = "width: 130px;" })</div>
            
               <div class="divider8px"></div>
                 <div  style="clear:both;"></div>
           
               <div class="formcontentlabel">@Resources.Copy.Details_Rentallocation</div>
          <div class="formcontentvalue"><input type="hidden" name="pickUpMnemonic" id="pickUpMnemonic" value="@Model.PickupLocation" />
            <input type="text" name="PickUpLocations" id="PickUpLocations" value="@Model.PickupLocationName" style="width:150px;" />      
          <input type="checkbox" @if (Session["IsDelivery"] != null && bool.Parse(Session["IsDelivery"].ToString()) == true)
                                 { @Html.Raw("checked='checked'");
                                 } title="" id="chkDeliver" name="chkDeliver"/> @Resources.Copy.Details_Delivermycar</div>
               
               <div class="divider12px" style="clear:both;"></div>
                
           <div id="DeliveryAddress">
               <div class="formcontentlabel">@Resources.Copy.Details_DeliveryAddress1*</div>
               <div class="formcontentvalue"><input type="text" value="@Model.DeliveryAddress1" id="DeliveryAddress1" name="DeliveryAddress1" style="width:250px;"/></div>
              
               <div class="divider12px">&nbsp;</div>
               <div class="formcontentlabel">@Resources.Copy.Details_DeliveryAddress2*</div>
               <div class="formcontentvalue"><input type="text" value="@Model.DeliveryAddress2" id="DeliveryAddress2" name="DeliveryAddress2" style="width:250px;"/></div>
                 <div  style="clear:both;"></div>
              
               <div class="divider12px">&nbsp;</div>
               <div class="formcontentlabel">@Resources.Copy.Details_DeliveryInstructions</div>
               <div class="formcontentvalue"><input type="text" value="@Model.DeliveryInstructions1" id="DeliveryInstructions1" name="DeliveryInstructions1" maxlength="30" style="width:250px;"/></div>
              
           </div>
               
               <div class="formcontentlabel">@Resources.Copy.Details_Returningto</div>
               <div class="formcontentvalue"> <input id="chkSameReturn" type="checkbox" name="chkSameReturn"  @if (Session["SameReturn"] == null || (Session["SameReturn"] != null && bool.Parse(Session["SameReturn"].ToString()) == true))
                                                                                                              { @Html.Raw("checked='checked'");
                                                                                                              } /> &nbsp;@Resources.Copy.Details_Sameaspickuplocation</div>
              
               
               <div id="ppLocationSearchReturnx">
           
               <div class="formcontentlabel">@Resources.Copy.Details_Returnrentalcountry</div>
               <div class="formcontentvalue">@Html.DropDownList("ReturnCountry", (IEnumerable<SelectListItem>)ViewData["ReturnCountries"])
               </div>
                 <div  style="clear:both;"></div>
              
                <div class="formcontentlabel">@Resources.Copy.Details_Rentallocation</div>
                   <div class="formcontentvalue"><input type="hidden" name="returnMnemonic" id="returnMnemonic" value="@Model.ReturnLocation" />
                    <input type="text" name="ReturnLocations" id="ReturnLocations" value="@Model.ReturnLocationName" style="width:150px;" />
                    <input @if (Session["IsCollection"] != null && bool.Parse(Session["IsCollection"].ToString()) == true)
                           { @Html.Raw("checked='checked'");
                           } type="checkbox" id="chkCollect" name="chkCollect"/> @Resources.Copy.Details_Collectmycar
                    </div>

              
                   <div id="CollectionAddress">

                   <div class="formcontentlabel">@Resources.Copy.Details_CollectionAddress1*</div>
                   <div class="formcontentvalue"><input type="text" value="@Model.CollectionAddress1" id="CollectionAddress1" name="CollectionAddress1" style="width:250px;"/></div>
                  
                   <div class="divider12px">&nbsp;</div>
                   <div class="formcontentlabel">@Resources.Copy.Details_CollectionAddress2*</div><div class="formcontentvalue"><input type="text" value="@Model.CollectionAddress2" id="CollectionAddress2" name="CollectionAddress2" style="width:250px;"/></div>
                   <div class="divider12px">&nbsp;</div>
                 <div  style="clear:both;"></div>

                   <div class="formcontentlabel">@Resources.Copy.Details_CollectionInstructions</div><div class="formcontentvalue"><input type="text"  value="@Model.CollectionInstructions1" id="CollectionInstructions1" name="CollectionInstructions1" maxlength="30" style="width:250px;"/></div>
               </div>           
          
                   </div>
                    		
           <div class="divider12px"></div>
           <div style="clear:both;"></div>
<hr />
           
<!--<div class="formcontenseparator"><br/>&nbsp;<br/>&nbsp;<img src="@(hostUrl + "/Content/Images/ppSeparator.jpg")"  width="500px"/></div>-->
@if (User.Identity.IsAuthenticated)
{
 
<div id="divCountry">     
<div class="formcontentlabel">@Resources.Copy.Country</div>
               <div class="formcontentvalue">@Html.DropDownList("CountryOfResidence", (IEnumerable<SelectListItem>)ViewData["ResidenceCountries"])</div>
               </div>  
}

<div style="display:@(ViewBag.DisplayTimeConstraints != true ? "block" : "none");">
    <div class="formcontentlabel">@Resources.Copy.BookingDetails_BpanelCardType</div>
               <div class="formcontentvalue">
               @if (Session["chosenCardmake"] != null && Session["chosenCardmake"].ToString() == "EC")
               {
                   if (Session["chosenLanguage"] != null && Session["chosenLanguage"].ToString() == "DK")
                   {
                   <input type="radio" name="cardtype" @(Session["cardType"] != null && Session["cardType"].ToString() == "EC" ? "checked" : "") id="rdoEC" value="EC" /><label>EUROCARD</label>
                   <br />                                            
                   }
                   <input type="radio" name="cardtype" @(Session["cardType"] == null || Session["cardType"].ToString() == "ECG" ? "checked" : "") id="rdoECG" value="ECG" /><label>EUROCARD GOLD</label>
                   <br />
                   <input type="radio" name="cardtype" @(Session["cardType"] != null && Session["cardType"].ToString() == "ECP" ? "checked" : "") id="rdoECP" value="ECP" /><label>EUROCARD PLATINUM</label>

                <!--<option value="ECG">EUROCARD GOLD</option>
                <option value="ECP">EUROCARD PLATINUM</option>-->
               }
               else if (Session["chosenCardmake"] != null && Session["chosenCardmake"].ToString() == "DC")
               { 
                <input type="radio" name="cardtype" @(Session["cardType"] == null || Session["cardType"].ToString() == "DC" ? "checked" : "") id="rdoDC" value="DC" /><label>DINERS CLUB</label> 
                   <br />
                   if (Session["chosenLanguage"] != null && Session["chosenLanguage"].ToString() == "FI")
                   {
                   <input type="radio" name="cardtype" @(Session["cardType"] != null && Session["cardType"].ToString() == "DCP" ? "checked" : "") id="rdoDCP" value="DCP" /><label>DINERS CLUB PREMIUM</label>                                            
                   }
                <!--<option value="DC">DINERS CLUB</option>-->
               }
               </div>
</div>

          <!-- <div class="formcontentlabel">@Resources.Copy.BookingDetails_BpanelFlightNumber</div>
               <div class="formcontentvalue"><input type="text" name="FlightNumber" id="FlightNumber" value="@(Model.ArrivalFlightNumber != "WI" ? Model.ArrivalFlightNumber : "")" style="width:110px;" />
<input type="checkbox" title="" @(Model.ArrivalFlightNumber == "WI" ? "checked" : "") id="chkNoFlight" name="chkNoFlight"/>@Resources.Copy.BookingDetails_BpanelNotArrivingByPlane</div>-->

           <div class="divider12px"></div>
            
           

          
           <div style="width:99%; text-align:right;">
             <p></p>
                   <button type="submit" id="submitForm" value="@Resources.Copy.Details_Next" class="button" style="width:150px; margin-top:20px; margin-bottom:20px;">@Resources.Copy.Details_Next</button>
           </div>

                    </div>
  
       
       </div>
             
  

   }
}
</div></div>
<div id="blockui_message" style="display:none;"><br /><img id="imgSpinnerImport" src='@hostUrl/content/images/ajax-loader.gif' /><h2>&nbsp;@Resources.Copy.Overlay_FindingRates</h2></div>
<script type="text/javascript">

    var z;
    var hostURL = '@hostUrl';
    var noError = true;
    var showOverlay = '@(Session["chosenLanguage"] == null)';

    var minDays = @ViewBag.minDays;
    var maxDays = @ViewBag.maxDays;

    $("#PickupDateTime_Hour").change(function () {  GetDateDiff(); });
    $("#PickupDateTime_Minute").change(function () {  GetDateDiff(); });
    $("#ReturnDateTime_Hour").change(function () {  GetDateDiff(); });
    $("#ReturnDateTime_Minute").change(function () { GetDateDiff(); });

    function DoBlock(){


        if (typeof (bNotIE) == 'undefined') {
            $.blockUI({ message: '<br /><img src="' + hostURL + '/content/images/ajax-loader.gif" /><h2>&nbsp;@Resources.Copy.Overlay_FindingRates</h2>' });
        }
        else{
            $.blockUI.defaults.message = $('#blockui_message');
        $.blockUI();
        }
                    
    }

    function click_NO() {
        setLanguage("NO");
    }

    function click_SE() {
        setLanguage("SE");
    }

    function click_DK() {
        setLanguage("DK");
    }

    function click_FI() {
        setLanguage("FI");
    }

    function setLanguage(language) {
        $.ajax({
            type: "POST",
            url: hostURL + "/user/setLanguage/",
            data: "{language: '" + language + "', card: '" + $("input[name='cardmake']:checked").val() + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (response) {

//                if (response == false) {
//                    alert("@Html.Raw(Resources.Copy.Info_InvalidPickUpLocation)");
//                    noError = false;
//                    return;
//                }
                //alert(language);

                noError = true;
                location.reload(true); 
                //$.unblockUI()
                //return;
            }
        });

    }

    $(document).ready(function () {

        if (showOverlay == 'True') {
            var html = '<strong><p  style="text-align:center; width:100%; padding:5px;">Please click your country of residence to enter the site</p>';
            html += '<!--<p  style="text-align:center; width:100%;"><input type="radio" name="cardmake" value="DC" checked="true" />Diners Club</p>-->';
            html += '<!--<p  style="text-align:center; width:100%;"><input type="radio" name="cardmake" value="EC" />EuroCard</p></strong>-->';

            var imgMap = '&nbsp;<a href="#" alt="NO" title="NO" onclick="click_NO();"><img src="' + hostURL + '/content/images/Norway-icon.png" border="0" width=128" height="128" orgWidth="128" orgHeight="128" alt="" /></a>';
            imgMap += '&nbsp;<a href="#" alt="SE" title="SE" onclick="click_SE();"><img src="' + hostURL + '/content/images/Sweden-icon.png" border="0" width=128" height="128" orgWidth="128" orgHeight="128" alt="" /></a>';
            imgMap += '&nbsp;<a href="#" alt="DK" title="DK" onclick="click_DK();"><img src="' + hostURL + '/content/images/Denmark-icon.png" border="0" width=128" height="128" orgWidth="128" orgHeight="128" alt="" /></a>';
            imgMap += '&nbsp;<a href="#" alt="FI" title="FI" onclick="click_FI();"><img src="' + hostURL + '/content/images/Finland-icon.png" border="0" width=128" height="128" orgWidth="128" orgHeight="128" alt="" /></a>&nbsp;';

            //var imgMap = '<img src="' + hostURL + '/images/flags.png" border="0" width="403" height="128" orgWidth="403" orgHeight="128" usemap="#image-maps-2014-04-03-080328" alt="" />';
            //imgMap += '<map name="image-maps-2014-04-03-080328" id="ImageMapsCom-image-maps-2014-04-03-080328">';
            //imgMap += '<area id="NO" alt="NO" title="NO" onclick="click_NO();" href="#" shape="rect" coords="3,17,99,121" style="outline:none;" />';
            //imgMap += '<area id="SE" alt="SE" title="SE" onclick="click_SE();" href="#" shape="rect" coords="104,17,200,121" style="outline:none;" />';
            //imgMap += '<area id="DK" alt="DK" title="DK" onclick="click_DK();" href="#" shape="rect" coords="202,18,301,120" style="outline:none;" />';
            //imgMap += '<area id="FI" alt="FI" title="FI" onclick="click_FI();" href="#" shape="rect" coords="301,16,398,121" style="outline:none;"/>';
            //imgMap += '<area shape="rect" coords="401,126,403,128" alt="Image Map" style="outline:none;" title="Image Map" href="http://www.image-maps.com/index.php?aff=mapped_users_0" />';
            //imgMap += '</map>';
            $.blockUI({ message: html + imgMap, css: {height: 'auto', cursor: 'auto', width: 'auto'} });
        }

        $('#div_openings').hide();
        $('#div_closings').hide();

        if ($('#chkSameReturn').is(':checked')) {
            $('#ppLocationSearchReturn').css('visibility', 'hidden');
        } else {
            $('#ppLocationSearchReturn').css('visibility', 'show');
        }





        $('#ppLocationSearchReturn').css('visibility', 'hidden');




        function Pickup_IsLocationInCountry() {

        var p = $('#PickUpLocations').val();
        p = p.replace("'","~~");

            $.ajax({
                type: "POST",
                url: hostURL + "/booking/IsLocationInCountry/",
                data: "{location: '" + p + "', country:  '" + $('#PickUpCountry').val() + "', mnemonic: '" + $('#pickUpMnemonic').val() + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                success: function (response) {

                    if (response == false) {
                        alert("@Html.Raw(Resources.Copy.Info_InvalidPickUpLocation)");
                        noError = false;
                        return;
                    }
                    noError = true;
                    return;
                }
            });
        }

        function Return_IsLocationInCountry() {
            $.ajax({
                type: "POST",
                url: hostURL + "/booking/IsLocationInCountry/",
                data: "{location: '" + $('#ReturnLocations').val() + "', country:  '" + $('#ReturnCountry').val() + "', mnemonic: '" + $('#pickUpMnemonic').val() + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                success: function (response) {

                    if (response == false) {
                        alert("@Html.Raw(Resources.Copy.Info_InvalidReturnLocation)");
                        noError = false;
                        return;
                    }
                    noError = true;
                    return;
                }
            });
        }

        $("#submitForm").click(function () {

            DoBlock();

            if (parseInt($("#lblDays").val()) < minDays) {
                alert("The minimum rental period is " + minDays + " full days");
                $.unblockUI();
                return false;
            }
            if (parseInt($("#lblDays").val()) > maxDays) {
                alert("The maximum rental period is " + minDays + " full days");
                $.unblockUI();
                return false;
            }

            if (parseInt($("#lblDays").text()) > 29) {
                alert("@Html.Raw(Resources.Copy.info_BookingTooLong)");
                $.unblockUI();
                return false;
            }

            Pickup_IsLocationInCountry();
            if (noError == false) { $.unblockUI(); return false; }

            if (!$('#chkSameReturn').is(':checked')) {
                Return_IsLocationInCountry();
                if (noError == false) { $.unblockUI(); return false; }
            }

            var outDate = $("#RentalStartDate").val();
            var inDate = $("#RentalEndDate").val();

            var oDD = outDate.substring(0, 2);
            var oMM = outDate.substring(3, 5);
            var oYYYY = outDate.substring(6, 10);

            var y = oMM;
            y = parseFloat(y);
            oMM = y - 1;
            //oMM = parseInt(oMM, 0) - 1;

            var iDD = inDate.substring(0, 2);
            var iMM = inDate.substring(3, 5);
            var iYYYY = inDate.substring(6, 10);

            var x = iMM;
            x = parseFloat(x);
            iMM = x - 1;
            //iMM = parseInt(iMM, 0) - 1;

            var dOut = new Date(oYYYY, oMM, oDD);
            var dIn = new Date(iYYYY, iMM, iDD);

            if (dOut >= dIn) {
                alert("@Html.Raw(Resources.Copy.Info_PickupDate)");
                $.unblockUI();
                return false;
            }

            if ($("#PickUpLocations").val() == "") {
                alert("@Html.Raw(Resources.Copy.Info_SelectPickUp)");
                $.unblockUI();
                return false;
            }


            

            if (!$('#chkSameReturn').is(':checked')) {
                if ($("#ReturnLocations").val() == "") {
                    alert("@Html.Raw(Resources.Copy.Info_SelectReturn)");
                    $.unblockUI();
                    return false;
                }
            }

            //pickup and collection logic here
            if ($("#chkDeliver").is(':checked')) {
                if ($("#DeliveryAddress1").val() == "") {
                    alert("@Html.Raw(Resources.Copy.Info_DelAdd1)");
                    $.unblockUI();
                    return false;
                }
                if ($("#DeliveryAddress2").val() == "") {
                    alert("@Html.Raw(Resources.Copy.Info_DelAdd2)");
                    $.unblockUI();
                    return false;
                }
                if ($("#DeliveryPostCode").val() == "") {
                    alert("@Html.Raw(Resources.Copy.Info_DelPC)");
                    $.unblockUI();
                    return false;
                }
            }

            if ($("#chkCollect").is(':checked')) {
                if ($("#CollectionAddress1").val() == "") {
                    alert("@Html.Raw(Resources.Copy.Info_ColAdd1)");
                    $.unblockUI();
                    return false;
                }
                if ($("#CollectionAddress2").val() == "") {
                    alert("@Html.Raw(Resources.Copy.Info_ColAdd2)");
                    $.unblockUI();
                    return false;
                }
                if ($("#CollectionPostCode").val() == "") {
                    alert("@Html.Raw(Resources.Copy.Info_ColPC)");
                    $.unblockUI();
                    return false;
                }
            }

//            if (!$('#chkNoFlight').is(':checked')) {
//                if ($("#FlightNumber").val() == "") {
//                    alert("@Html.Raw(Resources.Copy.NoFlightNumber)");
//                    $.unblockUI();
//                    return false;
//                }
//            }


            return true;
        });



        if ($("#chkSameReturn").is(":checked")) { $("#ppLocationSearchReturnx").hide(); }
        if (!$("#chkDeliver").is(":checked")) { $("#DeliveryAddress").hide(); }
        if (!$("#chkCollect").is(":checked")) { $("#CollectionAddress").hide(); }

        // $("#DeliveryAddress").hide();
        // $("#CollectionAddress").hide();

        $("#chkSameReturn").click(function () {

            $("#ppLocationSearchReturnx").slideToggle();

        });

        $("#chkDeliver").click(function () {

            $("#DeliveryAddress").slideToggle();
            //$("#Locations").slideToggle();

        });

        $("#chkCollect").click(function () {

            $("#CollectionAddress").slideToggle();
            //$("#ReturnLocations").slideToggle();

        });

    });

    var cDate = new Date();
   $("#RentalStartDate").datepicker({ dateFormat: 'dd MM yy', minDate: cDate });
   //$("#RentalEndDate").datepicker({ dateFormat: 'dd MM yy' });
   var myDate = new Date();
   myDate.setDate(myDate.getDate() + 2);
   var myMaxDate = new Date();
   myMaxDate.setDate(cDate.getDate() + maxDays);

   $("#RentalEndDate").datepicker({ dateFormat: 'dd MM yy', minDate: myDate, maxDate: myMaxDate });

   $("#RentalStartDate").datepicker().bind("change", function () {


       var minValue = $(this).val();
       var enDate = $("#RentalEndDate").val();
       minValue = $.datepicker.parseDate("dd MM yy", minValue);
       minValue.setDate(minValue.getDate() + minDays);
       $("#RentalEndDate").datepicker("option", "minDate", minValue);

       var startDate = $(this).val();
       startDate = $.datepicker.parseDate("dd MM yy", startDate);
       var endDate = $("#RentalStartDate").val();
       endDate = $.datepicker.parseDate("dd MM yy", endDate);
       endDate.setDate(startDate.getDate() + maxDays);

       $("#RentalEndDate").datepicker({ dateFormat: 'dd MM yy', minDate: startDate, maxDate: endDate });
       $("#RentalEndDate").datepicker("option", "maxDate", endDate);
       startDate.setDate(startDate.getDate() + 1);
//       startDate = $.datepicker.parseDate("dd MM yy", startDate);
       $("#RentalEndDate").datepicker("setDate", startDate );
       GetDateDiff();

   });

   $("#RentalEndDate").datepicker().bind("change", function () {
       var maxValue = $(this).val();
       var stDate = $("#RentalStartDate").val();
       maxValue = $.datepicker.parseDate("dd MM yy", maxValue);
       maxValue.setDate(maxValue.getDate());
       $("#RentalStartDate").datepicker("option", "maxDate", maxValue);

       //var startDate = $("#RentalStartDate").val();
       //startDate = $.datepicker.parseDate("dd MM yy", startDate);
//       var endDate = $(this).val();
//       endDate = $.datepicker.parseDate("dd MM yy", endDate);
//       endDate.setDate(endDate.getDate() - maxDays);
       //if(endDate < startDate) { endDate = startDate; }
       //$("#RentalStartDate").val(stDate);
       //$("#RentalStartDate").datepicker("option", "minDate", endDate);
       GetDateDiff();
   });

    function GetDateDiff() {
        
     $.ajax({
         type: "POST",
         url: hostURL + "/booking/DateDiff/",
         data: "{start: '" + $("#RentalStartDate").val() + " " + $("#PickupDateTime_Hour").val() + ":" + $("#PickupDateTime_Minute").val() + "', end:  '" + $("#RentalEndDate").val() + " " + $("#ReturnDateTime_Hour").val() + ":" + $("#ReturnDateTime_Minute").val() + "'}",
         contentType: "application/json; charset=utf-8",
         dataType: "json",
         async: false,
         success: function (response) {
             
             $("#lblDays").val(response);
             return;
         }
     });



 }



 $("#PickUpLocations").autocomplete({
     source: function (request, response) {
         $.ajax({
             url: hostURL + "/booking/AutoCompleteLocation",
             dataType: "json",
             data: {
                 location: request.term,
                 country: $('#PickUpCountry').val(),
                 startdate: $('#RentalStartDate').val(),
                 starthour: $('#PickupDateTime_Hour').val(),
                 startmin: $('#PickupDateTime_Minute').val(),
                 direction: 'out'
             },
             success: function (data) {
                 response($.map(data, function (item) {
                     return { label: item.Location_Name, value: item.Name, id: item.Id, Location_StationType: item.Location_StationType,
                         address1: item.Location_Address,
                         city: item.Location_City,
                         postcode: item.Location_PostCode,
                         location: item.Location_Name,
                         locationCode: item.LocationCode,
                         distanceFromWork: item.DistanceFromWork,
                         Address: item.Address,
                         stationName: item.StationName,
                         phoneNumber: item.Location_Phone,
                         stationType: item.StationType,
                         stationOpenOrClosed: item.StationOpenOrClosed,
                         sundayCaption: item.SundayCaption,
                         sundayOpeningHours: item.SundayOpeningHours,
                         mondayCaption: item.MondayCaption,
                         mondayOpeningHours: item.MondayOpeningHours,
                         tuesdayCaption: item.TuesdayCaption,
                         tuesdayOpeningHours: item.TuesdayOpeningHours,
                         wednesdayCaption: item.WednesdayCaption,
                         wednesdayOpeningHours: item.WednesdayOpeningHours,
                         thursdayCaption: item.ThursdayCaption,
                         thursdayOpeningHours: item.ThursdayOpeningHours,
                         fridayCaption: item.FridayCaption,
                         fridayOpeningHours: item.FridayOpeningHours,
                         saturdayCaption: item.SaturdayCaption,
                         saturdayOpeningHours: item.SaturdayOpeningHours,
                         isOpenNow: item.isOpenNow
                     };
                 }));
             },
             error: function (msg) {
                 alert(msg);
             }
         });
     },
     minLength: 2,
     select: function (event, ui) {

         $("#PickUpLocations").val(ui.item.location);
         $("#pickUpMnemonic").val(ui.item.id);

     }
 })

  .data("autocomplete")._renderItem = function (ul, item) {
      return $("<li onmouseover=\"$('#div_openings').show(); BuildPanel('" + item.label + "', '" + item.mondayOpeningHours + "', '" + item.tuesdayOpeningHours + "', '" + item.wednesdayOpeningHours + "', '" + item.thursdayOpeningHours + "', '" + item.fridayOpeningHours + "', '" + item.saturdayOpeningHours + "', '" + item.sundayOpeningHours + "', '" + item.address1 + "', '" + item.city + "', '" + item.postcode + "', '" + item.phoneNumber + "','" + item.stationOpenOrClosed + "', $(this)); \" onmouseout=\"$('#div_openings').hide();\" data-address=" + JSON.stringify(item.label) + "></li>")
.data("item.autocomplete", item)
.append("<a style='width:340px' autocomplete='true' class='ui-corner-all'><span class='lsLocationType'><img src='" + hostURL + "/Content/Images/ppIconBuilding.gif'></span><span class='lsOpenOrClosed'><img title='Station " + item.stationOpenOrClosed + "' src='" + hostURL + "/Content/Images/icon" + item.stationOpenOrClosed + ".gif'></span>" + item.label + "</a>")
.appendTo(ul);
  };


  function BuildPanel(stationname, mondayOpeningHours, tuesdayOpeningHours, wednesdayOpeningHours, thursdayOpeningHours, fridayOpeningHours, saturdayOpeningHours, sundayOpeningHours, address, city, postcode, phonenumber, isopen, listitem) {
      $('#pnlStationName').html(stationname);
      $('#pnlMonday').html(mondayOpeningHours);
      $('#pnlTuesday').html(tuesdayOpeningHours);
      $('#pnlWednesday').html(wednesdayOpeningHours);
      $('#pnlThursday').html(thursdayOpeningHours);
      $('#pnlFriday').html(fridayOpeningHours);
      $('#pnlSaturday').html(saturdayOpeningHours);
      $('#pnlSunday').html(sundayOpeningHours);
      $('#pnlAdd1').html(address);
      $('#pnlAdd2').html(city);
      $('#pnlAdd3').html(postcode);
      $('#pnlPhone').html('<img src=\'' + hostURL + '/content/images/ppiconcar.gif\' />&nbsp;&nbsp;' + phonenumber);
      if (isopen == 'Open') {
          $('#imgOpen').attr('src', '@(hostUrl + "/Content/Images/iconOpen.gif")');
          $('#openMsg').html('<strong>@Resources.Copy.StationOpen</strong><br />');
      }
      if (isopen == 'Closed') {
          $('#imgOpen').attr('src', '@(hostUrl + "/Content/Images/iconClosed.gif")');
          $('#openMsg').html('<strong>@Resources.Copy.StationClosed</strong><br />');
      }


      var link = $("#PickUpLocations");
      var position = link.position(); //cache the position
      var right = position.left + listitem.width() + 6;
      var bottom = position.top + link.height() + 6;

      $('#div_openings').css({
    "position":"absolute", 
    "top": bottom + "px",
    "left": right + "px"
    
});
  }


  function BuildClosingPanel(stationname, mondayOpeningHours, tuesdayOpeningHours, wednesdayOpeningHours, thursdayOpeningHours, fridayOpeningHours, saturdayOpeningHours, sundayOpeningHours, address, city, postcode, phonenumber, isopen, listitem) {
      $('#pnlStationNameC').html(stationname);
      $('#pnlMondayC').html(mondayOpeningHours);
      $('#pnlTuesdayC').html(tuesdayOpeningHours);
      $('#pnlWednesdayC').html(wednesdayOpeningHours);
      $('#pnlThursdayC').html(thursdayOpeningHours);
      $('#pnlFridayC').html(fridayOpeningHours);
      $('#pnlSaturdayC').html(saturdayOpeningHours);
      $('#pnlSundayC').html(sundayOpeningHours);
      $('#pnlAdd1C').html(address);
      $('#pnlAdd2C').html(city);
      $('#pnlAdd3C').html(postcode);
      $('#pnlPhoneC').html('<img src=\'' + hostURL + '/content/images/ppiconcar.gif\' />&nbsp;&nbsp;' + phonenumber);
      if (isopen == 'Open') {
          $('#imgOpenC').attr('src', '@(hostUrl + "/Content/Images/iconOpen.gif")');
          $('#openMsgC').html('<strong>@Resources.Copy.StationOpen</strong><br />');
      }
      if (isopen == 'Closed') {
          $('#imgOpenC').attr('src', '@(hostUrl + "/Content/Images/iconCLosed.gif")');
          $('#openMsgC').html('<strong>@Resources.Copy.StationClosed</strong><br />');
      }

      var link = $("#ReturnLocations");
      var position = link.position(); //cache the position
      var right = position.left + listitem.width() + 6;
      var bottom = position.top + link.height() + 6;

      $('#div_closings').css({
    "position":"absolute", 
    "top": bottom + "px",
    "left": right + "px"
});
  }


 $("#ReturnLocations").autocomplete({
     source: function (request, response) {
         $.ajax({
             url: hostURL + "/booking/AutoCompleteLocation",
             dataType: "json",
             data: {
                 location: request.term,
                 country: $('#ReturnCountry').val(),
                 startdate: $('#RentalEndDate').val(),
                 starthour: $('#ReturnDateTime_Hour').val(),
                 startmin: $('#ReturnDateTime_Minute').val(),
                 direction : 'in'
             },
             success: function (data) {

                 response($.map(data, function (item) {

                     return { label: item.Location_Name, value: item.Name, id: item.Id, Location_StationType: item.Location_StationType,
                         address1: item.Location_Address,
                         city: item.Location_City,
                         postcode: item.Location_PostCode,
                         location: item.Location_Name,
                         locationCode: item.LocationCode,
                         distanceFromWork: item.DistanceFromWork,
                         Address: item.Address,
                         stationName: item.StationName,
                         phoneNumber: item.Location_Phone,
                         stationType: item.StationType,
                         stationOpenOrClosed: item.StationOpenOrClosed,
                         sundayCaption: item.SundayCaption,
                         sundayOpeningHours: item.SundayOpeningHours,
                         mondayCaption: item.MondayCaption,
                         mondayOpeningHours: item.MondayOpeningHours,
                         tuesdayCaption: item.TuesdayCaption,
                         tuesdayOpeningHours: item.TuesdayOpeningHours,
                         wednesdayCaption: item.WednesdayCaption,
                         wednesdayOpeningHours: item.WednesdayOpeningHours,
                         thursdayCaption: item.ThursdayCaption,
                         thursdayOpeningHours: item.ThursdayOpeningHours,
                         fridayCaption: item.FridayCaption,
                         fridayOpeningHours: item.FridayOpeningHours,
                         saturdayCaption: item.SaturdayCaption,
                         saturdayOpeningHours: item.SaturdayOpeningHours
                     };
                 }));
             },
             error: function (msg) {
                 alert(msg);
             }
         });
     },
     minLength: 2,
     select: function (event, ui) {
         $("#ReturnLocations").val(ui.item.location);
         $("#returnMnemonic").val(ui.item.id);

     }
 })

  .data("autocomplete")._renderItem = function (ul, item) {

      //      var s;
      //      s = $('#div_openings').html().replace('{station-name}', item.label).replace(/\"/g, "'");


      return $("<li onmouseover=\"$('#div_closings').show(); BuildClosingPanel('" + item.label + "', '" + item.mondayOpeningHours + "', '" + item.tuesdayOpeningHours + "', '" + item.wednesdayOpeningHours + "', '" + item.thursdayOpeningHours + "', '" + item.fridayOpeningHours + "', '" + item.saturdayOpeningHours + "', '" + item.sundayOpeningHours + "', '" + item.address1 + "', '" + item.city + "', '" + item.postcode + "', '" + item.phoneNumber + "','" + item.stationOpenOrClosed + "', $(this)); \" onmouseout=\"$('#div_closings').hide();\" data-address=" + JSON.stringify(item.label) + "></li>")
.data("item.autocomplete", item)

.append("<a style='width:340px' autocomplete='true' class='ui-corner-all'><span class='lsLocationType'><img src='" + hostURL + "/Content/Images/ppIconBuilding.gif'></span><span class='lsOpenOrClosed'><img title='Station " + item.stationOpenOrClosed + "' src='" + hostURL + "/Content/Images/icon" + item.stationOpenOrClosed + ".gif'></span>" + item.label + "</a>")

.appendTo(ul);
  };




  function datediff(fromDate, toDate, interval) {                 /*                 * DateFormat month/day/year hh:mm:ss                 * ex.                 * datediff('01/01/2011 12:00:00','01/01/2011 13:30:00','seconds');                 */var second = 1000, minute = second * 60, hour = minute * 60, day = hour * 24, week = day * 7; fromDate = new Date(fromDate); toDate = new Date(toDate); var timediff = toDate - fromDate; if (isNaN(timediff)) return NaN; switch (interval) { case "years": return toDate.getFullYear() - fromDate.getFullYear(); case "months": return ((toDate.getFullYear() * 12 + toDate.getMonth()) - (fromDate.getFullYear() * 12 + fromDate.getMonth())); case "weeks": return Math.floor(timediff / week); case "days": return Math.floor(timediff / day); case "hours": return Math.floor(timediff / hour); case "minutes": return Math.floor(timediff / minute); case "seconds": return Math.floor(timediff / second); default: return undefined; } }
</script>