﻿@model SEB.Service.DCReservation

@{
    ViewBag.Title = "Booking Search";
    var hostUrl = CommonHelper.GetHostUrl();
    SEB.Entities.Location pickupLocation = (SEB.Entities.Location)ViewBag.Pickup;
    SEB.Entities.Location returnLocation = (SEB.Entities.Location)ViewBag.Return;

    List<SEB.Entities.Reservation> Confirmed = (List<SEB.Entities.Reservation>)ViewBag.Confirmed;
    List<SEB.Entities.Reservation> Cancelled = (List<SEB.Entities.Reservation>)ViewBag.Cancelled;
}

<script src="@(hostUrl + "/Scripts/jquery.blockUI.js")" type="text/javascript"></script>

<div class="divider12px">&nbsp;</div>
<div style="float:left;width: 95%; background-color:white;">

@if(TempData["error"] != null) { <script type="text/javascript">alert('@TempData["error"]');</script> }		
 
<style>
                            .siHeader{float:left;width:650px;background:#f1f1f1}
                            .siTitle{float:left; color:#202327;font-size:1.3em;padding:4px 5px 2px 5px;font-weight:bold;}
</style>

@{using (Html.BeginForm())
  {
      
      <div style="width: 100%; float:left; background-color: #FFF; min-height: 100px;">
        
          <div class="siHeader">
              <div class="siTitle">
                  <img src="@(hostUrl + "/Content/images/icon_car.gif")" alt="Booking Search" title="Booking search" /><div style="padding-top:8px;padding-left:10px;float:right;"> @Resources.Copy.Search_Title</div>
              </div>
          </div>
           <div style="clear:both;"/>
          <div style="width: 20%; text-align: right; float: left; padding-top: 17px;">@Resources.Copy.ReservationNumberLower&nbsp;@if (!User.Identity.IsAuthenticated) { @("*") }</div>
          <div style="width: 25%; text-align: left; float: left; padding-top:0px;"> &nbsp;<input type="text" name="txtResNo"/></div>

          @if (User.Identity.IsAuthenticated)
          {
          <div style="width: 20%; text-align: right; float: left; padding-top: 17px;">@Resources.Copy.InvoiceNumber &nbsp;</div>
          <div style="width: 25%; text-align: left; float: left; padding-top: 0px;"> &nbsp;<input type="text" name="txtInvoiceNumber" /></div>
          }
          else
          {
          <div style="width: 20%; text-align: right; float: left; padding-top: 17px;">@Resources.Copy.DriversLicenseNumber&nbsp;@if (!User.Identity.IsAuthenticated) { @("*") }</div>
          <div style="width: 25%; text-align: left; float: left; padding-top: 0px;"> &nbsp;<input type="text" name="txtLicenseNumber" /></div>
          }

          <div style="clear:both;"></div>
          
          <div style="width: 20%; text-align: right; float: left; padding-top: 17px;">@Resources.Copy.User_FirstName&nbsp;@if (!User.Identity.IsAuthenticated) { @("*") }</div>
          <div style="width: 25%; text-align: left; float: left; padding-top: 0px;"> &nbsp;<input type="text" name="txtFirstName"/></div>
          <div style="width: 20%; text-align: right; float: left; padding-top: 17px;">@Resources.Copy.User_LastName&nbsp;@if (!User.Identity.IsAuthenticated) { @("*") }</div>
          <div style="width: 25%; text-align: left; float: left; padding-top: 0px;"> &nbsp;<input type="text" name="txtLastName" /></div>
          <div style="clear:both;"></div>

          
          @if (ViewBag.Message != null)
          {
              <br />
              <p style="width:100%; text-align:center; font-weight:bold;">@ViewBag.Message</p>
          }

          <p style="width:100%; text-align:right;">
              
                  <button type="submit" onclick="javascript:Search_DoBlock();" id="submitForm" name="button" value="@Resources.Copy.Search_GetReservation" style="width:150px;">@Resources.Copy.Search_GetReservation</button>
              </p>

      </div>
     
        
  }
}

    @if ((Confirmed != null && Confirmed.Any()) || (Cancelled != null && Cancelled.Any()))
    {
        <h2>@Resources.Copy.YourBookingHistory</h2>
        if (Confirmed != null && Confirmed.Any())
        {
             <div style="width: 100%; background-color: lightgray; float: left; font-weight: bold;">
                 <label style="font-size: 1.2em;">@Resources.Copy.Confirmed</label><br/>
                 <div style="width: 100%; background-color: #f0f0f0; float: left; font-weight: bold;">
                     <div style="width: 25%; float: left;">@Resources.Copy.PickUp</div>
                     <div style="width: 25%; float: left;">@Resources.Copy.Date</div>
                     <div style="width: 25%; float: left;">@Resources.Copy.DropOff</div>
                     <div style="width: 12%; float: left;">&nbsp; </div>
                     <div style="width: 13%; float: left;">&nbsp; </div>
                 </div>
             </div>

            foreach (var reservation in Confirmed)
            {
                 <div style="width: 100%; float: left;background-color: #f0f0f0;">
                     <div style="width: 25%; float: left;">@reservation.Reservation_PickupLocation </div>
                     <div style="width: 25%; float: left;">@reservation.Reservation_PickupDate </div>
                     <div style="width: 25%; float: left;">@reservation.Reservation_DropoffLocation </div>
                     <div style="width: 12%; float: left;">@Html.ActionLink(Resources.Copy.View, "ViewBooking", "Booking", new { @id = reservation.Reservation_DCID }, null) </div>
                     <div style="width: 13%; float: left;">@if (reservation.Reservation_PickupDate > DateTime.Now.AddDays(1))
                                                           { @Html.ActionLink(Resources.Copy.Cancel, "CancelListBooking", "Booking", new { @id = reservation.Reservation_DCID }, null);
                                                           } </div>
                 </div>
            }
        }
        <p>&nbsp;</p>
        if (Cancelled != null && Cancelled.Any())
        {
             <div style="width: 100%; background-color: lightgray; float: left; font-weight: bold;">
                 <label style="font-size: 1.2em;">@Resources.Copy.Cancelled</label><br/>
                 <div style="width: 100%; background-color: #f0f0f0; float: left; font-weight: bold;">
                     <div style="width: 25%; float: left;">@Resources.Copy.PickUp</div>
                     <div style="width: 25%; float: left;">@Resources.Copy.Date</div>
                     <div style="width: 25%; float: left;">@Resources.Copy.DropOff</div>
                     <div style="width: 12%; float: left;">&nbsp; </div>
                     <div style="width: 13%; float: left;">&nbsp; </div>
                 </div>
             </div>

            foreach (var reservation in Cancelled)
            {
                 <div style="width: 100%; float: left;background-color: #f0f0f0;">
                     <div style="width: 25%; float: left;">@reservation.Reservation_PickupLocation </div>
                     <div style="width: 25%; float: left;">@reservation.Reservation_PickupDate </div>
                     <div style="width: 25%; float: left;">@reservation.Reservation_DropoffLocation </div>
                     <div style="width: 12%; float: left;">@Html.ActionLink(Resources.Copy.View, "ViewBooking", "Booking", new { @id = reservation.Reservation_DCID }, null)</div>
                     <div style="width: 13%; float: left;">&nbsp;</div>
                 </div>
            }
        }
    }
    <div class="divider12px"></div>

 @{
     if (ViewBag.Message == null)
     {
         
          <div class="siHeader">
               <div class="siTitle">
                   @Resources.Copy.Search_Results_Title
               </div>
               </div>
         
         <div style="width:100%;background-color:#f0f0f0; min-height:420px;float:left;">
             <br/>
    
             <style>
        
                 .summ_label {
                     width: 40%;text-align: right;float: left;padding-right: 5px; padding-top: 5px;font-weight: bold;
                 }
                 .summ_value {
                     width: 28%;text-align: left;float: left;padding-top: 5px;
                 }
                 .summ_price {
                     width: 30%;text-align: left;float: left;font-weight: bold; color: red;padding-top: 5px;
                 }
                 td {
                     padding-left: 5px;
                     border: 1px solid gray;
                 }
             </style>
    
             <table style="width:100%; border: 1px solid gray;">
                 <tr>
                     <td  colspan="3"><strong>@Resources.Copy.ReservationNumber:</strong> @Model.ID
                     </td>
                 </tr>
                 <tr>
                     <td colspan="3"><strong>@Model.DriverSurname, @Model.DriverGivenName</strong>, @ViewBag.ProjectName</td>
                 </tr>
                 <tr>
                     <td style="width: 20%;">&nbsp;</td><td><strong>@Resources.Copy.From</strong></td><td><strong>To</strong></td>
                 </tr>
                 <tr>
                     <td><strong>@Resources.Copy.Date</strong></td><td>@Model.PickupDateTime.ToString("dd/MM/yyyy H:mm")</td><td>@Model.ReturnDateTime.ToString("dd/MM/yyyy H:mm")</td>
                 </tr>
                 <tr>
                     <td><strong>@Resources.Copy.Details_Days</strong></td><td colspan="2">@ViewBag.Days day(s)</td>
                 </tr>
                 <tr>
                     <td><strong>@Resources.Copy.Offices</strong></td><td>@pickupLocation.Location_Name<br/>@pickupLocation.Location_Address<br/>@pickupLocation.Location_City<br/>@pickupLocation.Location_PostCode</td>
                     <td>@returnLocation.Location_Name<br/>@returnLocation.Location_Address<br/>@returnLocation.Location_City<br/>@returnLocation.Location_PostCode</td>
            
                 </tr>
                <tr>
            <td><strong>Opening Hours</strong></td>
            <td style="padding-left:0px; padding-top:0px;">                                       
            <table cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td width="30%" style="border:0px;">
    @Resources.Copy.Monday<br/>
    @Resources.Copy.Tuesday<br/>
    @Resources.Copy.Wednesday<br/>
    @Resources.Copy.Thursday<br/>
    @Resources.Copy.Friday<br/>
    @Resources.Copy.Saturday<br/>
    @Resources.Copy.Sunday<br/>
    </td>
    
    <td style="border:0px;">
                            @pickupLocation.MondayOpeningHours<br/>
                            @pickupLocation.TuesdayOpeningHours<br/>
                            @pickupLocation.WednesdayOpeningHours<br/>
                            @pickupLocation.ThursdayOpeningHours<br/>
                            @pickupLocation.FridayOpeningHours<br/>
                            @pickupLocation.SaturdayOpeningHours<br/>
                            @pickupLocation.SundayOpeningHours<br/> 
    </td>
  </tr>
  </table>
   </td>
                                                   
    <td style="padding-left:0px; padding-top:0px;">                                            
       <table cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td width="30%" style="border:0px;">
    @Resources.Copy.Monday<br/>
    @Resources.Copy.Tuesday<br/>
    @Resources.Copy.Wednesday<br/>
    @Resources.Copy.Thursday<br/>
    @Resources.Copy.Friday<br/>
    @Resources.Copy.Saturday<br/>
    @Resources.Copy.Sunday<br/>
    </td>
    
    <td style="border:0px;">
                            @returnLocation.MondayOpeningHours<br/>
                            @returnLocation.TuesdayOpeningHours<br/>
                            @returnLocation.WednesdayOpeningHours<br/>
                            @returnLocation.ThursdayOpeningHours<br/>
                            @returnLocation.FridayOpeningHours<br/>
                            @returnLocation.SaturdayOpeningHours<br/>
                            @returnLocation.SundayOpeningHours<br/> 
    </td>
  </tr>
  </table>                                             
     </td>
        </tr>

         <tr>
         <td><strong>@Resources.Copy.BookingSummary_DeliveryLabel<br/><br/>
         </strong></td>
         <td>

         <table width="100%" border="0" cellpadding="0" cellspacing="0">
         <tr><td style="padding-left:0px; padding-top:0px; border:0px;">
         @if (!string.IsNullOrEmpty(Model.DeliveryAddress1))
         {

                 <b>@Resources.Copy.BookingSummary_DeliverCarTo</b><br />
                 @Model.DeliveryAddress1 <br />
                 @Model.DeliveryAddress2<br />
                 <br />
         
                 <i>@Resources.Copy.BookingSummary_Deliveryinstruktions</i><br />
                 @Model.DeliveryInstructions1
         }
         else
         {
                 <strong>@Resources.Copy.BookingSummary_NoDelivery</strong>
         }
         </td></tr>
         </table>
         </td>
         
         <td>
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
         <tr><td style="padding-left:0px; padding-top:0px; border:0px;">
         @if (!string.IsNullOrEmpty(Model.CollectionAddress1))
         {
                 <b>@Resources.Copy.BookingSummary_CollectCarAt</b><br />
                 @Model.CollectionAddress1<br />
                 @Model.CollectionAddress2<br />
                 <br />

                 <i>@Resources.Copy.BookingSummary_Collectioninstruktions</i><br />
                 @Model.CollectionInstructions1
         }
         else
         {
                 <strong>@Resources.Copy.BookingSummary_NoCollection</strong>
         }
         </td></tr>
         </table>
         
         </td>
     </tr>

                 <tr>
                     <td><strong>@Resources.Copy.YourCar</strong></td><td colspan="2">@Model.VehicleMakeModelName</td>
                 </tr>
                 <tr>
                     <td><strong>@Resources.Copy.CostforHire</strong></td><td colspan="2"><strong>@Model.CurrencyCode @Model.Amount</strong></td>
                 </tr>
                 <tr>
                     @if (Model.Extras.Any())
                     {
                         <td><strong>@Resources.Copy.Extras</strong></td>
                     }
                     else
                     {
                         <td><strong>@Resources.Copy.Extras</strong></td><td colspan="2">@Resources.Copy.None</td>
                     }
                 </tr>
     
                 @if (Model.Extras.Any())
                 {
                     foreach (var ex in Model.Extras)
                     {
                         if (ex != null)
                         {
                             <tr>
                                 <td>&nbsp;</td><td>@ex.Name - @Resources.Copy.Quantity: @ex.Quantity</td><td>@Model.CurrencyCode @ex.Total
                                                                                              <!--if(ex.Total == 0)
                                                                                                  {
                                                                                                  Html.Raw(Resources.Copy.Chargedatthestation)
                                                                                                  }
                                                                                                  else
                                                                                                  {
                                                                                                  Html.Raw("Cost: " + Model.CurrencyCode + ex.Total.ToString())
                                                                                                  }
                                                                                                  -->
                     
                                                                                          </td>
                             </tr>
                         }


                     }
                 }
     
                 <tr>
                     <td><strong>@Resources.Copy.Total</strong></td><td colspan="2">@Model.CurrencyCode @ViewBag.Total</td>    
                 </tr>
                 
                 <tr>
                     <td><strong>Prepaid/Voucher Amount</strong></td><td colspan="2">@Model.CurrencyCode @ViewBag.VoucherValue</td>    
                 </tr>

                 @if (Model.Charges != null && Model.Charges.Count() > 0)
                 {
           <tr>
               <td>
                   <strong>@Resources.Copy.YourPriceIncludes</strong>
               </td>
               <td colspan="2">
                   <ul style="list-style-type: disc;">
                       @foreach (SEB.Service.DCCharge charge in Model.Charges)
                       {
                           if (charge.Name.ToLower() == "vehiclerental") { charge.Text = Resources.Copy.Rental; }
                           <li>@charge.Text - @Model.CurrencyCode @charge.Amount</li>
                       }
                   </ul>
               </td>
           </tr>
                 } 

             </table>

             <p style="width:95%; text-align:center">
                 @{
                 if (ViewBag.Status != "CANCELLED" && Model.PickupDateTime > DateTime.Now.AddDays(1))
                 {
                     using (Html.BeginForm("CancelBooking", "Booking"))
                     {
                         <input type="hidden" name="ResNumber" value="@Model.ID" />
                         <input type="hidden" name="Surname" value="@Model.DriverSurname" />
              
                         <div style="float:left; padding-left:15px;">
                             <button onclick="javascript:Cancel_DoBlock();" type="submit" id="cancelBooking" value="@Resources.Copy.CancelThisBooking" style="width:150px;">@Resources.Copy.CancelThisBooking</button>
                         </div>
                     }
                 }
                 }

                 @if (ViewBag.InvoiceNumber != null)
                 {
                     using (Html.BeginForm("GetInvoice", "Utils", FormMethod.Post, new { @target = "_blank" }))
                     {
                                <input type="hidden" name="InvoiceNumber" value="@ViewBag.InvoiceNumber" />
                        <div style="float:left; padding-left:15px;">
                        <button onclick="javascript:Invoice_DoBlock();" type="submit" id="getInvoice" name="button" value="@Resources.Copy.GetInvoice" style="width:150px;">@Resources.Copy.GetInvoice</button>
                    </div>
                     }
                 }
        
                 @{
                 if (ViewBag.Status != "CANCELLED" && Model.PickupDateTime > DateTime.Now.AddDays(1))
                 {
                     using (Html.BeginForm("editBooking", "Booking"))
                     {
                         <input type="hidden" name="ResNumber" value="@Model.ID" />
                         <input type="hidden" name="Surname" value="@Model.DriverSurname" />
              
                         <div style="float:right; padding-right:15px;">
                             <button type="submit" id="editBooking" value="@Resources.Copy.EditThisBooking" style="width:150px;">@Resources.Copy.EditThisBooking</button>
                         </div>
                     }
                 }
                 }
             </p>
         </div>

    
 
     }
     
    }
    
    </div>

    <div id="blockui_message_search" style="display:none;"><br /><img src='@hostUrl/content/images/ajax-loader.gif' /><h2>&nbsp;@Resources.Copy.Overlay_SearchingForBooking</h2></div>
    <div id="blockui_message_cancel" style="display:none;"><br /><img src='@hostUrl/content/images/ajax-loader.gif' /><h2>&nbsp;@Resources.Copy.Overlay_CancellingBooking</h2></div>


    </div>

            <script type="text/javascript">
                var hostURL = '@hostUrl';
                function Search_DoBlock() {
                    if (typeof (bNotIE) == 'undefined') {
                        $.blockUI({ message: '<br /><img src="' + hostURL + '/content/images/ajax-loader.gif" /><h2>&nbsp;@Resources.Copy.Overlay_SearchingForBooking</h2>' });
                    }
                    else {
                        $.blockUI.defaults.message = $('#blockui_message_search');
                        $.blockUI();
                    }
                }
                function Cancel_DoBlock() {
                    if (typeof (bNotIE) == 'undefined') {
                        $.blockUI({ message: '<br /><img src="' + hostURL + '/content/images/ajax-loader.gif" /><h2>&nbsp;@Resources.Copy.Overlay_CancellingBooking</h2>' });
                    }
                    else {
                        $.blockUI.defaults.message = $('#blockui_message_cancel');
                        $.blockUI();
                    }
                }
                function Invoice_DoBlock() {

                    $.blockUI({ message: '<br /><img src="' + hostURL + '/content/images/ajax-loader.gif" /><h2>&nbsp;@Resources.Copy.Overlay_RetrievingInvoice</h2>' });
                }



            
            </script>