﻿@using SEB
@using SEB.Entities
@model SEB.Service.DCReservation

 @{
     ViewBag.Title = "Booking Details - Summary";
     BookMakerContext bm = new BookMakerContext();
     var hostUrl = CommonHelper.GetHostUrl();
     SEB.Entities.Location pickupLocation = (SEB.Entities.Location)ViewBag.Pickup;
     SEB.Entities.Location returnLocation = (SEB.Entities.Location)ViewBag.Return;
     SEBRate rate = (SEBRate)ViewBag.Inclusions;

     Dictionary<string, object> formparameters = (Dictionary<string, object>)ViewBag.formParameters;
     User user = (User)ViewBag.user;
     car c = (car) Session["car"];
}

<script src="@(hostUrl + "/Scripts/jquery.blockUI.js")" type="text/javascript"></script>

<link href="@(hostUrl + "/Content/chooseacar.css")" rel="stylesheet" type="text/css" />
@Html.Partial("_breadCrumb")
<br/>

 
 @Html.Raw(ViewBag.Message)
                
                    <div style="width:95%; float:left;background-color:#FFF; min-height: 450px;">
                        
                       

                        <div class="siHeader">
                            <div class="siTitle">
                                 <img src="@(hostUrl + "/Content/images/icon_summary.gif")" alt="Booking Details" title="Booking Details" /><div style="padding-top:8px;padding-left:10px;float:right;">@Resources.Copy.BookingSummary_BookingSummary</div>
                            </div>
                        </div>
		
 
                        <style>
                         

                            .summ_label {
                                width: 40%;text-align: right;float: left;padding-right: 5px; padding-top: 5px;font-weight: bold;
                            }
                            .summ_value {
                                width: 28%;text-align: left;float: left;padding-top: 5px;
                            }
                            .summ_price {
                                width: 30%;text-align: left;float: left;font-weight: bold; color: red;padding-top: 5px;
                            }
                            td {
                                padding-left: 5px;
                            }
                        </style>
    
                        <br/>&nbsp;
                        <table width="649px" style="border-collapse:collapse;" border="1" bordercolor="#848284">
                           
                            <tr>
                                <td style="width:20%;">&nbsp;</td><td><strong>@Resources.Copy.BookingSummary_From</strong></td><td><strong>@Resources.Copy.BookingSummary_To</strong></td>
                            </tr>
                            <tr>
                                <td><strong>@Resources.Copy.Date</strong></td><td>@Model.PickupDateTime.ToString("dd/MM/yyyy H:mm")</td><td>@Model.ReturnDateTime.ToString("dd/MM/yyyy H:mm")</td>
                            </tr>
                            <tr>
                                <td><strong>@Resources.Copy.Details_Days</strong></td><td colspan="2">@ViewBag.Days day(s)</td>
                            </tr>
                            <tr>
                                <td><strong>@Resources.Copy.Offices</strong></td><td>@pickupLocation.Location_Name<br/>@pickupLocation.Location_Address<br/>@pickupLocation.Location_City<br/>@pickupLocation.Location_PostCode</td>
                                <td>@returnLocation.Location_Name<br/>@returnLocation.Location_Address<br/>@returnLocation.Location_City<br/>@returnLocation.Location_PostCode
                                </td>
            
                            </tr>
                            <tr>
                                <td><strong>@Resources.Copy.BookingSummary_OpeningHours</strong></td>
                                <td style="padding-left:0px; padding-top:0px;">                                       
                                    <table cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <td width="30%">
                                                @Resources.Copy.Monday<br/>
                                                @Resources.Copy.Tuesday<br/>
                                                @Resources.Copy.Wednesday<br/>
                                                @Resources.Copy.Thursday<br/>
                                                @Resources.Copy.Friday<br/>
                                                @Resources.Copy.Saturday<br/>
                                                @Resources.Copy.Sunday<br/>
                                            </td>
    
                                            <td>
                                                @pickupLocation.MondayOpeningHours<br/>
                                                @pickupLocation.TuesdayOpeningHours<br/>
                                                @pickupLocation.WednesdayOpeningHours<br/>
                                                @pickupLocation.ThursdayOpeningHours<br/>
                                                @pickupLocation.FridayOpeningHours<br/>
                                                @pickupLocation.SaturdayOpeningHours<br/>
                                                @pickupLocation.SundayOpeningHours<br/> 
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                                   
                                <td style="padding-left:0px; padding-top:0px;">                                            
                                    <table cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <td width="30%">
                                                @Resources.Copy.Monday<br/>
                                                @Resources.Copy.Tuesday<br/>
                                                @Resources.Copy.Wednesday<br/>
                                                @Resources.Copy.Thursday<br/>
                                                @Resources.Copy.Friday<br/>
                                                @Resources.Copy.Saturday<br/>
                                                @Resources.Copy.Sunday<br/>
                                            </td>
    
                                            <td>
                                                @returnLocation.MondayOpeningHours<br/>
                                                @returnLocation.TuesdayOpeningHours<br/>
                                                @returnLocation.WednesdayOpeningHours<br/>
                                                @returnLocation.ThursdayOpeningHours<br/>
                                                @returnLocation.FridayOpeningHours<br/>
                                                @returnLocation.SaturdayOpeningHours<br/>
                                                @returnLocation.SundayOpeningHours<br/> 
                                            </td>
                                        </tr>
                                    </table>                                             
                                </td>
                            </tr>
        

                            <tr>
                                <td><strong>@Resources.Copy.BookingSummary_DeliveryLabel<br/><br/>
                                    </strong></td>
                                <td>

                                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                        <tr><td style="padding-left:0px; padding-top:0px;">

                                                @if (!string.IsNullOrEmpty(Model.DeliveryAddress1))
                                                {

                                                    <b>@Resources.Copy.BookingSummary_DeliverCarTo</b><br/>
                                                    @Model.DeliveryAddress1<br /> 
                                                    @Model.DeliveryAddress2<br/><br/>
         
                                                    <i>@Resources.Copy.BookingSummary_Deliveryinstruktions</i><br/>
                                                    @Model.DeliveryInstructions1
                                                }
                                                else
                                                {
                                                    <strong>@Resources.Copy.BookingSummary_NoDelivery</strong>
                                                }
                                            </td></tr>
                                    </table>
                                </td>
         
                                <td>
                                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                        <tr><td style="padding-left:0px; padding-top:0px;">
                                                @if (!string.IsNullOrEmpty(Model.CollectionAddress1))
                                                {
                                                    <b>@Resources.Copy.BookingSummary_CollectCarAt</b><br/>
                                                    @Model.CollectionAddress1<br />
                                                    @Model.CollectionAddress2<br/><br/>

                                                    <i>@Resources.Copy.BookingSummary_Collectioninstruktions</i><br/>
                                                    @Model.CollectionInstructions1
                                                }
                                                else
                                                {
                                                    <strong>@Resources.Copy.BookingSummary_NoCollection</strong>
                                                }
                                            </td></tr>
                                    </table>
         
                                </td>
                            </tr>
     
                            <tr>
                                <td><strong>@Resources.Copy.YourCar</strong></td><td colspan="2">@Model.VehicleMakeModelName Group:@Session["carGroupLetter"]</td>
                            </tr>
                            <tr>
                                <td><strong>@Resources.Copy.CostforHire</strong></td><td colspan="2"><strong>@Model.CurrencyCode @Model.Amount</strong></td>
                            </tr>
                            <tr>
                                @if (Model.Extras.Any())
                                {
                                    <td><strong>@Resources.Copy.Extras</strong></td>
                                }
                                else
                                {
                                    <td><strong>@Resources.Copy.Extras</strong></td><td colspan="2">@Resources.Copy.None</td>
                                }
                            </tr>
     
                            @if (Model.Extras.Any())
                            {
                                foreach (var ex in Model.Extras)
                                {
                                    if (ex != null)
                                    {
                                        <tr>
                                            <td>&nbsp;</td><td>@ex.Name - Quantity: @ex.Quantity</td><td>@Model.CurrencyCode @ex.Total
                                                                                                         <!--if(ex.Total == 0)
                                                                                                             {
                                                                                                             Html.Raw(Resources.Copy.Chargedatthestation)
                                                                                                             }
                                                                                                             else
                                                                                                             {
                                                                                                             Html.Raw("Cost: " + Model.CurrencyCode + ex.Total.ToString())
                                                                                                             }
                                                                                                             -->
                     
                                                                                                     </td>
                                        </tr>
                                    }


                                }
                            }
                            <tr>
                                <td><strong>@Resources.Copy.BookingSummary_TotalAmount</strong></td><td colspan="2">@Model.CurrencyCode @ViewBag.Total</td>    
                            </tr>
     
                            @if (ViewBag.Inclusions != null)
                            {
                                <tr>
                                    <td>
                                        <strong>@Resources.Copy.YourPriceIncludes</strong>
                                    </td>
                                    <td colspan="2">
                                        <ul style="list-style-type:disc;">
                                            @foreach (var charge in rate.Charges)
                                            {
                                                if (charge.Name.ToLower() == "vehiclerental") { charge.Text = "Rental"; }
                                                <li>@charge.Text - @Model.CurrencyCode @charge.Amount</li>
                                            }
                                        </ul>
                                    </td>
                                </tr>
                            }   

                        </table>
                        <br />
    @using (Html.BeginForm("ConfirmBooking", "Booking"))
        {
 <div style="width:100%; height:30px; background:url(@(hostUrl + "/Content/Images/contentSepWide.jpg"))  no-repeat top left;">
            <div style="background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F0F0F0), color-stop(1, #C0C0C0)); padding-left: 20px; padding-right:10px; font-weight:bold; width:25%; height:26px;">
                <div style="padding-top:5px;">@Resources.Copy.DriverDetails</div>
            </div>
        </div>
                      
                        <p style="font-size:8px; ">&nbsp;</p>
        
              <div style="float:left; text-align:right; width:35%; height:30px;">@Resources.Copy.User_FirstName *: </div><div style="float:right; text-align:left;width:64%; height:30px;">@Html.TextBox("DriverGivenName", user.FirstName, new { style="width:76px" })&nbsp; @Html.TextBox("DriverSurname", user.LastName, new { style="width:105px" })</div>
                
          <div style="float:left; text-align:right; width:35%; height:30px;">@Resources.Copy.User_Email *: </div><div style="float:right; text-align:left;width:64%; height:30px;">@Html.TextBox("DriverEmail", user.Email, new { style="width:191px" })</div>

                <div style="float:left; text-align:right; width:35%; height:30px;">@Resources.Copy.User_MobilePhoneNumber : </div><div style="float:right; text-align:left;width:64%; height:30px;">@Html.TextBox("DriverPhone", user.MobileNumber, new { style="width:191px" })</div>
                <div style="float:left; text-align:right; width:35%; height:30px;">@Resources.Copy.User_HomeAddressLine1 *: </div><div style="float:right; text-align:left;width:64%; height:30px;">@Html.TextBox("DriverStreet", user.Address1, new { style="width:191px" })</div>
                <div style="float:left; text-align:right; width:35%; height:30px;">@Resources.Copy.User_HomeAddressLine2 : </div><div style="float:right; text-align:left;width:64%; height:30px;">@Html.TextBox("DriverStreet2", user.Address2, new { style="width:191px" })</div>

               <!-- <div style="float:left; text-align:right; width:35%; height:30px;">@Resources.Copy.State : </div><div style="float:right; text-align:left;width:64%; height:30px;">@Html.TextBox("State", user.State, new { style="width:191px" })</div> -->
                <div style="float:left; text-align:right; width:35%; height:30px;">@Resources.Copy.User_PostalCode *: </div><div style="float:right; text-align:left;width:64%; height:30px;">@Html.TextBox("DriverPostCode", user.PostCode, new { style="width:65px" })&nbsp; @Html.TextBox("City", user.City, new { style="width:116px" })</div>
                <div style="float:left; text-align:right; width:35%; height:30px;">@Resources.Copy.Country : </div><div style="float:right; text-align:left;width:64%; height:30px;">@Html.DropDownList("CountryOfResidence", (IEnumerable<SelectListItem>)ViewData["ResidenceCountries"])</div>
                <div style="float:left; text-align:right; width:35%; height:30px;">@Resources.Copy.User_DOB *: </div><div style="float:right; text-align:left;width:64%; height:30px;">@Html.TextBox("DriverBirthDate", user.DateOfBirth > new DateTime(1999,1,1) ? user.DateOfBirth.ToShortDateString() : string.Empty, new { style = "width:191px" })</div>
          
                <div style="float:left; text-align:right; width:35%; height:30px;">@Resources.Copy.Activate_DriversLicenseNumber *: </div><div style="float:right; text-align:left;width:64%; height:30px;">@Html.TextBox("DriversLicense", user.DriversLicense, new { style = "width:191px" })</div>

                <div style="float:left; text-align:right; width:35%; height:30px;">@Resources.Copy.BookingDetails_BpanelFlightNumber: </div><div style="float:right; text-align:left;width:64%; height:30px;"><input type="text" name="FlightNumber" id="FlightNumber" value="@(Model.ArrivalFlightNumber != "WI" ? Model.ArrivalFlightNumber : "")" style="width:110px;" />
                <input type="checkbox" title="" @(Model.ArrivalFlightNumber == "WI" ? "checked" : "") id="chkNoFlight" name="chkNoFlight"/>@Resources.Copy.BookingDetails_BpanelNotArrivingByPlane
                </div>
        
                <div style="float:left; text-align:right; width:35%; height:30px;"><label style="font-size:12px;" for="chkPrivacy">@Resources.Copy.User_IhaveRead <a href="@hostUrl/Home/BookingConditions@(Session["chosenLanguage"].ToString() == "FI" && c.company.ToLower() == "budget" ? "?company=budget" : string.Empty)" target="_blank">@Resources.Copy.PrivacyPolicy</a></label></div><div style="float:right; text-align:left;width:64%; height:30px;">@Html.CheckBox("TermsAgreed") <span id="privacyValidation"></span></div>
          <p style="clear:both;">&nbsp;</p>
    
 <div style="width:100%; height:30px; background:url(@(hostUrl + "/Content/Images/contentSepWide.jpg"))  no-repeat top left;">
            <div style="background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F0F0F0), color-stop(1, #C0C0C0)); padding-left: 20px; padding-right:10px; font-weight:bold; width:20%; height:26px;">
                <div style="padding-top:5px;">@Resources.Copy.CardPaymentDetails</div>
            </div>
        </div>
        <br />
                <div style="float:left; text-align:right; width:35%; height:30px;">@Resources.Copy.BookingDetails_BpanelCardType : </div><div style="float:right; text-align:left;width:64%; height:30px;"><select id="cboCardType" name="cboCardType">
                            <option value="VI">VISA</option>
                            <option @(Session["chosenCardmake"].ToString() == "EC" ? "selected" : "") value="MC">MasterCard</option>
                            <option value="AX">American Express</option>
                            <option @(Session["chosenCardmake"].ToString() == "DC" ? "selected" : "") value="DN">Diners Club</option>
                            <!--<option value="CB">Carte Blanche</option>
                            <option value="CC">En Route</option>
                            <option value="CJ">JAL & JCB</option>
                            <option value="CN">G.E</option>-->
                        </select></div>
         
        
                        <div style="float:left; text-align:right; width:35%; height:30px;">@Resources.Copy.CardNumber * : </div><div style="float:right; text-align:left;width:64%; height:30px;"><input name="Ecom_Payment_Card_Number" id="Ecom_Payment_Card_Number" autocomplete="Off" MAXLENGTH="20" size="20" type="text" class="numberLtr"></div>
                        <div style="float:left; text-align:right; width:35%; height:30px;">@Resources.Copy.CardExpiryDate * : </div>
                        <div style="float:right; text-align:left;width:64%; height:30px;">
                        <select id="Ecom_Payment_Card_ExpDate_Month" name="Ecom_Payment_Card_ExpDate_Month" size="1"   title=" Expiry date &#40;mm/yyyy&#41; &#40;month&#41;">
													
											<option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                        </select>/
                        <select id="Ecom_Payment_Card_ExpDate_Year" name="Ecom_Payment_Card_ExpDate_Year" size="1"   title=" Expiry date &#40;mm/yyyy&#41; &#40;year&#41;">
									

                                            <option value="14">2014</option>
                                            <option value="15">2015</option>
                                            <option value="16">2016</option>
                                            <option value="17">2017</option>
                                            <option value="18">2018</option>
                                            <option value="19">2019</option>
                                            <option value="20">2020</option>
                                            <option value="21">2021</option>
                                            <option value="22">2022</option>
                                            <option value="23">2023</option>
                                            <option value="24">2024</option>


											</select>
                        </div>

                                  <p style="clear:both;">&nbsp;</p>
        
            if (Session["chosenCardmake"].ToString() == "DC" && Session["chosenLanguage"].ToString() == "FI" && Model.PickupLocationCountry == "FI")
            {

                
                
                          <div style="width:100%; height:30px; background:url(@(hostUrl + "/Content/Images/contentSepWide.jpg"))  no-repeat top left;">
            <div style="background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F0F0F0), color-stop(1, #C0C0C0)); padding-left: 20px; padding-right:10px; font-weight:bold; width:25%; height:26px;">
               <div style="padding-top:5px;">Voucher Details</div>
              
            </div>
        </div>
        <br />
                <div style="float:left; text-align:right; width:35%; height:30px;">Voucher Number : </div><div style="float:right; text-align:left;width:64%; height:30px;">@Html.TextBox("VoucherNumber", null, new { style = "width:191px;", maxlength = "8", name = "VoucherNumber" })</div>
                <div style="float:left; text-align:right; width:35%; height:30px;">Voucher Value : </div><div style="float:right; text-align:left;width:64%; height:30px;">@Html.TextBox("VoucherValue", null, new { style = "width:191px", name = "VoucherValue" })</div>
            }
                <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
            <div style="float:left; text-align:right; width:68%; height:30px;">&nbsp;</div>
            <div style="float:right; text-align:left;width:32%; height:30px;"> <button type="submit" onclick="SubmitDriverDetails(); return doPayment;" id="submitForm" value="@Resources.Copy.Summary_Next" @(c.company == "AVIS" ? Html.Raw("class='button'") : Html.Raw("class='buttonblue'")) style="width:150px;">@Resources.Copy.Summary_Next</button></div>
                                                       
        }

                    </div>
                
            
<div id="blockui_message" style="display:none;"><br /><img src='@hostUrl/content/images/ajax-loader.gif' /><h2>&nbsp;@Resources.Copy.Overlay_ConfirmingBooking</h2></div>


<script type="text/javascript">
    var doPayment = true;
    var hostURL = '@hostUrl';
//    var m = '@user.CardExpiryMonth';
    //    var y = '@user.CardExpiryYear';

    var amount = @Model.Amount.ToString().Replace(",", ".")


    function TranslateSpecialCharacters(sourceString)
    {
        
            sourceString = sourceString.replace("á", "a")
                .replace("Á", "A")
                .replace("à", "a")
                .replace("À", "A")
                .replace("â", "a")
                .replace("Â", "A")
                .replace("å", "a")
                .replace("Å", "A")
                .replace("ã", "a")
                .replace("Ã", "A")
                .replace("ä", "a")
                .replace("Ä", "A")
                .replace("æ", "ae")
                .replace("Æ", "AE")
                .replace("ç", "c")
                .replace("Ç", "C")
                .replace("é", "e")
                .replace("É", "E")
                .replace("è", "e")
                .replace("È", "E")
                .replace("ê", "e")
                .replace("Ê", "E")
                .replace("ë", "e")
                .replace("Ë", "E")
                .replace("í", "i")
                .replace("Í", "I")
                .replace("ì", "i")
                .replace("Ì", "I")
                .replace("î", "i")
                .replace("Î", "I")
                .replace("ï", "i")
                .replace("Ï", "I")
                .replace("ñ", "n")
                .replace("Ñ", "N")
                .replace("ó", "o")
                .replace("Ó", "O")
                .replace("ò", "o")
                .replace("Ò", "O")
                .replace("ô", "o")
                .replace("Ô", "O")
                .replace("ø", "o")
                .replace("Ø", "O")
                .replace("õ", "o")
                .replace("Õ", "O")
                .replace("ö", "o")
                .replace("Ö", "O")
                .replace("ß", "ss")
                .replace("ú", "u")
                .replace("Ú", "U")
                .replace("ù", "u")
                .replace("Ù", "U")
                .replace("û", "u")
                .replace("Û", "U")
                .replace("ü", "u")
                .replace("Ü", "U")
                .replace("ÿ", "y");
        
        return sourceString;
    }


    function DoBlock() {
    if (typeof (bNotIE) == 'undefined') {
            $.blockUI({ message: '<br /><img src="' + hostURL + '/content/images/ajax-loader.gif" /><h2>&nbsp;@Resources.Copy.Overlay_ConfirmingBooking</h2>' });
        }
        else{
        $.blockUI.defaults.message = $('#blockui_message');
        $.blockUI();
        }
    }

    var d = new Date();
    var year = d.getFullYear() - 21;

    $(document).ready(function () {

        $("#DriverBirthDate").datepicker({ dateFormat: 'dd-mm-yy', defaultDate: new Date(year, d.getMonth(), d.getDate()), changeMonth: true,
            changeYear: true,
            showButtonPanel: true, maxDate: new Date(year, d.getMonth(), d.getDate()),
            yearRange: '-90:-18'
        });

//        $("#Ecom_Payment_Card_ExpDate_Month").val(m);
//        $("#Ecom_Payment_Card_ExpDate_Year").val(y);   

    });

    String.prototype.trim = function () {
        return this.replace(/^\s+|\s+$/g, "");
    }


    function validateEmail(email) 
    {
        var re = /\S+@@\S+\.\S+/;
        return re.test(email);
    }


    function SubmitDriverDetails() {
        doPayment = true;
        DoBlock();

        $("#DriverStreet2").val(TranslateSpecialCharacters($("#DriverStreet2").val()));
        //$("#State").val(TranslateSpecialCharacters($("#State").val()));
        $("#DriverPostCode").val(TranslateSpecialCharacters($("#DriverPostCode").val()));

        if ($("#DriverGivenName").val().trim().length == 0) {
         alert('@Html.Raw(Resources.Copy.Validations_FirstName)');
                $.unblockUI();
                doPayment = false;
                return false;
            }
            else{
                $("#DriverGivenName").val(TranslateSpecialCharacters($("#DriverGivenName").val()));
            }
            if ($("#DriverSurname").val().trim().length == 0) {
                alert('@Html.Raw(Resources.Copy.Validations_LastName)');
                $.unblockUI();
                doPayment = false;
                return false;
            }
            else{
                $("#DriverSurname").val(TranslateSpecialCharacters($("#DriverSurname").val()));
            }
            if ($("#DriverEmail").val().trim().length == 0) {
                alert('@Html.Raw(Resources.Copy.Validations_Email)');
                $.unblockUI();
                doPayment = false;
                return false;
            }
            else
            {
                if(validateEmail($("#DriverEmail").val().trim()) == false)
                {
                    alert('@Html.Raw(Resources.Copy.Validations_Email)');
                    $.unblockUI();
                    doPayment = false;
                    return false;
                }
            }

            if ($("#DriverStreet").val().trim().length == 0) {
                alert('@Html.Raw(Resources.Copy.Validations_FirstLine)');
                $.unblockUI();
                doPayment = false;
                return false;
            }
            else{
                $("#DriverStreet").val(TranslateSpecialCharacters($("#DriverStreet").val()));
            }
            if ($("#City").val().trim().length == 0) {
                alert('@Html.Raw(Resources.Copy.Validations_City)');
                $.unblockUI();
                doPayment = false;
                return false;
            }
            else{
                $("#City").val(TranslateSpecialCharacters($("#City").val()));
            }
            if ($("#DriverPostCode").val().trim().length == 0) {
                alert('@Html.Raw(Resources.Copy.Validations_PostCode)');
                $.unblockUI();
                doPayment = false;
                return false;
            }
            if ($("#DriverBirthDate").val().trim().length == 0) {
                alert('@Html.Raw(Resources.Copy.Validations_DOB)');
                $.unblockUI();
                doPayment = false;
                return false;
            }
            if ($("#DriversLicense").val().trim().length == 0) {
                alert('@Html.Raw(Resources.Copy.Validations_DriversLicence)');
                $.unblockUI();
                doPayment = false;
                return false;
            }
            else
            {
                var reg = new RegExp('^[a-zA-Z0-9]+$');
                if (!reg.test($("#DriversLicense").val())) {
                    alert('@Html.Raw(Resources.Copy.Validations_DriversLicence)');
                    $.unblockUI();
                    doPayment = false;
                    return false;
                }
            }

            if (!$('#chkNoFlight').is(':checked')) {
                if ($("#FlightNumber").val() == "") {
                    alert("@Html.Raw(Resources.Copy.NoFlightNumber)");
                    $.unblockUI();
                    doPayment = false;
                    return false;
                }
            }

            if (!$('#TermsAgreed').attr('checked')) {
                alert('@Html.Raw(Resources.Copy.Validations_Terms)');
                $.unblockUI();
                doPayment = false;
                return false;
            }

            if($("#cboCardType").val() == "DN")
            {
                if ($("#Ecom_Payment_Card_Number").val().trim().length != 14) {
                    alert('Diners Club card number must be 14 digits');
                    $.unblockUI();
                    doPayment = false;
                    return false;
                }
            }
            else
            { 
                if ($("#Ecom_Payment_Card_Number").val().trim().length < 16) {
                    alert('@Html.Raw(Resources.Copy.Validations_CardNumber)');
                    $.unblockUI();
                    doPayment = false;
                    return false;
                }
            }
            
            var reg = new RegExp('^[0-9]+$');
            var cc = reg.test($("#Ecom_Payment_Card_Number").val());
            if (cc == false) {
                    alert('@Html.Raw(Resources.Copy.Validations_CardNumber)');
                    $.unblockUI();
                    doPayment = false;
                    return false;
                }

            var exDate = new Date($("#Ecom_Payment_Card_ExpDate_Year").val(), "20" + $("#Ecom_Payment_Card_ExpDate_Month").val(), 28);
            if (exDate < d) {
                alert('@Html.Raw(Resources.Copy.Validations_Expiry)');
                $.unblockUI();
                doPayment = false;
                return false;
            }

            if ($("#VoucherNumber").val().trim().length > 0 && $("#VoucherNumber").val().trim().length < 6) {
                alert('Voucher number must be between 6 and 8 characters');
                $.unblockUI();
                doPayment = false;
                return false;
            }

            if ($("#VoucherNumber").val().trim().length > 0 && ($("#VoucherValue").val().trim().length == 0 || isNaN($("#VoucherValue").val().trim()))) {
                alert('Voucher value must be a number if you have entered a voucher number');
                $.unblockUI();
                doPayment = false;
                return false;
            }


            if ($("#VoucherNumber").val().trim().length > 0 && (parseFloat($("#VoucherValue").val().trim()) > parseFloat(amount) || parseFloat($("#VoucherValue").val().trim()) < 0)) {
                alert('Voucher value must be greater than 0 and cannot exceed the the booking value');
                $.unblockUI();
                doPayment = false;
                return false;
            }

            

            return doPayment;
    }

</script>