﻿@using SEB.Service
@model List<DCCharge>

@{
    ViewBag.Title = "Booking Details - Extras";
    List<SEB.Entities.EquipmentCode> equipmentCodes = ViewBag.equipmentCodes;
    var hostUrl = CommonHelper.GetHostUrl();
    var reservation = (DCReservation) ViewBag.Reservation;
    var car = (SEB.Entities.SEBRate)ViewBag.Inclusions;
    List<SEB.Entities.Fleet> fleet = ViewBag.Fleet;
}
<script src="@(hostUrl + "/Scripts/jquery.blockUI.js")" type="text/javascript"></script>
<link href="@(hostUrl + "/Content/chooseacar.css")" rel="stylesheet" type="text/css" />
@Html.Partial("_breadCrumb")
<br/>





<!--<div style='width:100%;float:left'>-->
    


    <div style='width:95%;float:left;padding: 0px 0px 0px 0px;background-color:#FFF;'>
        
        <!--<div class="siHeader">
            <div class="siTitle">
                 <img src="@(hostUrl + "/Content/images/icon_summary.gif")" alt="Choose extras" title="Choose extras" /> Price and Inclusions
            </div>
            
        </div>
        <br/>&nbsp;

        -->


        <div class="ratelistitem">

        @{
            
            string region = ViewBag.RegionCode.ToString();

            var f = fleet.FirstOrDefault(x => x.Fleet_CarGroup == car.CarGroup && x.Region_Code == region);
            if (f == null && region.Length > 3)
            {
                region = region.Substring(0, 2) + "0";
                f = fleet.FirstOrDefault(x => x.Fleet_CarGroup == car.CarGroup && x.Region_Code == region);
            }

            if (f != null)
            {

                car.DoorCount = f.Fleet_DoorCount != null ? (int)f.Fleet_DoorCount : 0;
                car.SeatCount = f.Fleet_SeatCount != null ? (int)f.Fleet_SeatCount : 0;
                car.LuggageCount = f.Fleet_LuggageCount != null ? (int)f.Fleet_LuggageCount : 0;
                car.AirCondition = f.Fleet_AirCondition == null ? false : (bool)f.Fleet_AirCondition;
                car.AntiLockBreaks = f.Fleet_AntiLockBreaks == null ? false : (bool)f.Fleet_AntiLockBreaks;
                car.Automatic = f.Fleet_Automatic == null ? false : (bool)f.Fleet_Automatic;
                car.DriverAirBag = f.Fleet_DriverAirbag == null ? false : (bool)f.Fleet_DriverAirbag;
                car.PassengerAirbag = f.Fleet_PassengerAirbag == null ? false : (bool)f.Fleet_PassengerAirbag;
                car.ElectricWindow = f.Fleet_ElectricWindow == null ? false : (bool)f.Fleet_ElectricWindow;
                car.FourWheelDrive = f.Fleet_FourWheelDrive == null ? false : (bool)f.Fleet_FourWheelDrive;
                car.PowerSteering = f.Fleet_PowerSteering == null ? false : (bool)f.Fleet_PowerSteering;
                car.RadioCassette = f.Fleet_RadioCassette == null ? false : (bool)f.Fleet_RadioCassette;
                car.SunRoof = f.Fleet_SunRoof == null ? false : (bool)f.Fleet_SunRoof;
            }
        }


<div class="ratelistitemleft">@f.Fleet_ModelCode<br />
<hr />
<img height="75" width="130" title="@car.Description" alt="@car.Description" src="@(System.Configuration.ConfigurationManager.AppSettings["imagesfolder"] + region + "_" + car.CarGroup + "_lrg01.jpg")" /><br />
<br>&nbsp;


  @if (car.Company == "AVIS")
    {
    <img src="@(hostUrl)/Content/Images/ChooseACar_Avis_logo.jpg" width="85" height="42" alt="AVIS" />
    }
    else
    {
        <img src="@(hostUrl)/content/Images/ChooseACar_budget_logo.jpg" width="85" height="42" alt="BUDGET" />
    }


</div>
<div class="ratelistitemmid"><strong>@Resources.Copy.ChooseACar_CarExample: </strong>@f.Fleet_ModelName<br /><hr />
    <div class="ratelistitemmidtop">
    <div class="fiSummary">
				
                            <div class="fiFeatures">
                        
                                @if (car.SeatCount > 0)
                                {
                                    <a onclick=" return false; " style="margin-top: 7px;" title="Number of People" class="fiSeats" href="#">@car.SeatCount</a>
                                }
                                @if (car.LuggageCount > 0)
                                {
                                    <a onclick=" return false; " style="margin-top: 7px;" title="Pieces of luggage" class="fiBags" href="#">@car.LuggageCount</a>
                                }
                                @if (car.DoorCount > 0)
                                {
                                    <a onclick=" return false; " style="margin-top: 7px;" title="Number of doors" class="fiDoors" href="#">@car.DoorCount</a>
                                }
                                <a onclick=" return false; " style="margin-top: 7px;" title="@car.TransmissionType Transmission" class="fiTrans" href="#">@car.TransmissionType.Substring(0, 1)</a>
                                @if (car.AirCondition)
                                {
                                    <a onclick=" return false; " style="margin-top: 7px;" title=" Has Air Conditioning" class="fiAircon" href="#"></a>
                                }
					        
                            

                            </div> 
                            <br style="clear: both;"/>
                            
				
                            <div class="fiAvailability">
                                <div>
						
                                    <span>@{
                                if (car.Status == "Available")
                                {
                                    Html.Raw("Available to book now < br/ >");
                                }
                                          }
                                        <!--Resources.Copy.Cars_Disclaimer--></span>
                                </div>
					
                            </div> 
                            
                        </div> 
    
    
    
    <br /><br />
    <strong><label style="font-size:0.8em;">Your booking includes:</label></strong><br />
    
    @foreach (var c in car.Charges)
    {
       <div style="display: inline; width:50%; float:left; font-size:0.8em;">@CommonHelper.GetGenericTranslation(c.Name)</div>
    }
    

    </div>
    
</div>
<div class="ratelistitemright"><div style="text-align:right; width:100%;"><strong>@Resources.Copy.ChooseACar_CarGroup @car.CarGroup</strong></div><hr />

    <p><strong>@car.CurrencyCode @car.EstimatedTotal</strong> @Resources.Copy.Cars_PerRental</p>

 
    
</div>


</div>

<div style="border-top: 3px solid; width:648px; border-color:#ccc;"></div>

       




            
        <br />
        <div class="siHeader">
            <div class="siTitle">
               <img src="@(hostUrl + "/Content/images/icon_summary.gif")" alt="Choose extras" title="Choose extras" /><div style="padding-top:8px;padding-left:10px;float:right;"> @Resources.Copy.Extras_Title</div> 
            </div>
        </div>
       <p>&nbsp;</p>
       

        @using (Html.BeginForm())
        {
            
                foreach (var e in Model)
                {

                    string imgFile = "default";

                    //GB and SHARED EXTRAS MAPPING BELOW
                    if (e.Text.ToLower().Contains("0 - 12 Months"))
                    {
                        imgFile = "0_13kg.jpg";
                    }
                    else if (e.Text.ToLower().Contains("1 - 4 Years"))
                    {
                        imgFile = "9_18kg.jpg";
                    }
                    else if (e.Text.ToLower().Contains("baby seat"))
                    {
                        imgFile = "CSS1Y.jpg";
                    }
                    else if (e.Text.ToLower().Contains("0 - 9 Months"))
                    {
                        imgFile = "CSS1Y.jpg";
                    } 
                    else if (e.Text.ToLower().Contains("child booster seat "))
                    {
                        imgFile = "CBS.jpg";
                    }
                    else if (e.Text.ToLower().Contains("15 - 36 kg/ 4 - 11 years old"))
                    {
                        imgFile = "css12y.jpg";
                    }
                    else if (e.Text.ToLower().Contains("9 - 18 kg / 9 months old"))
                    {
                        imgFile = "CSS4Y.jpg";
                    }
                    else if (e.Text.ToLower().Contains("infant seat"))
                    {
                        imgFile = "CSS4Y.jpg";
                    }
                    else if (e.Text.ToLower().Contains("child seat"))
                    {
                        imgFile = "css12y.jpg";
                    }
                    else if (e.Text.ToLower().Contains("4 - 10 Years"))
                    {
                        imgFile = "CSS4Y.jpg";
                    }
                    else if (e.Text.ToLower().Contains("gps"))
                    {
                        imgFile = "GPS.gif";
                    }
                    else if (e.Text.ToLower().Contains("additional driver"))
                    {
                        imgFile = "AddDriver.gif";
                    }
                    else if (e.Text.ToLower().Contains("fuel"))
                    {
                        imgFile = "fuelimage.gif";
                    }
                    else if (e.Text.ToLower().Contains("travel"))
                    {
                        imgFile = "TEF.gif";
                    }
                    else if (e.Text.ToLower().Contains("cover"))
                    {
                        imgFile = "premiercovergen.jpg";
                    }
                    else if (e.Text.ToLower().Contains("ski rack"))
                    {
                        imgFile = "skirack.jpg";
                    }
                    else if (e.Text.ToLower().Contains("roof rack"))
                    {
                        imgFile = "roofrack.jpg";
                    }
                    else if (e.Text.ToLower().Contains("wi-fi"))
                    {
                        imgFile = "UK_Mobile_Wifi.gif";
                    }
                    else if (e.Text.ToLower().Contains("wifi"))
                    {
                        imgFile = "UK_Mobile_Wifi.gif";
                    }
                    else if (e.Text.ToLower().Contains("diesel"))
                    {
                        imgFile = "diesel.jpg";
                    }
                    else if (e.Text.ToLower().Contains("snow Chains"))
                    {
                        imgFile = "SnowChain.jpg";
                    }
                    else if (e.Text.ToLower().Contains("snow Tyres"))
                    {
                        imgFile = "SnowTyre.jpg";
                    }
                    else if (e.Text.ToLower().Contains("øresund bridge"))
                    {
                        imgFile = "DK_bridge_oresund.jpg";
                    }
                    else if (e.Text.ToLower().Contains("storebælt bridge"))
                    {
                        imgFile = "DK_Storebaelt.jpg";
                    }
                    else if (e.Text.ToLower().Contains("roadside"))
                    {
                        imgFile = "RSN.gif";
                    }        
                        
                    //SE EXTRAS MAPPING BELOW
                    else if (e.Text.ToLower().Contains("0-12 mån"))
                    {
                        imgFile = "0_13kg.jpg";
                    }
                    else if (e.Text.ToLower().Contains("1-4 år"))
                    {
                        imgFile = "9_18kg.jpg";
                    }
                        
                    else if (e.Text.ToLower().Contains("babyskydd vagga"))
                    {
                        imgFile = "CSS1Y.jpg";
                    }
                    else if (e.Text.ToLower().Contains("bälteskudde"))
                    {
                        imgFile = "CBS.jpg";
                    }
                    else if (e.Text.ToLower().Contains("framåtvänd bältesstol"))
                    {
                        imgFile = "css12y.jpg";
                    }
                    else if (e.Text.ToLower().Contains("bilbarnstol"))
                    {
                        imgFile = "CSS4Y.jpg";
                    }
                    else if (e.Text.ToLower().Contains("tak"))
                    {
                        imgFile = "roofrack.jpg";
                    }
                    else if (e.Text.ToLower().Contains("europa"))
                    {
                        imgFile = "TEF.gif";
                    }
                    else if (e.Text.ToLower().Contains("extra förare"))
                    {
                        imgFile = "AddDriver.gif";
                    }
                    else if (e.Text.ToLower().Contains("skid"))
                    {
                        imgFile = "skirack.jpg";
                    }
                    else if (e.Text.ToLower().Contains("snö"))
                    {
                        imgFile = "SnowChain.jpg";
                    }
                    else if (e.Text.ToLower().Contains("vinter"))
                    {
                        imgFile = "SnowTyre.jpg";
                    }
                    else if (e.Text.ToLower().Contains("bensin"))
                    {
                        imgFile = "Fuelimage.gif";
                    } 
                    else if (e.Text.ToLower().Contains("öresundsbron"))
                    {
                        imgFile = "DK_bridge_oresund.jpg";
                    }
                    else if (e.Text.ToLower().Contains("storebæltsbroen"))
                    {
                        imgFile = "DK_Storebaelt.jpg";
                    }
                    else if (e.Text.ToLower().Contains("väg"))
                    {
                        imgFile = "RSN.gif";
                    }
                                     
                         
                    //NO EXTRAS MAPPING BELOW
                    else if (e.Text.ToLower().Contains("0-12 mnd."))
                    {
                        imgFile = "0_13kg.jpg";
                    }
                    else if (e.Text.ToLower().Contains("1 - 4 år"))
                    {
                        imgFile = "9_18kg.jpg";
                    }
                    else if (e.Text.ToLower().Contains("babysete"))
                    {
                        imgFile = "CSS1Y.jpg";
                    }
                    else if (e.Text.ToLower().Contains("0-9 mnd."))
                    {
                        imgFile = "CSS1Y.jpg";
                    }
                    else if (e.Text.ToLower().Contains("0 - 10 kg / 0 - 9 mnd."))
                    {
                        imgFile = "CSS1Y.jpg";
                    }
                    else if (e.Text.ToLower().Contains("7 år"))
                    {
                        imgFile = "CBS.jpg";
                    }
                    else if (e.Text.ToLower().Contains("5 - 36 kg / 4 - 11 år"))
                    {
                        imgFile = "css12y.jpg";
                    }
                    else if (e.Text.ToLower().Contains("9 - 18 kg / 9 mnd. - 4 år"))
                    {
                        imgFile = "CSS4Y.jpg";
                    }
                    else if (e.Text.ToLower().Contains("barnesete"))
                    {
                        imgFile = "CSS4Y.jpg";
                    }
                    else if (e.Text.ToLower().Contains("4 - 10 år"))
                    {
                        imgFile = "CSS4Y.jpg";
                    }
                    else if (e.Text.ToLower().Contains("tak"))
                    {
                        imgFile = "roofrack.jpg";
                    }
                    else if (e.Text.ToLower().Contains("european"))
                    {
                        imgFile = "TEF.gif";
                    }
                    else if (e.Text.ToLower().Contains("tilleggssjåfør:"))
                    {
                        imgFile = "AddDriver.gif";
                    }
                    else if (e.Text.ToLower().Contains("ski"))
                    {
                        imgFile = "skirack.jpg";
                    }
                    else if (e.Text.ToLower().Contains("kjettinger"))
                    {
                        imgFile = "SnowChain.jpg";
                    }
                    else if (e.Text.ToLower().Contains("vinter"))
                    {
                        imgFile = "SnowTyre.jpg";
                    }
                    else if (e.Text.ToLower().Contains("spar tid"))
                    {
                        imgFile = "Fuelimage.gif";
                    }
                    else if (e.Text.ToLower().Contains("øresundbroen"))
                    {
                        imgFile = "DK_bridge_oresund.jpg";
                    }
                    else if (e.Text.ToLower().Contains("øresundsbroen"))
                    {
                        imgFile = "DK_bridge_oresund.jpg";
                    }
                    else if (e.Text.ToLower().Contains("storebeltsbroen"))
                    {
                        imgFile = "DK_Storebaelt.jpg";
                    }
                    else if (e.Text.ToLower().Contains("roadside"))
                    {
                        imgFile = "RSN.gif";
                    }
                        

                    //DK EXTRAS MAPPING BELOW
                    else if (e.Text.ToLower().Contains("0-12 mdr."))
                    {
                        imgFile = "0_13kg.jpg";
                    }
                    else if (e.Text.ToLower().Contains("1-4 år"))
                    {
                        imgFile = "9_18kg.jpg";
                    }
                    else if (e.Text.ToLower().Contains("selepude"))
                    {
                        imgFile = "CBS.jpg";
                    }
                    else if (e.Text.ToLower().Contains("0-9 mdr."))
                    {
                        imgFile = "CSS1Y.jpg";
                    }
                    else if (e.Text.ToLower().Contains("0 - 10 kg / 0 - 9 mnd."))
                    {
                        imgFile = "CSS1Y.jpg";
                    }
                    else if (e.Text.ToLower().Contains("7 år"))
                    {
                        imgFile = "CBS.jpg";
                    }
                    else if (e.Text.ToLower().Contains("5 - 36 kg / 4 - 11 år"))
                    {
                        imgFile = "css12y.jpg";
                    }
                    else if (e.Text.ToLower().Contains("9 - 18 kg / 9 mnd. - 4 år"))
                    {
                        imgFile = "CSS4Y.jpg";
                    }
                    else if (e.Text.ToLower().Contains("barnesæde"))
                    {
                        imgFile = "CSS4Y.jpg";
                    }
                    else if (e.Text.ToLower().Contains("4-10 år"))
                    {
                        imgFile = "CSS4Y.jpg";
                    }
                    else if (e.Text.ToLower().Contains("Tagbagagebærer"))
                    {
                        imgFile = "roofrack.jpg";
                    }  
                    else if (e.Text.ToLower().Contains("ekstra"))
                    {
                        imgFile = "AddDriver.gif";
                    }
                    else if (e.Text.ToLower().Contains("ski"))
                    {
                        imgFile = "skirack.jpg";
                    }
                    else if (e.Text.ToLower().Contains("snekæder"))
                    {
                        imgFile = "SnowChain.jpg";
                    }
                    else if (e.Text.ToLower().Contains("cover"))
                    {
                        imgFile = "supercover.jpg";
                    }
                    else if (e.Text.ToLower().Contains("spar tid"))
                    {
                        imgFile = "Fuelimage.gif";
                    }
                    else if (e.Text.ToLower().Contains("storebæltsbroen"))
                    {
                        imgFile = "DK_Storebaelt.jpg";
                    }
                    else if (e.Text.ToLower().Contains("brændstof"))
                    {
                        imgFile = "Fuelimage.gif";
                    }


                   //FI EXTRAS MAPPING BELOW
                    else if (e.Text.ToLower().Contains("1 - 4-vuotias"))
                    {
                        imgFile = "9_18kg.jpg";
                    }
                    else if (e.Text.ToLower().Contains("vauvan istuin"))
                    {
                        imgFile = "CSS1Y.jpg";
                    }
                    else if (e.Text.ToLower().Contains("0 - 9 kuukautta"))
                    {
                        imgFile = "CSS1Y.jpg";
                    }
                    else if (e.Text.ToLower().Contains("korokeistuin"))
                    {
                        imgFile = "CBS.jpg";
                    }
                    else if (e.Text.ToLower().Contains("15 - 36 kg / 4 - 11-vuotias"))
                    {
                        imgFile = "css12y.jpg";
                    }
                    else if (e.Text.ToLower().Contains("9 - 18 kg / 9kk"))
                    {
                        imgFile = "CSS4Y.jpg";
                    }
                    else if (e.Text.ToLower().Contains("vauvakaukalo"))
                    {
                        imgFile = "CSS4Y.jpg";
                    }
                    else if (e.Text.ToLower().Contains("lastenistuin"))
                    {
                        imgFile = "css12y.jpg";
                    }
                    else if (e.Text.ToLower().Contains("4 - 10-vuotias"))
                    {
                        imgFile = "CSS4Y.jpg";
                    }
                    else if (e.Text.ToLower().Contains("gps"))
                    {
                        imgFile = "GPS.gif";
                    }
                    else if (e.Text.ToLower().Contains("lisäkuljettaja"))
                    {
                        imgFile = "AddDriver.gif";
                    }
                    else if (e.Text.ToLower().Contains("ennakkoon maksettu polttoaine"))
                    {
                        imgFile = "fuelimage.gif";
                    }
                    else if (e.Text.ToLower().Contains("rajanylitysmaksu"))
                    {
                        imgFile = "TEF.gif";
                    }
                    else if (e.Text.ToLower().Contains("cover"))
                    {
                        imgFile = "premiercovergen.jpg";
                    }
                    else if (e.Text.ToLower().Contains("suksiboksi"))
                    {
                        imgFile = "skirack.jpg";
                    }
                    else if (e.Text.ToLower().Contains("kattoteline"))
                    {
                        imgFile = "roofrack.jpg";
                    }
                    else if (e.Text.ToLower().Contains("Wi Fi"))
                    {
                        imgFile = "UK_Mobile_Wifi.gif";
                    }
                    else if (e.Text.ToLower().Contains("dieselajoneuvo"))
                    {
                        imgFile = "diesel.jpg";
                    }
                    else if (e.Text.ToLower().Contains("lumiketjut"))
                    {
                        imgFile = "SnowChain.jpg";
                    }
                    else if (e.Text.ToLower().Contains("talvirenkaat"))
                    {
                        imgFile = "SnowTyre.jpg";
                    }
                    else if (e.Text.ToLower().Contains("øresund bridge"))
                    {
                        imgFile = "DK_bridge_oresund.jpg";
                    }
                    else if (e.Text.ToLower().Contains("storebælt bridge"))
                    {
                        imgFile = "DK_Storebaelt.jpg";
                    }
                    else if (e.Text.ToLower().Contains("tiepalvelu"))
                    {
                        imgFile = "RSN.gif";
                    }        
                  
                    
                    
                    else
                    {
                        if (car.Company == "AVIS")
                        {
                            imgFile = "avis-logo_130-85.gif";
                        }
                        else
                        {
                            imgFile = "budget-logo_130-85.gif";
                        }
                    }
                    <img src="../content/images/ext/@imgFile" style="float: left; padding-right: 10px; padding-left: 10px;" />

                    <strong>@Html.Raw(e.Text)</strong>
                    <br/>
                    if (e.ExtraInfo != null)
                    {
                        @Html.Raw(e.ExtraInfo.Replace("?", ViewBag.CurrencyCode))
                    }
                    <br/><br />
                    {
                       
                    }
                    {
                        if (e.Code.Contains("CSS") || e.Code == "ADD" || e.Code.Contains("BSS"))
                        {
                            <select name="@(e.ID)">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>


                        }
                        else
                        {
                            <input type="checkbox" name="@(e.ID)"/>
                        }
                        <label style="font-weight: bold; text-align: right; width: 500px;" for="@e.ID" >@Resources.Copy.Extras_BookNow</label>
                    }



                    <img src="@(hostUrl + "/Content/Images/contentSepWide.jpg")"  width="100%"/>
                
            }

            <p style="width:95%; text-align:right;">
                
                
                    <button onclick="javascript:DoBlock();" type="submit" value="@Resources.Copy.Extras_Proceed" @(car.Company == "AVIS" ? Html.Raw("class='button'") : Html.Raw("class='buttonblue'")) style="width:150px;">@Resources.Copy.Extras_Proceed</button>
               
            </p>
        }
    </div>
  


<!--</div>-->

<div id="blockui_message" style="display:none;"><br /><img src='@hostUrl/content/images/ajax-loader.gif' /><h2>&nbsp;@Resources.Copy.Overlay_PreparingSummary</h2></div>


<script type="text/javascript">
    var hostURL = '@hostUrl';
    function DoBlock() {
        if (typeof (bNotIE) == 'undefined') {
            $.blockUI({ message: '<br /><img src="' + hostURL + '/content/images/ajax-loader.gif" /><h2>&nbsp;@Resources.Copy.Overlay_PreparingSummary</h2>' });
        }
        else {
            $.blockUI.defaults.message = $('#blockui_message');
            $.blockUI();
        }
    }
            
            </script>