﻿
@model List<SEB.Service.DCRate>

@{
    
    ViewBag.Title = "Booking Details - Your Car Choice";
    List<SEB.Entities.Fleet> fleet = ViewBag.Fleet;
    var hostUrl = CommonHelper.GetHostUrl();
    var reservation = (SEB.Service.DCReservation)Session["reservation"];
    var db = new SEB.SEBContext();
    var budgetRates = (List<SEB.Service.DCRate>)ViewBag.BudgetRates;

}
<script src="@(hostUrl + "/Scripts/jquery.blockUI.js")" type="text/javascript"></script>

<script src="@(hostUrl + "/Scripts/jquery-1.5.1.js")" type="text/javascript"></script>
<script src="@(hostUrl + "/Scripts/jquery-ui-1.8.11.js")" type="text/javascript"></script>
<link href="@(hostUrl + "/Content/ChooseACar.css")" rel="stylesheet" type="text/css" />

@Html.Raw(ViewBag.Message)

<style>
    
     a:link.btnChoose {
        color: #fff;
    }
    a:link.btn {
        color: #fff;
    }
    a:hover.btn {
        color: #fff;
    }

     a:hover.btnChoose {
        color: #fff;
    }

a:visited.btn {
        color: #fff;
    }

    a:visited.btnChoose {
        color: #fff;
    }


.btn
{
    background:url(@(hostUrl + "/content/images/sprites_main.png")) right -3050px no-repeat;color:#fff;font-weight:bold;font-size:1.2em;font-style:italic;padding:0px 40px 10px 10px;text-decoration:none;border: none;
}


a:link.more_info {
        color: #000;
    }
    a:hover.more_info {
        color: #000;
    }

    
a:visited.more_info {
        color: #000;
    }

</style>
<br/>
<!--<div style="padding-top:10px; float:right;">@Html.ActionLink(Resources.Copy.Menu_EditBooking, "BookingSearch", "booking")</div>
Html.Partial("_breadCrumb")  THIS PART IS WHAT I ADDED + CHANGE OF STYLE IN SITITLE-->
<style>
     .primaryButton
     {
         display:block;float:left;width:auto;background: url(@hostUrl/content/images/sprites_main.png) left -3000px no-repeat;padding: 0 0 0 15px;height: 30px;
     }
 </style>
               

    
    <div class="siHeader">
        <div class="siTitle">
           <img src="@(hostUrl + "/Content/images/icon_car.gif")" alt="Choose a car" title="Choose a car" /> @Resources.Copy.Cars_Title @reservation.PickupLocationName
        </div>
 
    </div>
    <!--<div style="background-color:#FFF;width:100%; height:100%;">
        <div style="background-color:#FFF;float:right; padding-top:10px;"><img src="../../Images/budget-logo.gif" /></div>
        	    <div style="background-color:#FFF;float:right; padding-top:10px;"><img src="../../Images/Avis-logo.gif" /></div>	
	
    </div>-->

    <!--<div class="fleetItemWrapper" style="background-color: #FFF;">
                    <div style="float: left; width:68%;">
                        &nbsp;
                    </div>
                    <div style="float:left; width:15%; text-align:center;">
                            <img src="@(hostUrl)/Images/Avis-logo.gif" />
                        </div>
                        <div style="float:right; width:15%; text-align:center;">
                            <img src="@(hostUrl)/Images/budget-logo.gif" />
                        </div>
    </div>-->

    <style>
        .siHeader{float:left;width:100%;background:#f1f1f1}
        .siTitle{float:left;padding:5px;color:#202327;font-size:1.3em;padding:13px 5px 13px 5px;font-weight:bold}
    </style>


        
        @{
            if (Model != null && Model.Count == 0)
            {
                
                <script type="text/javascript">
                    alert("@Html.Raw(Resources.Copy.Info_NoCars)");
                    window.location.href = ('@(CommonHelper.GetHostUrl() + "/booking/bookingdetails")');
                </script>
                
            }
            
        }
        

    
        @{
            byte ctr = 0;
            byte d = 1;
        }

        @foreach (SEB.Service.DCRate car in Model)
        {

            ctr += 1;
            
            var region = ViewBag.RegionCode;

            var f = fleet.FirstOrDefault(x => x.Fleet_SippCode == car.Code && x.Fleet_CarGroup == car.CarGroup && x.Region_Code == region);
            
            if (f != null)
            {

                car.DoorCount = f.Fleet_DoorCount != null ? (int)f.Fleet_DoorCount : 0;
                car.SeatCount = f.Fleet_SeatCount != null ? (int)f.Fleet_SeatCount : 0;
                car.LuggageCount = f.Fleet_LuggageCount != null ? (int)f.Fleet_LuggageCount : 0;
                car.AirCondition = (bool)f.Fleet_AirCondition;
                car.AntiLockBreaks = (bool)f.Fleet_AntiLockBreaks;
                car.Automatic = (bool)f.Fleet_Automatic;
                car.DriverAirBag = (bool)f.Fleet_DriverAirbag;
                car.PassengerAirbag = (bool)f.Fleet_PassengerAirbag;
                car.ElectricWindow = (bool)f.Fleet_ElectricWindow;
                car.FourWheelDrive = (bool)f.Fleet_FourWheelDrive;
                car.PowerSteering = (bool)f.Fleet_PowerSteering;
                car.RadioCassette = (bool)f.Fleet_RadioCassette;
                car.SunRoof = (bool)f.Fleet_SunRoof;
            }
            var budgetCar = budgetRates != null ? budgetRates.FirstOrDefault(b => b.CarGroup == car.CarGroup) : null;
            <style>
.ratelistitem
{
    border: 5px solid; width:636px; min-height:180px; background-color:#fff; border-color:#ccc;
}
.ratelistitemleft
{
    width:25%; margin: 5px; float:left;
}
.ratelistitemmid
{
    width:45%; margin: 5px; float:left;
}
.ratelistitemmidtop
{
    width:100%; height:70%; 
}
.ratelistitemright
{
    width:25%;  padding:5px; background-color:#f0f0f0; float:right;
}
</style>

<div class="ratelistitem">

<div class="ratelistitemleft">@car.Description<br />
<hr />
<img height="75px" width="150px" title="@car.Description" alt="@car.Description" src="@(System.Configuration.ConfigurationManager.AppSettings["imagesfolder"] + ViewBag.PickupRegionCode + "_" + car.CarGroup + "_sml01.gif")" /><br />
<img src="@(hostUrl)/Images/Avis-logo.gif" width="110px" height="30px"  /></div>
<div class="ratelistitemmid"><strong>Bilexemple: </strong>@car.ModelName<br /><hr />
    <div class="ratelistitemmidtop">
    <div class="fiSummary">
				
                            <div class="fiFeatures">
                        
                                @if (car.SeatCount > 0)
                                {
                                    <a onclick=" return false; " style="margin-top: 7px;" title="Number of People" class="fiSeats" href="#">@car.SeatCount</a>
                                }
                                @if (car.LuggageCount > 0)
                                {
                                    <a onclick=" return false; " style="margin-top: 7px;" title="Pieces of luggage" class="fiBags" href="#">@car.LuggageCount</a>
                                }
                                @if (car.DoorCount > 0)
                                {
                                    <a onclick=" return false; " style="margin-top: 7px;" title="Number of doors" class="fiDoors" href="#">@car.DoorCount</a>
                                }
                                <a onclick=" return false; " style="margin-top: 7px;" title="@car.TransmissionType Transmission" class="fiTrans" href="#">@car.TransmissionType.Substring(0, 1)</a>
                                @if (car.AirCondition)
                                {
                                    <a onclick=" return false; " style="margin-top: 7px;" title=" Has Air Conditioning" class="fiAircon" href="#"></a>
                                }
					        
                            

                            </div> 
                            <br style="clear: both;"/>
                            
				
                            <div class="fiAvailability">
                                <div>
						
                                    <span>@{
                                if (car.Status == "Available")
                                {
                                    Html.Raw("Available to book now < br/ >");
                                }
                                          }
                                        <!--Resources.Copy.Cars_Disclaimer--></span>
                                </div>
					
                            </div> 
                            
                        </div> 
    
    
    
    <br /><br />
    <strong><label style="font-size:0.8em;">Your booking includes:</label></strong><br />
    
    @foreach (var c in car.Charges)
    {
       <div style="display: inline; width:50%; float:left; font-size:0.8em;">@c.Name</div>
    }
    

    </div>
    
</div>
<div class="ratelistitemright"><div style="text-align:right; width:100%;"><strong>Group @car.CarGroup</strong></div><hr />
    <p><strong>@car.CurrencyCode @car.EstimatedTotal</strong> @Resources.Copy.Cars_PerRental</p>

  
                                        @Html.ActionLink("Choose this car", "ChooseExtras", "Booking", new { @carGroup = car.Code, @sizeCode = car.SizeCode, @category = car.Category, @rateQualifier = car.RateQualifier, @total = car.EstimatedTotal, @carCurrencyCode = car.CurrencyCode, @carGroupLetter = car.CarGroup, @status = car.Status }, new { @class = "button" })
 

    <div style="height: 30px; vertical-align: top; float: left;" class="more_info">
                                <a onclick=" ToggleInfo('@(car.CarGroup + "_" + car.Code)', true); return false; " id="@("show_" + car.CarGroup + "_" + car.Code)" class="fiExpand" href="#" style="display: block; height: 25px; padding-top: 5px;">@Resources.Copy.Cars_MoreInfo</a>
                                <a onclick=" ToggleInfo('@(car.CarGroup + "_" + car.Code)', false); return false; " id="@("hide_" + car.CarGroup + "_" + car.Code)" class="fiCollapse" href="#" style="display: none; height: 25px; padding-top: 5px;">
                                    Hide Info</a>


                                    <div id="@("detail_" + car.CarGroup + "_" + car.Code)" style="display: none;" class="vehicleDetails">
				
 
 
 
                            <div class="vfLeft">
	
 
 
                                <strong>
                                    <span style="display: inline-block; width: 100%;">@Resources.Copy.Cars_VehicleFeatures</span>
                                </strong>
                                <ul class="vfList">
                                    @{
    if (car.AirCondition)
    {
                                            @Html.Raw("<li>" + Resources.Copy.Features_AirCon + "</li>")
        ;
    }
    if (car.AntiLockBreaks)
    {
                                            @Html.Raw("<li>" + Resources.Copy.Features_AntiLockBrakes + "</li>")
        ;
    }
    if (car.Automatic)
    {
                                            @Html.Raw("<li>" + Resources.Copy.Features_Automatic + "</li>")
        ;
    }
    if (car.DriverAirBag)
    {
                                            @Html.Raw("<li>" + Resources.Copy.Features_DriverAirBag + "</li>")
        ;
    }
    if (car.PassengerAirbag)
    {
                                            @Html.Raw("<li>" + Resources.Copy.Features_PassengerAirBag + "</li>")
        ;
    }
    if (car.ElectricWindow)
    {
                                            @Html.Raw("<li>" + Resources.Copy.Features_ElectricWindows + "</li>")
        ;
    }
    if (car.FourWheelDrive)
    {
                                            @Html.Raw("<li>" + Resources.Copy.Features_4WD + "</li>")
        ;
    }


    if (car.PowerSteering)
    {
                                            @Html.Raw("<li>" + Resources.Copy.Features_PowerSteering + "</li>")
        ;
    }
    if (car.RadioCassette)
    {
                                            @Html.Raw("<li>" + Resources.Copy.Features_RadioCassette + "</li>")
        ;
    }
    if (car.SunRoof)
    {
                                            @Html.Raw("<li>" + Resources.Copy.Features_SunRoof + "</li>")
        ;
    }

                                    }
                            
		
                                </ul>
 
 
                            </div>
                            

                        </div>    



                            </div>    
    
</div>


</div>



        }
        





 <script type="text/javascript">
     var hostURL = '@hostUrl';
     function DoBlock() {
         $.blockUI({ message: '<br /><img src="' + hostURL + '/content/images/ajax-loader.gif" /><h2>&nbsp;Finding your extras - please wait....</h2>' });
     }
            
            </script>


<script type="text/javascript">

    function ToggleInfo(id, show) {

        if (show == true) {
            $("#detail_" + id).show();
            $("#show_" + id).hide();
            $("#hide_" + id).show();    
        } 
        else {
            $("#detail_" + id).hide();
            $("#show_" + id).show();
            $("#hide_" + id).hide();    
        }
        
    }


</script>