﻿
@model List<SEB.Entities.SEBRate>

@{
    
    ViewBag.Title = "Booking Details - Your Car Choice";
    List<SEB.Entities.Fleet> fleet = ViewBag.Fleet;
    var hostUrl = CommonHelper.GetHostUrl();
    var reservation = (SEB.Service.DCReservation)Session["reservation"];
    var db = new SEB.SEBContext();

}
<script src="@(hostUrl + "/Scripts/jquery.blockUI.js")" type="text/javascript"></script>


<link href="@(hostUrl + "/Content/chooseacar.css")" rel="stylesheet" type="text/css" />
@Html.Partial("_breadCrumb")

@Html.Raw(ViewBag.Message)

<style>
    
     a:link.btnChoose {
        color: #fff;
    }
    a:link.btn {
        color: #fff;
    }
    a:hover.btn {
        color: #fff;
    }

     a:hover.btnChoose {
        color: #fff;
    }

a:visited.btn {
        color: #fff;
    }

    a:visited.btnChoose {
        color: #fff;
    }


.btn
{
    background:url(@(hostUrl + "/content/images/sprites_main.png")) right -3050px no-repeat;color:#fff;font-weight:bold;font-size:1.2em;font-style:italic;padding:0px 40px 10px 10px;text-decoration:none;border: none;
}


a:link.more_info {
        color: #000;
    }
    a:hover.more_info {
        color: #000;
    }

    
a:visited.more_info {
        color: #000;
    }

</style>


 <style>
     .primaryButton
     {
         display:block;float:left;width:auto;background: url(@hostUrl/content/images/sprites_main.png) left -3000px no-repeat;padding: 0 0 0 15px;height: 30px;
     }
 </style>
               

    
    <div class="siHeader">
        <div class="siTitle">
            <img src="@(hostUrl + "/Content/images/icon_car.gif")" alt="Choose a car" title="Choose a car" /><div style="padding-top:8px;padding-left:10px;float:right;"> @Resources.Copy.Cars_Title @reservation.PickupLocationName</div>
        </div>
 
    </div>
    <div style="clear:both;"/>
   <br />



        
        @{
            if (Model != null && Model.Count == 0)
            {
                
                <script type="text/javascript">
                    alert("@Html.Raw(Resources.Copy.Info_NoCars)");
                    window.location.href = ('@(CommonHelper.GetHostUrl() + "/booking/bookingdetails")');
                </script>
                
            }
            
        }
        

    
        @{
            byte ctr = 0;
            byte d = 1;
        }

        @foreach (var car in Model)
        {

            ctr += 1;

            string region = ViewBag.RegionCode.ToString();

            var f = fleet.FirstOrDefault(x => x.Fleet_CarGroup == car.CarGroup && x.Region_Code == region);
            if (f == null && region.Length > 3)
            {
                region = region.Substring(0, 2) + "0";
                f = fleet.FirstOrDefault(x => x.Fleet_CarGroup == car.CarGroup && x.Region_Code == region);
            }

            if (f != null)
            {

                car.DoorCount = f.Fleet_DoorCount != null ? (int)f.Fleet_DoorCount : 0;
                car.SeatCount = f.Fleet_SeatCount != null ? (int)f.Fleet_SeatCount : 0;
                car.LuggageCount = f.Fleet_LuggageCount != null ? (int)f.Fleet_LuggageCount : 0;
                car.AirCondition = f.Fleet_AirCondition == null ? false : (bool)f.Fleet_AirCondition;
                car.AntiLockBreaks = f.Fleet_AntiLockBreaks == null ? false : (bool)f.Fleet_AntiLockBreaks;
                car.Automatic = f.Fleet_Automatic == null ? false : (bool)f.Fleet_Automatic;
                car.DriverAirBag = f.Fleet_DriverAirbag == null ? false : (bool)f.Fleet_DriverAirbag;
                car.PassengerAirbag = f.Fleet_PassengerAirbag == null ? false : (bool)f.Fleet_PassengerAirbag;
                car.ElectricWindow = f.Fleet_ElectricWindow == null ? false : (bool)f.Fleet_ElectricWindow;
                car.FourWheelDrive = f.Fleet_FourWheelDrive == null ? false : (bool)f.Fleet_FourWheelDrive;
                car.PowerSteering = f.Fleet_PowerSteering == null ? false : (bool)f.Fleet_PowerSteering;
                car.RadioCassette = f.Fleet_RadioCassette == null ? false : (bool)f.Fleet_RadioCassette;
                car.SunRoof = f.Fleet_SunRoof == null ? false : (bool)f.Fleet_SunRoof;
            


<div class="ratelistitem">

<div class="ratelistitemleft"><div style="max-height:17px; overflow:hidden;">@f.Fleet_ModelCode</div>
<hr />
<img height="75" width="130" title="@car.Description" alt="@car.Description" src="@(System.Configuration.ConfigurationManager.AppSettings["imagesfolder"] + region + "_" + car.CarGroup + "_lrg01.jpg")" /><br />
    
    
    @if (car.Company == "AVIS")
    {
    <img src="@(hostUrl)/Content/Images/ChooseACar_Avis_logo.jpg" width="85" height="42" alt="AVIS" />
    }
    else
    {
        <img src="@(hostUrl)/content/Images/ChooseACar_budget_logo.jpg" width="85" height="42" alt="BUDGET" />
    }
    
        </div>

<div class="ratelistitemmid">@Resources.Copy.ChooseACar_CarExample: @f.Fleet_ModelName<br /><hr />
    <div class="ratelistitemmidtop">
    <div class="fiSummary">
				
                            <div class="fiFeatures">
                        
                                @if (car.SeatCount > 0)
                                {
                                    <a onclick=" return false; " style="margin-top: 7px;" title="Number of People" class="fiSeats" href="#">@car.SeatCount</a>
                                }
                                @if (car.LuggageCount > 0)
                                {
                                    <a onclick=" return false; " style="margin-top: 7px;" title="Pieces of luggage" class="fiBags" href="#">@car.LuggageCount</a>
                                }
                                @if (car.DoorCount > 0)
                                {
                                    <a onclick=" return false; " style="margin-top: 7px;" title="Number of doors" class="fiDoors" href="#">@car.DoorCount</a>
                                }
                                <a onclick=" return false; " style="margin-top: 7px;" title="@car.TransmissionType Transmission" class="fiTrans" href="#">@car.TransmissionType.Substring(0, 1)</a>
                                @if (car.AirCondition)
                                {
                                    <a onclick=" return false; " style="margin-top: 7px;" title=" Has Air Conditioning" class="fiAircon" href="#"></a>
                                }
					        
                            

                            </div> 
                            <br style="clear: both;"/>
                            
				
                            <div class="fiAvailability">
                                <div>
						
                                    <span>@{
                                if (car.Status == "Available")
                                {
                                    Html.Raw("Available to book now < br/ >");
                                }
                                          }
                                        <!--Resources.Copy.Cars_Disclaimer--></span>
                                </div>
					
                            </div> 
                            
                        </div> 
    
    
    
    <br /><br />
    <strong><label style="font-size:0.8em;">@Resources.Copy.ChooseACar_YourBookingIncludes</label></strong><br />
    
    @foreach (var c in car.Charges)
    {
       <div style="display: inline; width:50%; float:left; font-size:0.8em;">@CommonHelper.GetGenericTranslation(c.Name)</div>
    }
    

    </div>
    
</div>
<div class="ratelistitemright"><div style="text-align:right; width:100%;"><strong>@Resources.Copy.ChooseACar_CarGroup @car.CarGroup</strong></div><hr />

    <p style="font-size:1.1em;"><strong>@car.CurrencyCode @car.EstimatedTotal</strong> @Resources.Copy.Cars_PerRental</p>
    @if (car.EstimatedTotalStandard - car.EstimatedTotal > 0)
    {<p style="font-size:0.9em; font-weight:bold; font-style:italic; color:Green;">@Resources.Copy.ChooseACar_YouSave @car.CurrencyCode @(car.EstimatedTotalStandard - car.EstimatedTotal)</p>}
    else
    {
        {<p style="font-size:0.9em; font-weight:bold; font-style:italic; color:Green;">@Resources.Copy.ChooseACar_PriceAlreadyDiscounted</p>}
    }
  
                                        @Html.ActionLink(Resources.Copy.ChooseACar_ChooseButton, "ChooseExtras", "Booking", new { @carGroup = car.Code, @sizeCode = car.SizeCode, @category = car.Category, @rateQualifier = car.RateQualifier, @total = car.EstimatedTotal, @carCurrencyCode = car.CurrencyCode, @carGroupLetter = car.CarGroup, @status = car.Status, @company = car.Company }, new { @class = car.Company == "AVIS" ? "button" : "buttonblue", @onclick="DoBlock();" })
 

    <div style="height: 30px; vertical-align: top; float: left;" class="more_info">
                                <a onclick=" ToggleInfo('@(car.CarGroup + "_" + car.Code + "_" + car.Company)', true); return false; " id="@("show_" + car.CarGroup + "_" + car.Code + "_" + car.Company)" class="fiExpand" href="#" style="display: block; height: 25px; padding-top: 5px;">@Resources.Copy.Cars_MoreInfo</a>
                                <a onclick=" ToggleInfo('@(car.CarGroup + "_" + car.Code + "_" + car.Company)', false); return false; " id="@("hide_" + car.CarGroup + "_" + car.Code + "_" + car.Company)" class="fiCollapse" href="#" style="display: none; height: 25px; padding-top: 5px;">
                                    @Resources.Copy.Cars_MoreInfo</a>


                                        



                            </div>    
    
</div>


</div>
          
<div id="@("detail_" + car.CarGroup + "_" + car.Code + "_" + car.Company)" style="display: none;" class="cardetails">
<table style="width:100%;height:100%; border-spacing:0px;"><tr><td style="width:73.5%;">

				
 
 
 
                            <div class="vfLeft">
	
 
 
                                <strong>
                                    <span style="display: inline-block; width: 100%;">@Resources.Copy.Cars_VehicleFeatures</span>
                                </strong>
                                <ul class="vfList">
                                    @{
    if (car.AirCondition)
    {
                                            @Html.Raw("<li>" + Resources.Copy.Features_AirCon + "</li>")
        ;
    }
    if (car.AntiLockBreaks)
    {
                                            @Html.Raw("<li>" + Resources.Copy.Features_AntiLockBrakes + "</li>")
        ;
    }
    if (car.Automatic)
    {
                                            @Html.Raw("<li>" + Resources.Copy.Features_Automatic + "</li>")
        ;
    }
    if (car.DriverAirBag)
    {
                                            @Html.Raw("<li>" + Resources.Copy.Features_DriverAirBag + "</li>")
        ;
    }
    if (car.PassengerAirbag)
    {
                                            @Html.Raw("<li>" + Resources.Copy.Features_PassengerAirBag + "</li>")
        ;
    }
    if (car.ElectricWindow)
    {
                                            @Html.Raw("<li>" + Resources.Copy.Features_ElectricWindows + "</li>")
        ;
    }
    if (car.FourWheelDrive)
    {
                                            @Html.Raw("<li>" + Resources.Copy.Features_4WD + "</li>")
        ;
    }


    if (car.PowerSteering)
    {
                                            @Html.Raw("<li>" + Resources.Copy.Features_PowerSteering + "</li>")
        ;
    }
    if (car.RadioCassette)
    {
                                            @Html.Raw("<li>" + Resources.Copy.Features_RadioCassette + "</li>")
        ;
    }
    if (car.SunRoof)
    {
                                            @Html.Raw("<li>" + Resources.Copy.Features_SunRoof + "</li>")
        ;
    }

                                    }
                            
		
                                </ul>
 
 
                            </div>
                           

</td><td style="background-color: #f0f0f0;">&nbsp;</td></tr></table>

                        
</div>              
            
<div style="border-top: 3px solid; width:648px; border-color:#ccc;"></div>


            }

        }
</div>

<div id="blockui_message" style="display:none;"><br /><img src='@hostUrl/content/images/ajax-loader.gif' /><h2>&nbsp;@Resources.Copy.Overlay_FindingExtras</h2></div>


 <script type="text/javascript">
     var hostURL = '@hostUrl';
     function DoBlock() {
     
         if (typeof (bNotIE) == 'undefined') {
             $.blockUI({ message: '<br /><img src="' + hostURL + '/content/images/ajax-loader.gif" /><h2>&nbsp;@Resources.Copy.Overlay_FindingExtras</h2>' });
         }
         else {
             $.blockUI.defaults.message = $('#blockui_message');
             $.blockUI();
         }
     }
            
            </script>


<script type="text/javascript">

    function ToggleInfo(id, show) {

        if (show == true) {
            $("#detail_" + id).show();
            $("#show_" + id).hide();
            $("#hide_" + id).show();    
        } 
        else {
            $("#detail_" + id).hide();
            $("#show_" + id).show();
            $("#hide_" + id).hide();    
        }
        
    }


</script>