﻿@using SEB
@model SEB.Service.DCReservation

 @{
     ViewBag.Title = "Booking Details - Confirmation";
     BookMakerContext bm = new BookMakerContext();
     SEB.Service.DCReservation rev_req = ViewBag.Rev_Req;
     var hostUrl = CommonHelper.GetHostUrl();
     SEB.Entities.Location pickupLocation = (SEB.Entities.Location)ViewBag.Pickup;
     SEB.Entities.Location returnLocation = (SEB.Entities.Location)ViewBag.Return;
     SEB.Entities.SEBRate rate = (SEB.Entities.SEBRate)ViewBag.Inclusions;

}

@Html.Raw(ViewBag.Message)

<link href="@(hostUrl + "/Content/ChooseACar.css")" rel="stylesheet" type="text/css" />
 <br clear="all"/> 
  <!--<div style="padding-top:10px; float:right;"><a onclick="javascript:print();">Print this page</a></div>-->

<div style="width:95%;float:left;background-color:#FFF; min-height:400px;">
    <div class="siHeader">
        <div class="siTitle">
            @Resources.Copy.Confirm_Title
        </div>
    </div>
		
 
    <style>

        .summ_label {
            width: 40%;text-align: right;float: left;padding-right: 5px; padding-top: 5px;font-weight: bold;
        }
        .summ_value {
            width: 28%;text-align: left;float: left;padding-top: 5px;
        }
        .summ_price {
            width: 30%;text-align: left;float: left;font-weight: bold; color: red;padding-top: 5px;
        }
        td {
            padding-left: 5px;
        }
        .reservationNR
        {
            font-weight: bold;
            font-size:15px;
        }
    </style>

    
   <table width="649px" style="border-collapse:collapse;" border="1" bordercolor="#848284">
     <tr>
     <td  colspan="3"><font class="reservationNR">RESERVATION NUMBER: @Model.ID</font>
     </td>
     </tr>
     <tr>
         <td colspan="3"><strong>@Model.DriverSurname, @Model.DriverGivenName</strong>, @ViewBag.ProjectName</td>
     </tr>
     <tr>
         <td style="width: 20%;">&nbsp;</td><td><strong>From</strong></td><td><strong>To</strong></td>
     </tr>
     <tr>
         <td><strong>@Resources.Copy.Date</strong></td><td>@Model.PickupDateTime.ToString("dd/MM/yyyy H:mm")</td><td>@Model.ReturnDateTime.ToString("dd/MM/yyyy H:mm")</td>
     </tr>
     <tr>
         <td><strong>@Resources.Copy.Details_Days</strong></td><td colspan="2">@ViewBag.Days day(s)</td>
     </tr>
     <tr>
         <td><strong>@Resources.Copy.Offices</strong></td><td>@pickupLocation.Location_Name<br/>@pickupLocation.Location_Address<br/>@pickupLocation.Location_City<br/>@pickupLocation.Location_PostCode</td>
         <td>@returnLocation.Location_Name<br/>@returnLocation.Location_Address<br/>@returnLocation.Location_City<br/>@returnLocation.Location_PostCode
         </td>
            
     </tr>
     <tr>
            <td><strong>Opening Hours</strong></td>
            <td style="padding-left:0px; padding-top:0px;">                                       
            <table cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td width="30%">
    @Resources.Copy.Monday<br/>
    @Resources.Copy.Tuesday<br/>
    @Resources.Copy.Wednesday<br/>
    @Resources.Copy.Thursday<br/>
    @Resources.Copy.Friday<br/>
    @Resources.Copy.Saturday<br/>
    @Resources.Copy.Sunday<br/>
    </td>
    
    <td>
    @pickupLocation.MondayOpeningHours<br/>
                            @pickupLocation.TuesdayOpeningHours<br/>
                            @pickupLocation.WednesdayOpeningHours<br/>
                            @pickupLocation.ThursdayOpeningHours<br/>
                            @pickupLocation.FridayOpeningHours<br/>
                            @pickupLocation.SaturdayOpeningHours<br/>
                            @pickupLocation.SundayOpeningHours<br/> 
    </td>
  </tr>
  </table>
   </td>
                                                   
    <td style="padding-left:0px; padding-top:0px;">                                            
       <table cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td width="30%">
    @Resources.Copy.Monday<br/>
    @Resources.Copy.Tuesday<br/>
    @Resources.Copy.Wednesday<br/>
    @Resources.Copy.Thursday<br/>
    @Resources.Copy.Friday<br/>
    @Resources.Copy.Saturday<br/>
    @Resources.Copy.Sunday<br/>
    </td>
    
    <td>
    @returnLocation.MondayOpeningHours<br/>
                            @returnLocation.TuesdayOpeningHours<br/>
                            @returnLocation.WednesdayOpeningHours<br/>
                            @returnLocation.ThursdayOpeningHours<br/>
                            @returnLocation.FridayOpeningHours<br/>
                            @returnLocation.SaturdayOpeningHours<br/>
                            @returnLocation.SundayOpeningHours<br/> 
    </td>
  </tr>
  </table>                                             
     </td>
        </tr>
        

         <tr>
         <td><strong>@Resources.Copy.BookingSummary_DeliveryLabel<br/><br/>
         </strong></td>
         <td>

         <table width="100%" border="0" cellpadding="0" cellspacing="0">
         <tr><td style="padding-left:0px; padding-top:0px; border:0px;">
         @if(!string.IsNullOrEmpty(Model.DeliveryAddress1))
         {

                 <b>@Resources.Copy.BookingSummary_DeliverCarTo</b><br />
                 @Model.DeliveryAddress1<br /> 
                 @Model.DeliveryAddress2<br />
                 <br />
         
                 <i>@Resources.Copy.BookingSummary_Deliveryinstruktions</i><br />
                 @Model.DeliveryInstructions1
         }
         else
         {
                 <strong>@Resources.Copy.BookingSummary_NoDelivery</strong>
         }
         </td></tr>
         </table>
         </td>
         
         <td>
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
         <tr><td style="padding-left:0px; padding-top:0px; border:0px;">
         @if(!string.IsNullOrEmpty(Model.CollectionAddress1))
             {
                 <b>@Resources.Copy.BookingSummary_CollectCarAt</b><br />
                 @Model.CollectionAddress1<br />
                 @Model.CollectionAddress2<br />
                 <br />

                 <i>@Resources.Copy.BookingSummary_Collectioninstruktions</i><br />
                 @Model.CollectionInstructions1
             }
             else
             {
                 <strong>@Resources.Copy.BookingSummary_NoCollection</strong>
             }
         </td></tr>
         </table>
         
         </td>
     </tr>
     
     <tr>
         <td><strong>@Resources.Copy.YourCar</strong></td><td colspan="2">@Model.VehicleMakeModelName Group:@Session["carGroupLetter"]</td>
     </tr>
     <tr>
         <td><strong>@Resources.Copy.CostforHire</strong></td><td colspan="2"><strong>@Model.CurrencyCode @Model.Amount</strong></td>
     </tr>
     <tr>
          @if (Model.Extras.Any())
          {
              <td><strong>@Resources.Copy.Extras</strong></td>
          }
          else
          {
              <td><strong>@Resources.Copy.Extras</strong></td><td colspan="2">@Resources.Copy.None</td>
          }
     </tr>
     
     @if (Model.Extras.Any())
     {
         foreach (var ex in Model.Extras)
         {
             if (ex != null)
             {
                <tr>
                     <td>&nbsp;</td><td>@ex.Name - Quantity: @ex.Quantity</td><td>@Model.CurrencyCode @ex.Total
                      <!--if(ex.Total == 0)
                     {
                         Html.Raw(Resources.Copy.Chargedatthestation)
                     }
                     else
                     {
                          Html.Raw("Cost: " + Model.CurrencyCode + ex.Total.ToString())
                     }
                     -->
                     
                     </td>
                 </tr>
             }


         }
     }
     <tr>
         <td><strong>@Resources.Copy.Total</strong></td><td colspan="2">@Model.CurrencyCode @ViewBag.Total</td>    
     </tr>
      
      @if(ViewBag.Inclusions != null)
     {
           <tr>
               <td>
                   <strong>@Resources.Copy.YourPriceIncludes</strong>
               </td>
               <td colspan="2">
                   <ul style="list-style-type: disc;">
                       @foreach(var charge in rate.Charges)
        {
            if(charge.Name.ToLower() == "vehiclerental") { charge.Text = "Rental"; }
                           <li>@charge.Text - @Model.CurrencyCode @charge.Amount</li>
        }
                   </ul>
               </td>
           </tr>
      }  

 </table>
</div>

