﻿@model SwecoBookingSystem.DCService.DCReservation

@{
    ViewBag.Title = "Booking Details";
    var hostUrl = System.Configuration.ConfigurationManager.AppSettings["HostUrl"];

}
@Html.Raw(ViewBag.Message)
@*<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.23/themes/base/jquery-ui.css" type="text/css" media="all" />
			<link rel="stylesheet" href="http://static.jquery.com/ui/css/demo-docs-theme/ui.theme.css" type="text/css" media="all" />
            
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" type="text/javascript"></script>
			<script src="http://code.jquery.com/ui/1.8.23/jquery-ui.min.js" type="text/javascript"></script>*@


@*<script src="@(hostUrl + "/Scripts/jquery-1.8.2.min.js")" type="text/javascript"></script>
<script src="@(hostUrl + "/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>*@

<script src="@(hostUrl + "/Scripts/DatePickerReady.js")" type="text/javascript"></script>
<script src="@(hostUrl + "/Scripts/jquery.ui.datepicker.js")" type="text/javascript"></script>
<link href="@(hostUrl + "/Content/chooseacar.css")" rel="stylesheet" type="text/css" />
 <br/>
 
 
 

<div style="padding-top:10px; float:right;">@Html.ActionLink(Resources.Copy.Menu_EditBooking, "BookingSearch", "booking")</div>
<div id="bpWrapper">
	<ul id="main_bookingProgress_bp" class="WhenAndWhere">
		<li id="main_bookingProgress_bpWhenAndWhere" class="bpCurrent">
			<em>1&nbsp;</em>@Resources.Copy.Banner_WhenandWhere<span class="tail"></span>
		</li>
		<li id="main_bookingProgress_bpYourCarChoice" class="bpItem">
			<span class="head"></span><em>2&nbsp;</em>@Resources.Copy.Banner_YourCarChoice<span class="tail"></span>
		</li>
		<li id="main_bookingProgress_bpPriceAndExtras" class="bpItem">
			<span class="head"></span><em>3&nbsp;</em>@Resources.Copy.Banner_Extras<span class="tail"></span>
		</li>
		<li id="main_bookingProgress_bpCheckout" class="bpItem">
			<span class="head"></span><em>4&nbsp;</em>@Resources.Copy.Banner_Summary<span class="tail"></span>
		</li>
	</ul>
</div>

<br clear="all" />

@{ using (Html.BeginForm("ChooseACar", "Booking"))
   {
       
  @Html.Hidden("CurrencyCode", "NOK")
       
       <div style="background-color:#f0f0f0; min-height:380px;width:647px;float:left;">
           
           <div id="div_openings" style="top:480px;left:783px;position:absolute;width:250px;height:250px;padding:3px;border: 1px solid #303030; background-color: #fff;">
               <div class='siHeader'>
                   <div class='siTitlesml' id="pnlStationName">
                   </div>
               </div>
               <span style="font-size:0.9em;" id="pnlAdd1"></span><br/>
               <span style="font-size:0.9em;" id="pnlAdd2"></span><br/>
               <span style="font-size:0.9em;" id="pnlAdd3"></span><br/>
               <br/>
               <span style="font-size:0.9em;" id="pnlPhone"></span><br/>
               <br/>
               <span style="font-size:0.9em; font-weight:bold;">
                   <img src="@(hostUrl + "/Content/Images/iconOpen.gif")" />&nbsp;&nbsp;Opening Times</span><br/>
               <div style="width:100px;float:left;">@Resources.Copy.Monday</div><div style="float:left;" id="pnlMonday"></div><br/>
               <div style="width:100px;float:left;">@Resources.Copy.Tuesday</div><div style="float:left;" id="pnlTuesday"></div><br/>
               <div style="width:100px;float:left;">@Resources.Copy.Wednesday</div><div style="float:left;" id="pnlWednesday"></div><br/>
               <div style="width:100px;float:left;">@Resources.Copy.Thursday</div><div style="float:left;" id="pnlThursday"></div><br/>
               <div style="width:100px;float:left;">@Resources.Copy.Friday</div><div style="float:left;" id="pnlFriday"></div><br/>
               <div style="width:100px;float:left;">@Resources.Copy.Saturday</div><div style="float:left;" id="pnlSaturday"></div><br/>
               <div style="width:100px;float:left;">@Resources.Copy.Sunday</div><div style="float:left;" id="pnlSunday"></div><br/>


           </div>
           
           <div id="div_closings" style="top:590px;left:783px;position:absolute;width:250px;height:250px;padding:3px;border: 1px solid #303030; background-color: #fff;">
               <div class='siHeader'>
                   <div class='siTitlesml' id="pnlStationNameC">
                   </div>
               </div>
               <span style="font-size:0.9em;" id="pnlAdd1C"></span><br/>
               <span style="font-size:0.9em;" id="pnlAdd2C"></span><br/>
               <span style="font-size:0.9em;" id="pnlAdd3C"></span><br/>
               <br/>
               <span style="font-size:0.9em;" id="pnlPhoneC"></span><br/>
               <br/>
               <span style="font-size:0.9em; font-weight:bold;">
                   <img src="@(hostUrl + "/Content/Images/iconOpen.gif")" />&nbsp;&nbsp;Opening Times</span><br/>
               <div style="width:100px;float:left;">@Resources.Copy.Monday</div><div style="float:left;" id="pnlMondayC"></div><br/>
               <div style="width:100px;float:left;">@Resources.Copy.Tuesday</div><div style="float:left;" id="pnlTuesdayC"></div><br/>
               <div style="width:100px;float:left;">@Resources.Copy.Wednesday</div><div style="float:left;" id="pnlWednesdayC"></div><br/>
               <div style="width:100px;float:left;">@Resources.Copy.Thursday</div><div style="float:left;" id="pnlThursdayC"></div><br/>
               <div style="width:100px;float:left;">@Resources.Copy.Friday</div><div style="float:left;" id="pnlFridayC"></div><br/>
               <div style="width:100px;float:left;">@Resources.Copy.Saturday</div><div style="float:left;" id="pnlSaturdayC"></div><br/>
               <div style="width:100px;float:left;">@Resources.Copy.Sunday</div><div style="float:left;" id="pnlSundayC"></div><br/>


           </div>

           <div class="siHeader">
               <div class="siTitle">
                   @Resources.Copy.Details_Title
               </div>
           </div>
		
 
           <style>
               .siHeader{float:left;width:100%;background:#303030}
               .siTitle{float:left;padding:5px;color:#fff;font-size:1.1em;padding:5px 5px 5px 5px;font-weight:bold}
               .siTitlesml{float:left;padding:0px;color:#fff;font-size:1em;padding:3px 3px 3px 3px;font-weight:bold}
               #div_openings { font-size: 0.9em; }
               
               .summ_label {
                   width: 30%;text-align: right;float: left;padding-right: 5px; padding-top: 5px;font-weight: bold;
               }
               .summ_value {
                   width: 43%;text-align: left;float: left;padding-top: 5px;
               }
               .summ_price {
                   width: 25%;text-align: left;float: left;font-weight: bold; color: black;padding-top: 5px;
               }
           </style>
           <br clear="all"/>           <br clear="all"/>

           <div class="summ_label">@Resources.Copy.Details_SWECOProject</div>
           <input type="hidden" id="txtProjID" name="txtProjID" value="" />
           <div class="summ_value"><input type="text" id="txtProjects" name="txtProjects" value="@Session["Project_Full"]" style="width:250px;"/></div>
           <div class="summ_price"><input type="checkbox" id="chkInternal" @Session["Project_Internal"] name="chkInternal"/> @Resources.Copy.Details_UseInternalonly</div>
           <div class="divider12px"></div>
           
           <div class="summ_label">@Resources.Copy.Details_LegalEntityName</div>
           <div class="summ_value"><label id="lblLegalEntity">@Session["Company_Name"]</label></div>
           <div class="summ_price"></div>
           <div class="divider12px"></div>

           <img src="@(hostUrl + "/Content/Images/ppSeparator.jpg")"  width="647px"/>

           <div class="summ_label">@Resources.Copy.Details_Start</div><div class="summ_value"><input name="RentalStartDate" id="RentalStartDate" type="text" value="@Model.PickupDateTime.ToString("dd MMMM yyyy")" class="tripDate" onkeydown="return false"  />
           
                                                                   @Html.DropDownListFor(model=>model.PickupDateTime.Hour, (IEnumerable<SelectListItem>)ViewData["PickUpHour"])
                                                                   @Html.DropDownListFor(model=>model.PickupDateTime.Minute, (IEnumerable<SelectListItem>)ViewData["PickUpMin"])

                                                                   
                                                               </div><div class="summ_price">&nbsp;</div>

           <div class="divider12px"></div>

	
           <div class="summ_label">@Resources.Copy.Details_End</div>
           <div class="summ_value"><input name="RentalEndDate" id="RentalEndDate" type="text" value="@Model.ReturnDateTime.ToString("dd MMMM yyyy")" class="tripDate" onkeydown="return false" />
               @Html.DropDownListFor(model=>model.ReturnDateTime.Hour, (IEnumerable<SelectListItem>)ViewData["ReturnHour"])
               @Html.DropDownListFor(model=>model.ReturnDateTime.Minute, (IEnumerable<SelectListItem>)ViewData["ReturnMin"])    
               
               
           </div><div class="summ_price">@Resources.Copy.Details_Days: <label id="lblDays">1</label></div>
           <div class="divider12px"></div>

           <img src="@(hostUrl + "/Content/Images/ppSeparator.jpg")" width="647px" />

           <div class="summ_label">@Resources.Copy.Details_Pickuprentalcountry</div><div class="summ_value"> 
                                                                  @Html.DropDownList("PickUpCountry", (IEnumerable<SelectListItem>)ViewData["PickUpCountries"])
                                                              </div>

           <div class="summ_price">&nbsp;</div>
           <div class="divider12px"></div>

           <div class="summ_label">
               @Resources.Copy.Details_Rentallocation
           </div><div class="summ_value">
	  
                     <input type="text" name="PickUpLocations" id="PickUpLocations" value="@Model.PickupLocationName" style="width:250px;" />

                     
                 </div><div class="summ_price"><input type="checkbox" id="chkDeliver" name="chkDeliver"/> @Resources.Copy.Details_Delivermycar</div>
 
           <div class="divider12px"></div>
           
           <div id="DeliveryAddress">
               <div class="summ_label">@Resources.Copy.Details_DeliveryAddress1*</div><div class="summ_value"><input type="text" id="DeliveryAddress1" name="DeliveryAddress1" style="width:250px;"/></div><div class="summ_price">&nbsp;</div>
               <div class="divider12px">&nbsp;</div>
               <div class="summ_label">@Resources.Copy.Details_DeliveryAddress2*</div><div class="summ_value"><input type="text" id="DeliveryAddress2" name="DeliveryAddress2" style="width:250px;"/></div><div class="summ_price">&nbsp;</div>
               <div class="divider12px">&nbsp;</div>
               <div class="summ_label">@Resources.Copy.Details_DeliveryPostCode*</div><div class="summ_value"><input type="text" id="DeliveryPostCode" name="DeliveryPostCode" style="width:250px;"/></div><div class="summ_price">&nbsp;</div>
               <div class="divider12px">&nbsp;</div>
               <div class="summ_label">@Resources.Copy.Details_DeliveryInstructions</div><div class="summ_value"><input type="text" id="DeliveryInstructions1" name="DeliveryInstructions1" style="width:250px;"/></div><div class="summ_price">&nbsp;</div>
           </div>


           <div class="summ_label">@Resources.Copy.Details_Returningto</div><div class="summ_value">
                                                         <input id="chkSameReturn" type="checkbox" name="chkSameReturn" checked="checked" />
                                                         &nbsp;@Resources.Copy.Details_Sameaspickuplocation
                                                     </div><div class="summ_price">&nbsp;</div>
           <div class="divider12px"></div>


           <div id="ppLocationSearchReturnx">
           
               <div class="summ_label">@Resources.Copy.Details_Returnrentalcountry</div>
               <div class="summ_value">
                   @Html.DropDownList("ReturnCountry", (IEnumerable<SelectListItem>)ViewData["ReturnCountries"])
               </div><div class="summ_price">&nbsp;</div>
 
               <div class="divider12px"></div>
               

               <div class="summ_label">
                   @Resources.Copy.Details_Rentallocation
               </div><div class="summ_value">
                         <input type="text" name="ReturnLocations" id="ReturnLocations" value="@Model.ReturnLocationName" style="width:250px;" />
                     </div><div class="summ_price"><input type="checkbox" id="chkCollect" name="chkInternal"/> @Resources.Copy.Details_Collectmycar</div>
               <div class="divider12px"></div>
               
               <div id="CollectionAddress">
                   <div class="summ_label">@Resources.Copy.Details_CollectionAddress1*</div><div class="summ_value"><input type="text" id="CollectionAddress1" name="CollectionAddress1" style="width:250px;"/></div><div class="summ_price">&nbsp;</div>
                   <div class="divider12px">&nbsp;</div>
                   <div class="summ_label">@Resources.Copy.Details_CollectionAddress2*</div><div class="summ_value"><input type="text" id="CollectionAddress2" name="CollectionAddress2" style="width:250px;"/></div><div class="summ_price">&nbsp;</div>
                   <div class="divider12px">&nbsp;</div>
                   <div class="summ_label">@Resources.Copy.Details_CollectionPostCode*</div><div class="summ_value"><input type="text" id="CollectionPostCode" name="CollectionPostCode" style="width:250px;"/></div><div class="summ_price">&nbsp;</div>
                   <div class="divider12px">&nbsp;</div>
                   <div class="summ_label">@Resources.Copy.Details_CollectionInstructions</div><div class="summ_value"><input type="text" id="CollectionInstructions1" name="CollectionInstructions1" style="width:250px;"/></div><div class="summ_price">&nbsp;</div>
               </div>

           </div>
                    		
           <div class="divider12px"></div>
           
           <img src="@(hostUrl + "/Content/Images/ppSeparator.jpg")"  width="647px" />


          
           <p style="width:100%; text-align:right;">
               <style>
                   .primaryButton
                   {
                       display:block;float:right;width:auto;background: url(@hostUrl/content/images/sprites_main.png) left -3000px no-repeat;padding: 0 0 0 15px;
                   }
               </style>
               
       
               <div class="primaryButton">
                   <input type="submit" id="submitForm" value=" @Resources.Copy.Details_Next" style="background:url(@(hostUrl + "/content/images/sprites_main.png")) right -3050px no-repeat;color:#fff;font-weight:bold;font-size:1.4em;font-style:italic;padding:9px 40px 10px 0;text-decoration:none;border: none;margin-right:20px;" />
               </div>
           </p>
       </div>


   }
}


<script type="text/javascript">

    var z;
    var hostURL = '@hostUrl';
    var noError = true;

    $(document).ready(function () {


        $('#div_openings').hide();
        $('#div_closings').hide();
        
        if ($('#chkInternal').is(':checked')) {
            $("#txtProjects").attr("disabled", "disabled");
        } else {
            $("#txtProjects").removeAttr("disabled");
        }

        if ($('#chkSameReturn').is(':checked')) {
            $('#ppLocationSearchReturn').css('visibility', 'hidden');
        } else {
            $('#ppLocationSearchReturn').css('visibility', 'show');
        }


        $(function () {
            var availableTags = [

		];
            $("#txtProjects").autocomplete({
                source: hostURL + "/Booking/Projects", minLength: 4,
                select: function (a, b) {
                    $(this).val(b.item.value);
                    //updateCompanyValue($(this).val());
                    $.ajax({
                        type: "POST",
                        url: hostURL + "/booking/GetCompanyName/",
                        data: "{ProjectValue: '" + $(this).val() + "'}",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        async: false,
                        success: function (response) {
                            $("#lblLegalEntity").text(response);
                        }
                    });
                }
            });
        });

        //        function updateCompanyValue(project) {

        //            $.ajax({
        //                type: "POST",
        //                url: "http://localhost:7977/booking/GetCompanyName/",
        //                data: "{ProjectValue: '" + project + "'}",
        //                contentType: "application/json; charset=utf-8",
        //                dataType: "json",
        //                async: false,
        //                success: function (response) {
        //                    $("#lblLegalEntity").text(response);
        //                }
        //            });
        //        }


        $('#ppLocationSearchReturn').css('visibility', 'hidden');

        //        $("#PickUpCountry").change(
        //         function () {
        //             getPickUpLocations();
        //         }
        //);


        //        $("#ReturnCountry").change(
        //         function () {
        //             getReturnLocations();
        //         }
        //     );


        $("#chkInternal").change(
            function () {
                if ($('#chkInternal').is(':checked')) {
                    $("#txtProjects").attr("disabled", "disabled");
                } else {
                    $("#txtProjects").removeAttr("disabled");
                }
            });




        function IsProjectNumberValid() {
            $.ajax({
                type: "POST",
                url: hostURL + "/booking/IsProjectNumberValid/",
                data: "{ProjectValue: '" + $('#txtProjects').val() + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                success: function (response) {
                    if (response == 'false') {
                        alert("@Resources.Copy.Info_InvalidProject");
                        z = false;
                        return;
                    }
                    z = true;
                    return;
                }
            });


        }


        function Pickup_IsLocationInCountry() {
            $.ajax({
                type: "POST",
                url: hostURL + "/booking/IsLocationInCountry/",
                data: "{location: '" + $('#PickUpLocations').val() + "', country:  '" + $('#PickUpCountry').val() + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                success: function (response) {

                    if (response == false) {
                        alert("@Resources.Copy.Info_InvalidPickUpLocation");
                        noError = false;
                        return;
                    }
                    noError = true;
                    return;
                }
            });
        }

        function Return_IsLocationInCountry() {
            $.ajax({
                type: "POST",
                url: hostURL + "/booking/IsLocationInCountry/",
                data: "{location: '" + $('#ReturnLocations').val() + "', country:  '" + $('#ReturnCountry').val() + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                success: function (response) {

                    if (response == false) {
                        alert("@Resources.Copy.Info_InvalidReturnLocation");
                        noError = false;
                        return;
                    }
                    noError = true;
                    return;
                }
            });
        }

        $("#submitForm").click(function () {


            Pickup_IsLocationInCountry();
            if (noError == false) return false;

            if (!$('#chkSameReturn').is(':checked')) {
                Return_IsLocationInCountry();
                if (noError == false) return false;
            }

            var outDate = $("#RentalStartDate").val();
            var inDate = $("#RentalEndDate").val();

            var oDD = outDate.substring(0, 2);
            var oMM = outDate.substring(3, 5);
            var oYYYY = outDate.substring(6, 10);

            var y = oMM;
            y = parseFloat(y);
            oMM = y - 1;
            //oMM = parseInt(oMM, 0) - 1;

            var iDD = inDate.substring(0, 2);
            var iMM = inDate.substring(3, 5);
            var iYYYY = inDate.substring(6, 10);

            var x = iMM;
            x = parseFloat(x);
            iMM = x - 1;
            //iMM = parseInt(iMM, 0) - 1;

            var dOut = new Date(oYYYY, oMM, oDD);
            var dIn = new Date(iYYYY, iMM, iDD);

            if (dOut >= dIn) {
                alert("@Resources.Copy.Info_PickupDate");
                return false;
            }

            if ($("#PickUpLocations").val() == "") {
                alert("@Resources.Copy.Info_SelectPickUp");
                return false;
            }

            if (!$('#chkSameReturn').is(':checked')) {
                if ($("#ReturnLocations").val() == "") {
                    alert("@Resources.Copy.Info_SelectReturn");
                    return false;
                }
            }

            //pickup and collection logic here
            if ($("#chkDeliver").is(':checked')) {
                if ($("#DeliveryAddress1").val() == "") {
                    alert("@Resources.Copy.Info_DelAdd1");
                    return false;
                }
                if ($("#DeliveryAddress2").val() == "") {
                    alert("@Resources.Copy.Info_DelAdd2");
                    return false;
                }
                if ($("#DeliveryPostCode").val() == "") {
                    alert("@Resources.Copy.Info_DelPC");
                    return false;
                }
            }

            if ($("#chkCollect").is(':checked')) {
                if ($("#CollectionAddress1").val() == "") {
                    alert("@Resources.Copy.Info_ColAdd1");
                    return false;
                }
                if ($("#CollectionAddress2").val() == "") {
                    alert("@Resources.Copy.Info_ColAdd2");
                    return false;
                }
                if ($("#CollectionPostCode").val() == "") {
                    alert("@Resources.Copy.Info_ColPC");
                    return false;
                }
            }


            if (!$('#chkInternal').is(':checked')) {
                if ($('#txtProjects').val() == '') {
                    alert("@Resources.Copy.Info_EnterProjectNumber");
                    return false;
                }
                IsProjectNumberValid();
                return z;
            }

            return true;
        });

        $("#ppLocationSearchReturnx").hide();
        $("#DeliveryAddress").hide();
        $("#CollectionAddress").hide();

        $("#chkSameReturn").click(function () {

            $("#ppLocationSearchReturnx").slideToggle();

        });

        $("#chkDeliver").click(function () {

            $("#DeliveryAddress").slideToggle();
            //$("#Locations").slideToggle();

        });

        $("#chkCollect").click(function () {

            $("#CollectionAddress").slideToggle();
            //$("#ReturnLocations").slideToggle();

        });

    });

    var cDate = new Date();
   $("#RentalStartDate").datepicker({ dateFormat: 'dd MM yy', minDate: cDate });
 $("#RentalEndDate").datepicker({ dateFormat: 'dd MM yy' });

 $("#RentalStartDate").datepicker().bind("change", function () {


     var minValue = $(this).val();
     minValue = $.datepicker.parseDate("dd MM yy", minValue);
     minValue.setDate(minValue.getDate() + 1);
     $("#RentalEndDate").datepicker("option", "minDate", minValue);


     var startDate = $(this).val();
     startDate = $.datepicker.parseDate("dd MM yy", startDate);
     var endDate = $("#RentalEndDate").val();
     endDate = $.datepicker.parseDate("dd MM yy", endDate);

     var diff = parseInt((endDate - startDate) / (24 * 3600 * 1000));
     if (diff < 1) {
         diff = 'N/A'; }
     $("#lblDays").text(diff);
 });

 $("#RentalEndDate").datepicker().bind("change", function () {
     var maxValue = $(this).val();
     maxValue = $.datepicker.parseDate("dd MM yy", maxValue);
     maxValue.setDate(maxValue.getDate() - 1);
     $("#RentalStartDate").datepicker("option", "maxDate", maxValue);

     var startDate = $("#RentalStartDate").val();
     startDate = $.datepicker.parseDate("dd MM yy", startDate);
     var endDate = $(this).val();
     endDate = $.datepicker.parseDate("dd MM yy", endDate);

     var diff = parseInt((endDate - startDate) / (24 * 3600 * 1000));
     if (diff < 1) {
         diff = 'N/A';
     }
     $("#lblDays").text(diff);

     //$("#lblDays").text($(this).val() - $("#RentalStartDate").val());
 });

// function getPickUpLocations() {
//     

//     $.ajax({
//         type: "POST",
//         url: "http://localhost:7977/booking/GetLocations/",
//         data: "{CountryCode: '" + $('#PickUpCountry').val() + "'}",
//         contentType: "application/json; charset=utf-8",
//         dataType: "json",
//         success: function (response) {
//             $('#PickUpLocations').empty();
//             for (var i = 0; i < response.length; i++) {
//                 var val = response[i].LocationId;
//                 var text = response[i].LocationName;
//                 $('#PickUpLocations').append("<option value='" + val + "'>" + text + "</option>");
//             }
//         }
//     });
// }

// function getReturnLocations() {
//     $.ajax({
//         type: "POST",
//         url: "http://localhost:7977/booking/GetLocations/",
//         data: "{CountryCode: '" + $('#ReturnCountry').val() + "'}",
//         contentType: "application/json; charset=utf-8",
//         dataType: "json",
//         success: function (response) {
//             $('#ReturnLocations').empty();
//             for (var i = 0; i < response.length; i++) {
//                 var val = response[i].LocationId;
//                 var text = response[i].LocationName;
//                 $('#ReturnLocations').append("<option value='" + val + "'>" + text + "</option>");
//             }
//         }
//     });
// }

// function log(message) {
//     $("<div/>").text(message).prependTo("#log");
//     $("#log").scrollTop(0);
// }

 $("#PickUpLocations").autocomplete({
     source: function (request, response) {
         $.ajax({
             url: hostURL + "/booking/AutoCompleteLocation",
             dataType: "json",
             data: {
                 location: request.term,
                 country: $('#PickUpCountry').val()
             },
             success: function (data) {

                 response($.map(data, function (item) {
                     
                     return { label: item.Location_Name, value: item.Name, id: item.Id, Location_StationType: item.Location_StationType,
                         address1: item.Location_Address,
                         city: item.Location_City,
                         postcode: item.Location_PostCode,
                         location: item.Location_Name,
                         locationCode: item.LocationCode,
                         distanceFromWork: item.DistanceFromWork,
                         Address: item.Address,
                         stationName: item.StationName,
                         phoneNumber: item.Location_Phone,
                         stationType: item.StationType,
                         stationOpenOrClosed: item.StationOpenOrClosed,
                         sundayCaption: item.SundayCaption,
                         sundayOpeningHours: item.SundayOpeningHours,
                         mondayCaption: item.MondayCaption,
                         mondayOpeningHours: item.MondayOpeningHours,
                         tuesdayCaption: item.TuesdayCaption,
                         tuesdayOpeningHours: item.TuesdayOpeningHours,
                         wednesdayCaption: item.WednesdayCaption,
                         wednesdayOpeningHours: item.WednesdayOpeningHours,
                         thursdayCaption: item.ThursdayCaption,
                         thursdayOpeningHours: item.ThursdayOpeningHours,
                         fridayCaption: item.FridayCaption,
                         fridayOpeningHours: item.FridayOpeningHours,
                         saturdayCaption: item.SaturdayCaption,
                         saturdayOpeningHours: item.SaturdayOpeningHours
                     };
                 }));
             },
             error: function (msg) {
                 alert(msg);
             }
         });
     },
     minLength: 2,
     select: function (event, ui) {
         $("#PickUpLocations").text(ui.item.location);
     }
 })

  .data("autocomplete")._renderItem = function (ul, item) {

      //      var s;
      //      s = $('#div_openings').html().replace('{station-name}', item.label).replace(/\"/g, "'");


      return $("<li onmouseover=\"$('#div_openings').show(); BuildPanel('" + item.label + "', '" + item.mondayOpeningHours + "', '" + item.tuesdayOpeningHours + "', '" + item.wednesdayOpeningHours + "', '" + item.thursdayOpeningHours + "', '" + item.fridayOpeningHours + "', '" + item.saturdayOpeningHours + "', '" + item.sundayOpeningHours + "', '" + item.address1 + "', '" + item.city + "', '" + item.postcode + "', '" + item.phoneNumber + "'); \" onmouseout=\"$('#div_openings').hide();\" data-address=" + JSON.stringify(item.label) + "></li>")
.data("item.autocomplete", item)

.append("<a style='width:340px' autocomplete='true' class='ui-corner-all'><span class='lsLocationType'><img src='" + hostURL + "/Content/Images/ppIconBuilding.gif'></span><span class='lsOpenOrClosed'><img title='Station Open' src='" + hostURL + "/Content/Images/iconOpen.gif'></span>" + item.label + "</a>")

.appendTo(ul);
  };


  function BuildPanel(stationname, mondayOpeningHours, tuesdayOpeningHours, wednesdayOpeningHours, thursdayOpeningHours, fridayOpeningHours, saturdayOpeningHours, sundayOpeningHours, address, city, postcode, phonenumber) {
      $('#pnlStationName').html(stationname);
      $('#pnlMonday').html(mondayOpeningHours);
      $('#pnlTuesday').html(tuesdayOpeningHours);
      $('#pnlWednesday').html(wednesdayOpeningHours);
      $('#pnlThursday').html(thursdayOpeningHours);
      $('#pnlFriday').html(fridayOpeningHours);
      $('#pnlSaturday').html(saturdayOpeningHours);
      $('#pnlSunday').html(sundayOpeningHours);
      $('#pnlAdd1').html(address);
      $('#pnlAdd2').html(city);
      $('#pnlAdd3').html(postcode);
      $('#pnlPhone').html('<img src=\'' + hostURL + '/content/images/ppiconcar.gif\' />&nbsp;&nbsp;' +  phonenumber);

  }


  function BuildClosingPanel(stationname, mondayOpeningHours, tuesdayOpeningHours, wednesdayOpeningHours, thursdayOpeningHours, fridayOpeningHours, saturdayOpeningHours, sundayOpeningHours, address, city, postcode, phonenumber) {
      $('#pnlStationNameC').html(stationname);
      $('#pnlMondayC').html(mondayOpeningHours);
      $('#pnlTuesdayC').html(tuesdayOpeningHours);
      $('#pnlWednesdayC').html(wednesdayOpeningHours);
      $('#pnlThursdayC').html(thursdayOpeningHours);
      $('#pnlFridayC').html(fridayOpeningHours);
      $('#pnlSaturdayC').html(saturdayOpeningHours);
      $('#pnlSundayC').html(sundayOpeningHours);
      $('#pnlAdd1C').html(address);
      $('#pnlAdd2C').html(city);
      $('#pnlAdd3C').html(postcode);
      $('#pnlPhoneC').html('<img src=\'' + hostURL + '/content/images/ppiconcar.gif\' />&nbsp;&nbsp;' + phonenumber);

  }


 $("#ReturnLocations").autocomplete({
     source: function (request, response) {
         $.ajax({
             url: hostURL + "/booking/AutoCompleteLocation",
             dataType: "json",
             data: {
                 location: request.term,
                 country: $('#ReturnCountry').val()
             },
             success: function (data) {

                 response($.map(data, function (item) {

                     return { label: item.Location_Name, value: item.Name, id: item.Id, Location_StationType: item.Location_StationType,
                         address1: item.Location_Address,
                         city: item.Location_City,
                         postcode: item.Location_PostCode,
                         location: item.Location_Name,
                         locationCode: item.LocationCode,
                         distanceFromWork: item.DistanceFromWork,
                         Address: item.Address,
                         stationName: item.StationName,
                         phoneNumber: item.Location_Phone,
                         stationType: item.StationType,
                         stationOpenOrClosed: item.StationOpenOrClosed,
                         sundayCaption: item.SundayCaption,
                         sundayOpeningHours: item.SundayOpeningHours,
                         mondayCaption: item.MondayCaption,
                         mondayOpeningHours: item.MondayOpeningHours,
                         tuesdayCaption: item.TuesdayCaption,
                         tuesdayOpeningHours: item.TuesdayOpeningHours,
                         wednesdayCaption: item.WednesdayCaption,
                         wednesdayOpeningHours: item.WednesdayOpeningHours,
                         thursdayCaption: item.ThursdayCaption,
                         thursdayOpeningHours: item.ThursdayOpeningHours,
                         fridayCaption: item.FridayCaption,
                         fridayOpeningHours: item.FridayOpeningHours,
                         saturdayCaption: item.SaturdayCaption,
                         saturdayOpeningHours: item.SaturdayOpeningHours
                     };
                 }));
             },
             error: function (msg) {
                 alert(msg);
             }
         });
     },
     minLength: 2,
     select: function (event, ui) {
         $("#ReturnLocations").text(ui.item.location);
     }
 })

  .data("autocomplete")._renderItem = function (ul, item) {

      //      var s;
      //      s = $('#div_openings').html().replace('{station-name}', item.label).replace(/\"/g, "'");


      return $("<li onmouseover=\"$('#div_closings').show(); BuildClosingPanel('" + item.label + "', '" + item.mondayOpeningHours + "', '" + item.tuesdayOpeningHours + "', '" + item.wednesdayOpeningHours + "', '" + item.thursdayOpeningHours + "', '" + item.fridayOpeningHours + "', '" + item.saturdayOpeningHours + "', '" + item.sundayOpeningHours + "', '" + item.address1 + "', '" + item.city + "', '" + item.postcode + "', '" + item.phoneNumber + "'); \" onmouseout=\"$('#div_closings').hide();\" data-address=" + JSON.stringify(item.label) + "></li>")
.data("item.autocomplete", item)

.append("<a style='width:340px' autocomplete='true' class='ui-corner-all'><span class='lsLocationType'><img src='" + hostURL + "/Content/Images/ppIconBuilding.gif'></span><span class='lsOpenOrClosed'><img title='Station Open' src='" + hostURL + "/Content/Images/iconOpen.gif'></span>" + item.label + "</a>")

.appendTo(ul);
  };
    
</script>