﻿
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, big, code, em, font, img, small, sup, tt, var, dl, dt, dd, ol, ul, li, hr, legend, caption, textarea, form {
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input, select {
    font-family: Arial;
    margin: 0;
}
button {
    margin: 0;
}
body {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial,sans-serif;
}
body {
    font-size: 12px;
}
body {
    text-align: left;
}
div, p, ul, li {
    line-height: 1.4em;
    margin: 0;
    padding: 0;
}
p {
    display: block;
    float: left;
    line-height: 1.5;
    margin: 0 0 10px;
    padding: 0;
    width: 100%;
}
a:link {
    color: #303030;
    font-weight: bold;
    text-decoration: underline;
}

a:visited 
{
    color: #303030;
    font-weight: bold;
    text-decoration: underline;
}
a:hover {
    color: #CC0000;
    font-weight: bold;
    text-decoration: underline;
}
br {
    line-height: 1.4;
}
ul, li {
    list-style: none outside none;
}
h1 {
    color: #CC0000;
    display: block;
    float: left;
    font-size: 150%;
    line-height: 1.4;
    margin-bottom: 10px;
    padding: 5px 0 3px;
    width: 100%;
}
h1.secure {
    background: url("/assets/build/core/sprites/sprites_main.png") no-repeat scroll left 3px transparent;
    display: block;
    float: left;
    font-size: 150%;
    line-height: 1.4;
    margin-bottom: 10px;
    padding: 5px 0 3px 20px;
    width: 100%;
}
h2.secure {
    background: url("/assets/build/core/sprites/sprites_main.png") no-repeat scroll left 3px transparent;
    padding-left: 20px;
}
h2 {
    color: #CC0000;
    display: block;
    float: left;
    font-size: 130%;
    margin-bottom: 10px;
    padding: 5px 0 0;
    width: 100%;
}
h3 {
    display: block;
    float: left;
    font-size: 110%;
    margin-bottom: 10px;
}
h4 {
    display: block;
    float: left;
    font-size: 100%;
    font-weight: bold;
}
h1 a:link, h1 a:visited {
    color: #CC0000;
    text-decoration: none;
}
h1 a:hover {
    color: #303030;
    text-decoration: underline;
}
h2 a:link, h2 a:visited {
    color: #CC0000;
    text-decoration: none;
}
h2 a:hover {
    color: #303030;
    text-decoration: underline;
}
img {
    border: medium none;
}
table {
    float: left;
    font-size: 1em;
    line-height: 1.4;
    width: 100%;
}
td {
    padding: 5px 5px 5px 0;
    text-align: left;
    vertical-align: top;
}
.aplogo img {
    float: right;
}
td.label {
    font-weight: bold;
    padding: 5px 5px 5px 0;
    text-align: left;
    width: 50%;
}
td.input {
    font-weight: normal;
    padding: 5px;
    width: 50%;
}
td select {
    font-size: 1em;
}
.accessible {
    font-size: 0;
    height: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    text-indent: -9999px;
    width: 0;
}
h1.accessible {
    display: none;
}
.bind {
    float: left;
    width: 100%;
}
.printable {
    background: url("/assets/build/core/iconPrint.gif") no-repeat scroll left center transparent;
    padding: 0 0 0 25px;
}
tr.noscreen {
    display: none;
}




/**************************************************************************************************/
/*                                     MAIN PAGE DIV STRUCTURE                                    */
/**************************************************************************************************/
/* line 13, ../src/screen.scss */
.container {
  *zoom: 1;
  margin-left: auto;
  margin-right: auto;
  width: 970px;
  *max-width: 100%;
  max-width: 970px;
  *display:none;
}

/* line 131, ../src/screen.scss */
#mainContent {
  clear: both;
  margin-left: auto;
  margin-right: auto;
  width: 970px;
  max-width: 970px;
  
}

/**************************************************************************************************/
/*                                      HEADER, LOGO, LINKS                                       */
/**************************************************************************************************/

#headerWrapper {
    background: url("/Content/images/gradients.png") repeat-x scroll left top #FFFFFF;
    float: left;
    padding: 0;
    width: 100%;
}


#headerLinks a:link, #headerLinks a:visited {
    color: #F5F5F5;
    text-decoration: none;
}

#headerLinks {
    float: right;
    padding: 0 5px 0 0;
    width: 100%;
}

#headerLinksWrapper {
    display: block;
    float: right;
    font-size: 0.9em;
    width: 800px;
}

.logo {
    border: medium none;
    display: block;
    float: left;
    height: 80px;
    overflow: hidden;
    padding: 0;
    width: 144px;
}

#langSelectWrapper {
    float: right;
    height: 20px;
    margin: 20px 0 10px;
    padding: 0 10px 0 0;
    width: 600px;
}

#headerLinks li {
    display: block;
    float: left;
    padding: 5px;
    width: auto;
}

#popup {
    background-color: #FFFFFF;
    border: 5px solid #F5F5F5;
    display: none;
    float: left;
    font-size: 1em;
    position: fixed;
    width: 650px;
    z-index: 100;
}




/**************************************************************************************************/
/*                                              MENU                                              */
/**************************************************************************************************/

#primaryNav {
    background: url("/assets/build/core/sprites/gradients.png") repeat-x scroll left -100px #505050;
    display: block;
    float: left;
    margin: 5px 0 0;
    width: 100%;
}

#primaryNav ul {
    float: left;
    width: 100%;
}

#primaryNav li {
    clear: none;
    float: left;
    height: 40px;
    line-height: 36px;
    width: auto;
}

#primaryNav a:link, #primaryNav a:visited {
    background: url("/Content/Images/sprites_main.png") no-repeat scroll right -2050px transparent;
    color: #D9D9D9;
    display: block;
    float: left;
    height: 100%;
    padding: 0 10px;
    text-decoration: none;
}
#primaryNav a {
    font-weight: normal;
}

#primaryNav a:hover {
    background: url("/Content/Images/sprites_main.png") no-repeat scroll right -2000px transparent;
    color: #D9D9D9;
    display: block;
    float: left;
    height: 100%;
    padding: 0 10px;
    text-decoration: none;
}












/**************************************************************************************************/
/*                                         LOCATION SEARCH                                        */
/**************************************************************************************************/

#locationSearchStationDetails {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #7F9DB9;
    display: block;
    float: left;
    padding: 5px;
    width: 270px;
}
.stationName {
    background: none repeat scroll 0 0 #303030;
    color: #FFFFFF;
    display: block;
    float: left;
    font-weight: bold;
    padding: 5px;
    width: 260px;
}
.stationAddress {
    display: block;
    float: left;
    font-weight: normal;
    padding: 5px 0 0 5px;
    width: 270px;
}
.stationPhone {
    display: block;
    float: left;
    font-weight: bold;
    margin: 0 0 10px;
    padding: 0 0 0 3px;
    width: 270px;
}
.stationType {
    display: block;
    float: left;
    height: 22px;
    padding: 0 5px;
    width: auto;
}
.stationOpenOrClosed {
    display: block;
    float: left;
    width: 22px;
}
.openingHours {
    display: block;
    float: left;
    font-weight: normal;
    padding: 5px 0 0;
    width: 270px;
}
.openingHours td {
    line-height: 1em;
    padding: 3px;
    width: 30%;
}







/**************************************************************************************************/
/*                                           MICROSITES                                           */
/**************************************************************************************************/

/* line 153, ../src/screen.scss */
.display-group {
  margin-bottom: 0.2em;
  overflow: hidden;
  *zoom: 1;
  width:100%;  
  position:relative;
}

/* line 161, ../src/screen.scss */
#rental-agreement .rental-agreement-grouped-fields {
  margin-bottom: 1.5em;
  overflow: hidden;
  *zoom: 1;
  *background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #dddddd));
  *background-image: -webkit-linear-gradient(top, #eeeeee, #dddddd);
  *background-image: -moz-linear-gradient(top, #eeeeee, #dddddd);
  *background-image: -o-linear-gradient(top, #eeeeee, #dddddd);
  *background-image: -ms-linear-gradient(top, #eeeeee, #dddddd);
  *background-image: linear-gradient(top, #eeeeee, #dddddd);
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 6px;
}

/* line 166, ../src/screen.scss */
#rental-agreement .rental-agreement-grouped-fields div.left-column {
  display: inline;
  float: left;
  width: 100%;
  margin-right: 1.695%;
}
/* line 168, ../src/screen.scss */
#rental-agreement .rental-agreement-grouped-fields div.left-column .display-group .display-label {
  display: inline;
  float: left;
  width: 48.276%;
  margin-right: 3.448%;
}
/* line 171, ../src/screen.scss */
#rental-agreement .rental-agreement-grouped-fields div.left-column .display-group .display-field {
  display: inline;
  float: left;
  width: 48.276%;
  margin-right: 3.448%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
}
/* line 177, ../src/screen.scss */
#rental-agreement .rental-agreement-grouped-fields div.right-column {
  display: inline;
  float: left;
  width: 49.153%;
  margin-right: 1.695%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
}
/* line 181, ../src/screen.scss */
#rental-agreement .rental-agreement-grouped-fields div.right-column .display-group .display-label {
  display: inline;
  float: left;
  width: 48.276%;
  margin-right: 3.448%;
}
/* line 184, ../src/screen.scss */
#rental-agreement .rental-agreement-grouped-fields div.right-column .display-group .display-field {
  display: inline;
  float: left;
  width: 48.276%;
  margin-right: 3.448%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
}

/* line 144, ../src/screen.scss */
.editor-label {
  display: inline;
  float: left;
  width: 30%;
  margin-right: 1.695%;
}

/* line 144, ../src/screen.scss */
.editor-label-hidden {
  display: inline;
  float: left;
  width: 30%;
  margin-right: 1.695%;
  display: none;
}

/* line 144, ../src/screen.scss */
.editor-label-100percent {
  display: inline;
  float: left;
  width: 100%;
  margin-right: 1.695%;
}

/* line 144, ../src/screen.scss */
.editor-label-hidden-100percent {
  float: left;
  width: 100%;
  margin-right: 1.695%;
  display: none;
}


/* line 148, ../src/screen.scss */
.editor-field {
  display: inline;
  margin-right: 10px;
  width: 65%;
  float: right;
/*
  float: left;
  margin-right: 1.695%;
  float: right;
*/
}

/* line 144, ../src/screen.scss */
.editor-label-password {
  display: inline;
  float: left;
  width: 25%;
  margin-right: 1.695%;
}

.editor-field-password {
  display: inline;
  float: left;
  width: 70%;
  margin-right: 1.695%;
  display: inline;
  float: right;
  margin-right: 10px;
}

#footerWrapper {
    display:block;float:left;width:100%;background:url(/assets/build/core/sprites/gradients.png) left bottom repeat-x #383838;overflow:visible;margin:20px 0 0 0
}

#footerLinksWrapper{display:block;float:left;padding:10px}#footerLinksWrapper .links{display:block;float:left;width:930px;font-size:.9em;width:950px}#footerLinksWrapper .links li{display:block;float:left;width:20%;padding:2px 0}#footerLinksWrapper .links li a{display:block;float:left}#footerLinksWrapper a:link,#footerLinksWrapper a:visited{color:#f5f5f5;text-decoration:none}#footerLinksWrapper a:hover{color:#fff;text-decoration:underline}#footerCopyright{display:block;float:left;width:auto;font-size:.9em;text-align:left;color:#ccc;padding:0 10px 0 10px}#footerCopyright a:link,#footerCopyright a:visited{color:#ccc;font-weight:normal}#footerCopyright a:hover{color:#fff;font-weight:normal}#footerLower{display:block;float:left;width:100%;height:120px;background:url(/assets/build/core/wthGeneric.jpg) right bottom no-repeat}

.divider12px 
{
    clear: both;
    width: 100%;
    min-height: 12px;
}