﻿
#innerContent	{
	float: left;
	width: 800px;
    min-height: 580px;
    margin-left: 3px;
    position: relative;
    margin-top: 7px;
  
    height: auto;
    background-color: white;
    padding-left: 6px;
    padding-bottom: 6px;
    padding-right: 6px;
    border-radius: 15px;  
    box-shadow: #666 0px 2px 3px;
}


input[disabled='disabled']
{
    background-color: #f0f0f0;
}


table
{
    margin: 0px;
    padding: 0px;
    border-collapse: collapse;  
}
table td
{
    margin-left: 3px;
    margin-right: 3px;
    padding-left: 3px;
    padding-right: 3px;  
    
}

.ui-autocomplete-loading
{
    background: white url('Images/ui-anim_basic_16x16.gif') right center no-repeat;
}


.ui-autocomplete {
		max-height: 300px;
		overflow-y: auto;
		/* prevent horizontal scrollbar */
		overflow-x: hidden;
		/* add padding to account for vertical scrollbar */
		padding-right: 20px;
}



/* Text 150 */
.text150	{
	width: 161px !important;
	/*background: #aaa url(Images/bg_input_text150.png) no-repeat left top !important;*/
}
/* Text 225 */
.text225	{
	width: 247px !important;
/*	background: #aaa url(Images/bg_input_text225.png) no-repeat left top !important;*/
}

/* Text 300 */
.text300	{
	width: 333px !important;
	/*background: #aaa url(Images/bg_input_text300.png) no-repeat left top !important;*/
}
/* Text 375 */
.text375	{
	width: 419px !important;
	/*background: #aaa url(Images/bg_input_text375.png) no-repeat left top !important;*/
}



.select150 {
    width: 166px !important;
/*	background: #fff url(Images/bg_input_text150.png) no-repeat left top !important;*/
}

/*
#EndLease input[type="text"],input[type="password"],
#CreateSalesInvoice input[type="text"],input[type="password"],
#AddVehicle input[type="text"],input[type="password"],
#VehicleDetails input[type="text"],input[type="password"]
{
    width: 75px;
    font-size: 1.3em;
}
*/

/*
label	{
	clear: both;
	display: block;
	font-size: 1em;
	font-weight: bold;
	line-height: 1.25em;
	padding: 3px 0 5px 0;
	color: #6c6c6c;
	
}
*/
#EndLease select,
#CreateSalesInvoice select,
#AddVehicle select,
#VehicleDetails select
{
    width: 80px;
    font-size: 1.3em;
}


.forminput
{
    margin: 0px 3px 0px 3px; float:left;
}

.forminputfiller
{
    width: 81px;
    min-width: 81px;
    float: left;
}

.table ul
{
float:left;
margin:0;
padding:0;
}
.table ul li
{
list-style:none;
    /*padding:5px 3px;*/
    margin: 5px 3px;
    /*height: 30px;*/
    height: 16px;
}


.table ul li.title
{
    font-weight:bold;
    color: #6C6C6C;
	/*background: #4d5c89 url(Images/bg_content_h22.png) no-repeat left top;*/
    background-color: #f0f0f0;
    border-bottom:  1px solid #E5E5E5;
    width: 100%;
    height: 15px;
    font-size: 1.1em;
    padding: 5px 0 5px 10px;
	
}
.table ul li.item
{
    font-weight:bold;
    color: #6C6C6C;
    font-size: 1.1em;
	
}


.table ul li.even
{
background:#fff
}
.table ul li.odd
{
background:#FFFFE6
}


/* Finance tab */
#tabs-2 label {
    float: left;
	display: block;
	font-size: 1em;
	font-weight: bold;
	/*line-height: 1.25em;*/
	padding: 3px 0 5px 0;
	color: #6c6c6c;
    width: 120px;
}


#financeLeftSide
{
    float: left;
    width: 380px;
    vertical-align: top;
}
#financeRightSide
{
    float: right;
    width: 380px;
    vertical-align: top;

    
}
#tabs-2 input[type="text"]
{
    width: 161px;
	float: left;
}

#tabs-2 span.forminput {
    clear: both;
    margin: 2px;
    
}


/* Status tab */
#tabs-4 label {
    float: left;
	display: block;
	font-size: 1em;
	font-weight: bold;
	color: #6c6c6c;
    width: 120px;
}


#statusLeftSide
{
    float: left;
    width: 380px;
    vertical-align: top;
}
#statusRightSide
{
    float: right;
    width: 380px;
    vertical-align: top;

    
}
#tabs-4 input[type="text"]
{
    width: 166px;
	float: left;

}


#tabs-4 span.forminput {
    clear: both;
    margin: 2px;
}


/*  CreateSalesInvoiceDetails / Details part table */
#CreateSalesInvoiceDetails label {
    float: left;
	display: block;
	font-size: 1em;
	font-weight: bold;
	color: #6c6c6c;
    width: 120px;
}

#SalesInvoices
{
    border-width: 1px;
    border-color: #C0C0C0;
    width: 125px !important;
    font-size: 1.3em;
    padding: 5px 5px;
    line-height: 1.25em;
    border-left-style: solid;
    border-bottom-style: none;
    height: 508px;
}






ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px; /*--Set height of tabs--*/
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: #f0f0f0;
}
ul.tabs li a {
	text-decoration: none;
	color: 	#004276;
	display: block;
	font-size: 1.1em;
    font-weight: bold;
	padding: 0 20px;
	border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
}
ul.tabs li a:hover {
	background: #ccc;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #fff;
	border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with its content--*/
}

.tab_container {
	border: 1px solid #999;
	border-top: none;
    border-bottom: none;
	
	overflow: hidden;
	clear: both;
	float: left; width: 100%;
	background: #fff;
}
.tab_content {
	padding: 8px;
	/*font-size: 1.2em;*/
}

input.maskedRegNumber
{
    text-transform: uppercase;
}



table.gridtable
{
    font-family: verdana,arial,sans-serif;
    font-size: 9px;
    color: #333333;
    border-width: 11px;
    border-color: #666666;
    border-collapse: collapse;
    width: 100%;
}
table.gridtable th
{
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}
table.gridtable td
{
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}

table.gridtable tr:hover th[scope=row], table.gridtable tr:hover td
{
    background-color: #dedede;
}


/*------------ Clickable Table Row Styling ----------*/
table.selectableGrid {
    border-collapse: collapse;   
    border-style: solid;
    border-width: 1px;
}
.selectableGrid th {    
    background-color: #000000;
    color: White;
}

.selectableGrid tr {    
    border-top: 0px solid #fff;
}


.selectableGrid td {
    padding: 3px 5px;
}
.selectableGrid tr.selectableGridItem td:hover {
    cursor: pointer;
}

.selectableGrid thead tr th a:link,.selectableGrid thead tr th a:visited {
    color: White;
}

.xselectableGrid tr 
{
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 8pt; 
    font-weight: normal; 
    color: #000000;
}

/* line 136, ../src/screen.scss */
.selectableGrid tr.odd {
  background-color: #ccc;
}
/* line 139, ../src/screen.scss */
.selectableGrid tr.even {
  background-color: #ddd;
}

tr.selectableGridItem:hover
{
    background-color: #33CCFF;
}

#caseDetail
{    
    position: absolute;
    top: 200px;
    left: 30px;
    /*right: 50px;*/
    width: 100%;    
    background-color: #fff;
    display: none;
    max-width: 580px;

    /*min-height: 545px;*/
}

#innerCaseDetail
{
    border: 3px solid #333333;
    position: relative;
    width: 100%;
    /*height: 50%;*/
    /*min-height: 545px;*/
    background-color: #fff;        
    max-width: 580px;
}

#ajaxMessages
{
    text-align: center;
    width: 100%;    
    margin: 20px;    
}

#loadingText span
{    
    font-size: 120%;
    font-weight: bold;
    text-decoration: none;
}

#ajaxContent
{
    border: 3px solid #333333;
    position: absolute;
    left: 30px;
    top: 200px;
    /*right: 3px;*/
    width: 100%;    
    background-color: #fff;
    display: none;
    /*min-height: 545px;*/
    max-width: 580px;
    
}

.btn{
    font-size:12px;
    font-weight:bold;
    width:110px;
    height:20px;
    text-align:center;
    padding-bottom:3px;
    background-color:#EEEEEE;
    border-style:solid;
    border-color:#000000;
    border-width:1px;  
}









/* FROM DEFAULT */
#pageWrapper, .pageWrapper {
    clear: left;
    float: none;
    margin: 0 auto;
    padding: 0;
    text-align: left;
    width: 970px;
}
#contentWrapper {
    display: block;
    float: left;
    margin-bottom: 20px;
    overflow: visible;
    width: 100%;
}
#homePagePrimaryContentWrapper {
    float: left;
    width: 100%;
}
#homePageSecondaryContentWrapper {
    float: left;
    width: 100%;
}
#primaryContentWrapper {
    float: left;
    margin-bottom: 20px;
    margin-right: 10px;
    overflow: visible;
    width: 650px;
}
#secondaryContentWrapper {
    clear: none;
    float: left;
    width: 300px;
}
#signInAndBS {
    background: none repeat scroll 0 0 #F5F5F5;
    float: left;
    margin: 5px 0 0;
    padding: 5px;
    width: 100%;
}
select.invalid {
    background: none repeat scroll 0 0 #FAE3E3;
    border: 1px solid #E8C9C9;
}
input.invalid {
    background: none repeat scroll 0 0 #FAE3E3;
    border: 1px solid #E8C9C9;
}
span.invalid {
    border: medium none;
    color: #CC0000;
    display: block;
    float: left;
    font-weight: bold;
    width: 100%;
}
.errorBox {
    background: none repeat scroll 0 0 #FAE3E3;
    color: #CC0000;
    display: block;
    float: left;
    font-size: 0.9em;
    width: 100%;
}
.infoBox {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 5px solid #EFEFEF;
    display: block;
    float: left;
    margin: 0 0 10px;
    width: 630px;
}
.infoCell {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 5px solid #EFEFEF;
    display: block;
    float: left;
    margin: 10px 0 0;
    padding: 5px;
    width: 100%;
}
.legalBox {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 5px solid #CC0000;
    display: block;
    float: left;
    margin: 0 0 10px;
    width: 630px;
}
.legalBox p {
    color: #505050;
    display: block;
    float: left;
    padding: 10px;
    width: 100%;
}
.infoBox p {
    color: #505050;
    display: block;
    float: left;
    font-size: 0.9em;
    padding: 10px;
    width: auto;
}
.redundant {
    display: none;
}
.scrollBox {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 5px solid #EFEFEF;
    font-size: 0.9em;
    line-height: 1.5;
    margin: 10px 0;
    padding: 10px 0 10px 10px;
}
span.error {
    color: #CC0000;
    display: block;
    float: left;
    font-weight: bold;
    margin: 10px 0;
    width: 100%;
}
.hidden {
    font-size: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
    width: 0;
}
.noDisplay {
    display: none;
}
.centeredContent {
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    width: auto;
}
div.buttonRow {
    float: left;
    margin: 20px 0 0;
    width: 100%;
}
td.buttonRow {
    padding-top: 20px;
}
.primaryButton {
    background: url("/assets/build/core/sprites/sprites_main.png") no-repeat scroll left -3000px transparent;
    display: block;
    float: left;
    padding: 0 0 0 15px;
    width: auto;
}
.primaryButton a:link, .primaryButton a:visited, .primaryButton a:hover {
    background: url("/assets/build/core/sprites/sprites_main.png") no-repeat scroll right -3150px transparent;
    clear: none;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 1.3em;
    font-style: italic;
    font-weight: bold;
    padding: 8px 40px 9px 0;
    text-decoration: none;
}
.primaryButtonDown {
    background: url("/assets/build/core/sprites/sprites_main.png") no-repeat scroll left -3000px transparent;
    display: block;
    float: left;
    padding: 0 0 0 15px;
    width: auto;
}
.primaryButtonDown a:link, .primaryButtonDown a:visited, .primaryButtonDown a:hover {
    background: url("/assets/build/core/sprites/sprites_main.png") no-repeat scroll right -3100px transparent;
    clear: none;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 1.3em;
    font-style: italic;
    font-weight: bold;
    padding: 8px 40px 9px 0;
    text-decoration: none;
}
.secondaryButton {
    background: url("/assets/build/core/sprites/sprites_main.png") no-repeat scroll left -3150px transparent;
    display: block;
    float: right;
    padding: 0 4px 4px 10px;
    width: auto;
}
.secondaryButton a:link, .secondaryButton a:visited, .secondaryButton a:hover {
    background: url("/assets/build/core/sprites/sprites_main.png") no-repeat scroll right -3200px transparent;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
    padding: 4px 30px 9px 0;
    text-decoration: none;
    width: auto;
}
.secondaryButtonSI {
    background: url("/assets/build/core/sprites/sprites_main.png") no-repeat scroll left -3150px transparent;
    display: block;
    float: right;
    padding: 0 4px 4px 10px;
    width: auto;
}
.secondaryButtonSI a:link, .secondaryButtonSI a:visited, .secondaryButtonSI a:hover {
    background: url("/assets/build/core/sprites/sprites_main.png") no-repeat scroll right -3200px transparent;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
    padding: 3px 20px 9px 0;
    text-decoration: none;
    width: auto;
}
.secondaryButtonBack {
    background: url("/assets/build/core/sprites/sprites_main.png") no-repeat scroll left -3350px transparent;
    display: block;
    float: left;
    padding: 0 4px 4px 18px;
    width: auto;
}
.secondaryButtonBack a:link, .secondaryButtonBack a:visited, .secondaryButtonBack a:hover {
    background: url("/assets/build/core/sprites/sprites_main.png") no-repeat scroll right -3400px transparent;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
    padding: 4px 15px 9px 2px;
    text-decoration: none;
    width: auto;
}
a.helpLink {
    overflow: hidden;
}
a.helpLink:link, a.helpLink:visited {
    background: url("/assets/build/core/sprites/sprites_main.png") no-repeat scroll 5px -1000px transparent;
    line-height: 2em;
    padding: 0 10px 5px 25px;
}
a.helpLink:hover {
    background: url("/assets/build/core/sprites/sprites_main.png") no-repeat scroll 5px -1050px transparent;
    line-height: 2em;
    padding: 0 10px 5px 25px;
}
.logo {
    border: medium none;
    display: block;
    float: left;
    height: 80px;
    overflow: hidden;
    padding: 0;
    width: 144px;
}
#langSelectWrapper {
    float: right;
    height: 20px;
    margin: 20px 0 10px;
    padding: 0 10px 0 0;
    width: 600px;
}
#langSelect {
    float: right;
    width: auto;
}
#langSelect select {
    font-size: 90%;
}
#headerLinksWrapper {
    display: block;
    float: right;
    font-size: 0.9em;
    width: 800px;
}
#headerLinks {
    float: right;
    padding: 0 5px 0 0;
    width: auto;
}
#headerLinks a:link, #headerLinks a:visited {
    color: #F5F5F5;
    text-decoration: none;
}
#headerLinks a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}
#headerLinks li {
    display: block;
    float: left;
    padding: 5px;
    width: auto;
}
#primaryNav {
    background: url("/assets/build/core/sprites/gradients.png") repeat-x scroll left -100px #505050;
    display: block;
    float: left;
    margin: 5px 0 0;
    width: 100%;
}
#primaryNav a {
    font-weight: normal;
}
#primaryNav a:link, #primaryNav a:visited {
    background: url("/assets/build/core/sprites/sprites_main.png") no-repeat scroll right -2050px transparent;
    color: #D9D9D9;
    display: block;
    float: left;
    height: 100%;
    padding: 0 10px;
    text-decoration: none;
}
#primaryNav a:hover {
    background: url("/assets/build/core/sprites/sprites_main.png") no-repeat scroll right -2000px transparent;
    color: #D9D9D9;
    display: block;
    float: left;
    height: 100%;
    padding: 0 10px;
    text-decoration: none;
}
#primaryNav ul {
    float: left;
    width: 100%;
}
#primaryNav li {
    clear: none;
    float: left;
    height: 40px;
    line-height: 36px;
    width: auto;
}
.sepWide {
    background: url("/assets/build/core/contentSepWide.jpg") repeat-x scroll left bottom transparent;
    clear: left;
    display: block;
    height: 10px;
    margin: 5px 0 10px;
    padding: 5px 0 0;
    width: 100%;
}
.mandatory {
    color: #CC0000;
    font-weight: bold;
}
.inputNote {
    color: #383838;
    font-size: 0.9em;
}
#siWrapper {
    background: none repeat scroll 0 0 #F0F0F0;
    clear: left;
    float: left;
    margin: 0;
    width: 100%;
}
#siHeader {
    background: none repeat scroll 0 0 #303030;
    float: left;
    width: 100%;
}
#siTitle {
    color: #FFFFFF;
    float: left;
    font-size: 1.1em;
    font-weight: bold;
    padding: 5px;
}
#siCreateAccount a {
    clear: none;
    float: right;
    font-size: 0.85em;
    font-weight: normal;
    padding: 5px;
}
#siCreateAccount a:link, #siCreateAccount a:visited {
    color: #CCCCCC;
}
#siCreateAccount a:hover {
    color: #FFFFFF;
}
.siInstruct {
    color: #505050;
    float: left;
    font-size: 0.9em;
    padding: 5px;
}
.siOptionsRow {
    clear: left;
    display: block;
    font-size: 0.9em;
    font-weight: bold;
    padding: 5px 5px 10px;
}
.siOptionsRow input {
    clear: left;
    display: block;
    float: left;
    margin: 0 10px 0 0;
    padding: 0 0 5px;
    text-align: left;
}
.siOptionsRow label {
    display: block;
    float: left;
    padding: 0 0 5px;
    width: 80%;
}
.siInputRowRight {
    clear: none;
    float: left;
}
.siInputRow {
    clear: left;
    font-size: 0.9em;
    padding: 5px;
    width: 290px;
}
.siInputRow label {
    float: left;
    font-weight: bold;
    text-align: left;
    width: 100px;
}
.siInputRow input {
    width: 165px;
}
.siInputRow.invalid span {
    padding-left: 100px;
}
#siFooter {
    display: block;
    float: left;
    width: 100%;
}
#siFooter .secondaryButton {
    float: right;
    padding-right: 10px;
}
.siCancel {
    display: block;
    float: left;
    font-size: 0.9em;
    padding: 5px 0 0 5px;
}
#signInLoggedInBody {
    font-size: 0.9em;
    margin: 0 0 5px;
    padding: 5px;
}
#signInLoggedInBody a {
    display: block;
    float: left;
    padding: 5px 0;
}
#siWrapper .warning {
    clear: left;
    color: #CC0000;
    float: left;
    padding: 5px;
    width: 280px;
}
#signInLoggedInBody .loyaltyAccountLink {
}
#signInLoggedInBody .signOutLink {
    float: right;
}
#bsWrapper {
    clear: left;
    float: left;
    margin: 5px 0 0;
    width: 100%;
}
#bsHeader {
    background: none repeat scroll 0 0 #CC0000;
    float: left;
    height: 28px;
    width: 100%;
}
#bsHeaderText {
    color: #FFFFFF;
    float: left;
    font-weight: bold;
    padding: 5px;
}
.bsSectionTitle {
    color: #303030;
    display: block;
    float: left;
    font-weight: bold;
    padding: 0 0 0 5px;
    text-transform: uppercase;
}
.bsSectionHeader {
    float: left;
    padding: 0 0 5px;
    width: 100%;
}
#bsWhenAndWhere, #bsCarChoice, #bsExtras, #bsCheckout {
    background: url("/assets/build/core/sprites/sprites_main.png") no-repeat scroll right -1000px #FFFFFF;
    float: left;
    padding: 5px 0 0;
    width: 100%;
}
#bsWhenAndWhere .itemContainer {
    clear: left;
    float: left;
    font-size: 0.9em;
    padding: 5px 0;
    width: 100%;
}
#bsWhenAndWhere .itemLabel {
    color: #999999;
    float: left;
    padding: 0 0 0 5px;
    width: 100px;
}
#bsWhenAndWhere .itemContent {
    clear: none;
    float: left;
    width: 180px;
}
#bsWhenAndWhere .warning {
    clear: left;
    color: #CC0000;
    float: left;
    padding: 5px;
    width: 280px;
}
#bsCarChoice {
    font-size: 1em;
}
#bsCarChoice .vehicleImage {
    float: left;
    height: 85px;
    width: 130px;
}
#bsCarChoice .vehicleDetails {
    float: left;
    padding: 5px;
    width: 150px;
}
#bsCarChoice .rentalConditions {
    display: block;
    float: left;
    padding: 5px 0;
    width: 135px;
}
#bsCarChoice .warning {
    background: none repeat scroll 0 0 #FAE3E3;
    clear: left;
    color: #CC0000;
    float: left;
    font-size: 0.9em;
    margin: 5px 5px 0;
    padding: 5px;
    width: 280px;
}
#bsCarChoice .fiGroup {
    font-weight: bold;
}
#bsCarChoice .fiSize {
    font-weight: bold;
}
#bsCarChoice .fiVehicleName {
    font-weight: normal;
}
#bsExtras .detailsContainer {
    float: left;
    font-size: 0.9em;
    padding: 5px;
    width: 290px;
}
#bsExtras .detailsContainer table {
    display: block;
    float: left;
    width: 100%;
}
#bsExtras td {
    padding: 2px;
    width: 100%;
}
#bsExtras .headerDetail {
    color: #F5F5F5;
    padding: 2px;
    text-align: left;
    text-transform: uppercase;
}
#bsExtras .headerPrimaryValue, #bsExtras .headerSecondaryValue {
    color: #F5F5F5;
    padding: 2px 0;
    text-align: right;
    width: 22%;
}
#bsExtras .itemValue {
    padding-left: 2px;
    text-align: right;
}
#bsExtras .warning {
    clear: left;
    color: #CC0000;
    font-size: 0.9em;
    font-weight: bold;
    padding: 5px;
    width: 280px;
}
#bsExtras .totalRow {
    background-color: #F0F0F0;
    font-weight: bold;
    padding: 2px;
}
#bsExtras .singleCurrencyLayout .headerSecondaryValue {
    width: 0;
}
#bsExtras .multiCurrencyLayout .headerSecondaryValue {
    width: 22%;
}
#bsExtras .notes {
    background: none repeat scroll 0 0 #EFEFEF;
    display: block;
    float: left;
    font-size: 0.9em;
    margin: 0 5px 5px;
    padding: 5px;
}
.bsSectionFooter {
    background: url("/assets/build/core/sprites/sprites_main.png") no-repeat scroll left -1890px #FFFFFF;
    float: left;
    height: 10px;
    width: 100%;
}
#bsCheckout .bsSectionFooter {
    background: none repeat scroll 0 0 transparent;
}
#bsCheckout a {
    float: right;
    font-size: 0.9em;
    margin: 0 5px 0 0;
}
.stepIndicator {
    background: url("/assets/build/core/sprites/sprites_main.png") no-repeat scroll left -2550px transparent;
    color: #303030;
    float: left;
    font-weight: bold;
    height: 22px;
    line-height: 22px;
    padding-left: 5px;
    width: 22px;
}
.stepIndicatorCurrent {
    background: url("/assets/build/core/sprites/sprites_main.png") no-repeat scroll left -2500px transparent;
    color: #FFFFFF;
    float: left;
    font-weight: bold;
    height: 22px;
    line-height: 22px;
    padding-left: 5px;
    width: 22px;
}
.bsChangeLink {
    display: block;
    float: right;
    font-size: 0.8em;
    font-weight: bold;
    height: 20px;
    padding-right: 5px;
}
.bsChangeLink a:link, .bsChangeLink a:visited {
    color: #303030;
    text-decoration: underline;
}
.bsChangeLink a:hover {
    color: #CC0000;
    text-decoration: underline;
}
#bpWrapper {
    background: none repeat scroll 0 0 #E8E8E8;
    clear: right;
    float: left;
    font-size: 0.9em;
    margin: 5px 0 10px;
    width: 650px;
}
#bpWrapper ul {
    float: left;
    height: 26px;
    line-height: 26px;
    width: 100%;
}
.WhenAndWhere {
    background: url("/assets/build/core/sprites/sprites_main.png") no-repeat scroll left -1500px transparent;
}
.YourCarChoice {
    background: url("/assets/build/core/sprites/sprites_main.png") no-repeat scroll left -1526px transparent;
}
.PriceAndExtras {
    background: url("/assets/build/core/sprites/sprites_main.png") no-repeat scroll left -1552px transparent;
}
.Checkout {
    background: url("/assets/build/core/sprites/sprites_main.png") no-repeat scroll 0 -1578px transparent;
}
#bpWrapper li {
    clear: none;
    display: block;
    float: left;
    padding: 5px 0;
    width: 162px;
}
#bpWrapper em {
    font-size: 1.2em;
    font-style: normal;
    font-weight: bold;
    padding: 0 0 0 5px;
}
.bpItem {
    color: #303030;
}
.bpCurrent {
    color: #FFFFFF;
}
#footerWrapper {
    background: url("/assets/build/core/sprites/gradients.png") repeat-x scroll left bottom #383838;
    display: block;
    float: left;
    margin: 20px 0 0;
    overflow: visible;
    width: 100%;
}
#footerLinksWrapper {
    display: block;
    float: left;
    padding: 10px;
}
#footerLinksWrapper .links {
    display: block;
    float: left;
    font-size: 0.9em;
    width: 950px;
}
#footerLinksWrapper .links li {
    display: block;
    float: left;
    padding: 2px 0;
    width: 20%;
}
#footerLinksWrapper .links li a {
    display: block;
    float: left;
}
#footerLinksWrapper a:link, #footerLinksWrapper a:visited {
    color: #F5F5F5;
    text-decoration: none;
}
#footerLinksWrapper a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}
#footerCopyright {
    color: #CCCCCC;
    display: block;
    float: left;
    font-size: 0.9em;
    padding: 0 10px;
    text-align: left;
    width: auto;
}
#footerCopyright a:link, #footerCopyright a:visited {
    color: #CCCCCC;
    font-weight: normal;
}
#footerCopyright a:hover {
    color: #FFFFFF;
    font-weight: normal;
}
#footerLower {
    background: url("/assets/build/core/wthGeneric.jpg") no-repeat scroll right bottom transparent;
    display: block;
    float: left;
    height: 120px;
    width: 100%;
}
#secondaryNavWrapper {
    background: none repeat scroll 0 0 #F5F5F5;
    display: block;
    float: left;
    font-size: 0.9em;
    margin: 0 0 10px;
    width: 100%;
}
#secondaryNavWrapper ul {
    clear: left;
    display: block;
    float: left;
    margin: 0;
    overflow: hidden;
    padding: 5px;
    width: auto;
}
#secondaryNavWrapper ul li {
    border-right: 1px solid #CCCCCC;
    clear: none;
    display: block;
    float: left;
    margin: 0 5px 0 0;
    padding: 0 5px 0 0;
    white-space: nowrap;
}
#secondaryNavWrapper ul li a:link, #secondaryNavWrapper ul li a:visited {
    color: #303030;
    font-weight: normal;
    text-decoration: none;
}
#secondaryNavWrapper ul li a:hover {
    color: #CC0000;
    font-weight: normal;
    text-decoration: underline;
}
.modalBackground {
    background-color: #303030;
    height: 2000px !important;
    opacity: 0.7;
    position: fixed;
    width: 100%;
}
#cmsSearchBar {
    background: none repeat scroll 0 0 #F5F5F5;
    clear: left;
    margin-bottom: 10px;
    padding: 10px 10px 10px 5px;
    width: 640px;
}
#cmsSearchBar .label {
    margin-left: 2px;
}
.cmsTable {
    display: block;
    float: left;
    width: 100%;
}
.searchResultsGroup {
    color: #CC0000;
    float: left;
    font-weight: bold;
    margin: 10px 0 0;
}
.searchResults {
    clear: left;
    font-size: 0.9em;
    margin: 10px 0 0;
    padding: 0;
    width: 100%;
}
.searchResults li {
    background: url("/assets/build/core/carGrey.gif") no-repeat scroll left center transparent;
    clear: none;
    float: left;
    line-height: 1.5;
    margin: 0;
    padding: 0 0 0 16px;
    width: 45%;
}
h2.sitemap {
    background: none repeat scroll 0 0 #F0F0F0;
    border: medium none;
    border-collapse: collapse;
    color: #303030;
    font-size: 1.1em;
    font-weight: bold;
    margin: 10px 0 0;
    padding: 5px;
    width: 100%;
}
h3.sitemap {
    background: none repeat scroll 0 0 #F5F5F5;
    border: medium none;
    border-collapse: collapse;
    color: #303030;
    font-size: 1em;
    font-weight: bold;
    margin: 0 0 10px;
    padding: 5px;
    width: 100%;
}
table.sitemap {
    font-size: 0.9em;
}
table.sitemap td {
    width: 25%;
}
td.sitemapIndex {
    background: none repeat scroll 0 0 #EEEEEE;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 0 2px 0 0;
    padding: 2px 5px;
    text-align: center;
}
td.sitemapIndex a:link, td.sitemapIndex a:visited {
    text-decoration: none;
}
td.sitemapIndex a:hover {
    text-decoration: underline;
}
a.sitemap {
    background: url("/assets/build/core/bulletGrey.jpg") no-repeat scroll left center transparent;
    padding: 0 0 0 16px;
}
.options input {
    float: left;
    margin-right: 5px;
}
#ppWrapper {
    float: left;
    font-size: 12px !important;
    margin: 10px 0;
    width: 100%;
}
#ppTabsWrapper {
    float: left;
    font-size: 0.9em;
    font-weight: bold;
    height: 25px;
    width: 100%;
}
#ppTabsWrapper h2 {
    font-size: 1.1em;
    line-height: 1em;
    padding: 0 0 0 12px;
    width: auto;
}
#ppTabsWrapper h2.ppTabCurrent {
    background: url("/assets/build/core/sprites/sprites_main.png") no-repeat scroll left -700px #990000;
    clear: none;
    float: left;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    margin: 0 3px 0 0;
}
#ppTabsWrapper h2.ppTabCurrent span {
    background: url("/assets/build/core/sprites/sprites_main.png") no-repeat scroll right -750px transparent;
    clear: none;
    color: #FFFFFF;
    float: left;
    height: 25px;
    line-height: 25px;
    padding: 0 16px 0 0;
}
#ppTabs {
    clear: none;
    float: left;
    font-size: 1.1em;
    height: 100%;
    width: auto;
}
#ppTabs li {
    background: url("/assets/build/core/sprites/sprites_main.png") no-repeat scroll left -800px #CCCCCC;
    clear: none;
    color: #303030;
    float: left;
    font-weight: normal;
    height: 25px;
    line-height: 25px;
    margin: 0 3px 0 0;
    padding: 0 0 0 10px;
}
#ppTabs li span {
    background: url("/assets/build/core/sprites/sprites_main.png") no-repeat scroll right -850px transparent;
    clear: none;
    float: left;
    height: 25px;
    line-height: 25px;
    padding: 0 10px 0 0;
}
#ppTabs li.ppTabCurrent {
    background: url("/assets/build/core/sprites/sprites_main.png") no-repeat scroll left -800px #CC0000;
    clear: none;
    float: left;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    padding: 0 0 0 10px;
}
#ppTabs li.ppTabCurrent span {
    background: url("/assets/build/core/sprites/sprites_main.png") no-repeat scroll right -850px transparent;
    clear: none;
    color: #FFFFFF;
    float: left;
    height: 25px;
    line-height: 25px;
    padding: 0 10px 0 0;
}
#ppPanelWrapper {
    background: none repeat scroll 0 0 #F0F0F0;
    float: left;
    font-size: 0.9em;
    min-height: 325px;
    padding: 20px 5px 5px;
    width: 637px;
}
#ppLocationSearchLeft {
    float: left;
    width: 430px;
}
#ppLocationSearchRight {
    clear: none;
    float: left;
    width: auto;
}
#ppPanelWrapper select, #ppPanelWrapper input, #ppPanelWrapper option {
    font-size: 1.1em;
}
#mppAWDWrapper select {
    font-size: 1em;
    width: 290px;
}
#mppLocationWrapper select {
    width: 290px;
}
#ppPanelWrapper input {
    padding: 0;
}
#ppTripWrapper {
    background: url("/assets/build/core/ppSeparator.jpg") no-repeat scroll center bottom transparent;
    float: left;
    margin: 0 0 15px;
    padding: 0 0 15px;
    width: 100%;
}
#ppDates {
    float: left;
    position: relative;
    width: 100%;
}
#tripDates {
    float: left;
    width: 470px;
}
.tripDatesRow {
    display: block;
    float: left;
    margin: 0 0 5px;
    padding: 0;
    width: 470px;
}
.tripDatesLeft {
    float: left;
    font-weight: bold;
    padding: 0 5px 0 0;
    text-align: right;
    width: 180px;
}
.tripDatesRight {
    float: left;
    font-weight: bold;
    padding-bottom: 5px;
    width: auto;
}
input.tripDate {
    font-size: 1em;
    width: 250px;
}
.rentalStartDateTime {
    display: block;
    float: left;
}
.rentalEndDateTime {
    display: block;
    float: left;
}
#tripDays {
    clear: none;
    float: left;
    padding: 35px 0 0 5px;
    width: 130px;
}
#tripDays .tripDaysLeft {
    float: left;
    width: auto;
}
#divTotalDays {
    clear: none;
    float: left;
    font-size: 1.3em;
    font-weight: bold;
    padding: 0 0 0 5px;
    position: relative;
    top: -3px;
}
.validator {
    line-height: 0;
    margin: 0;
    padding: 0;
}
.validatorLeft {
    border: 1px solid #F0F0F0;
    float: left;
    line-height: 0;
    margin: 0;
    padding: 0;
    text-align: right;
    width: 185px;
}
.validatorRight {
    border: 1px solid #F0F0F0;
    clear: none;
    float: left;
    line-height: 0;
    margin: 0;
    padding: 0;
    width: 250px;
}
.validatorRight span.invalid {
    float: left;
    line-height: 1.4em;
    padding: 0;
    width: 100%;
}
#ppLocationSearchWrapper {
    background: url("/assets/build/core/ppSeparator.jpg") no-repeat scroll center bottom transparent;
    float: left;
    margin: 0 0 15px;
    padding: 0 0 15px;
    width: 100%;
}
#ppLocationSearch {
    float: left;
    width: 420px;
}
#ppLocationSearch select {
    width: 235px;
}
#ppLocationSearch input {
    width: 231px;
}
#ppLocationSearchReturn {
    display: block;
    float: left;
    width: 420px;
}
#ppLocationSearchReturn select {
    margin: 0;
    width: 235px;
}
#ppLocationSearchReturn input {
    width: 231px;
}
#ppLocationSearchSame {
    width: 420px;
}
#jqStationDetailsTemplate {
}
.jqStationDetailsFlyout {
    font-size: 0.9em;
    overflow: visible;
    position: absolute;
    width: 280px;
    z-index: 6 !important;
}
.jqPickUpFlyout {
    margin: 195px 0 0 551px;
}
.jqReturnFlyout {
    margin: 281px 0 0 551px;
}
.jqReturnToSameLocation {
}
.ui-menu-item {
    text-align: left;
}
.ie6Wrapper {
    left: 551px;
    position: relative;
    top: -151px;
}
.ie6Wrapper .jqStationDetailsFlyout {
    margin: 0;
}
.ie6Wrapper .jqStationDetailsFlyout .jqReturnFlyout {
    margin: 350px 0 0 551px !important;
}
.ie7Wrapper {
    left: 0;
    position: relative;
    top: 203px;
}
.ie7Wrapper .jqStationDetailsFlyout {
    margin: 0 0 0 -99px;
    padding: 0;
}
.ie7Wrapper .jqPickUpFlyout {
    margin: 1px 0 0 -99px;
}
.ie7Wrapper .jqReturnFlyout {
    margin: 73px 0 0 -99px;
}
.ppWorldSearchWrapper {
    background: url("/assets/build/core/sprites/sprites_main.png") no-repeat scroll 5px -2185px transparent;
    border: 1px solid #F0F0F0;
    border-radius: 5px 5px 5px 5px;
    float: left;
    font-size: 1em;
    margin: 0;
    padding: 5px 5px 10px;
    position: relative;
    top: -6px;
    width: 185px;
}
.ppWorldSearchWrapperHighlight {
    background: url("/assets/build/core/sprites/sprites_main.png") no-repeat scroll 5px -2185px #C0E0EB;
    border: 1px solid #9EC8D7;
    border-radius: 5px 5px 5px 5px;
    clear: none;
    float: left;
    font-size: 1em;
    margin: 0;
    padding: 5px 5px 10px;
    position: relative;
    top: -6px;
    width: 185px;
}
#ppWwsLogoLink {
    display: block;
    float: left;
    height: 50px;
    text-indent: -9999px;
    width: 40px;
}
.ppWorldSearchWrapper p {
    margin: 0;
    padding: 0;
    width: 140px;
}
#ppAWDWrapper {
    float: left;
    width: 380px;
}
#ppGetQuoteWrapper {
    clear: none;
    float: right;
    text-align: right;
    width: auto;
}
.ppRow {
    float: left;
    margin: 0 0 10px;
}
.ppLabel {
    float: left;
    padding: 3px 5px 0 0;
    text-align: right;
    width: 180px;
}
.ppElement {
    clear: none;
    float: left;
    padding: 0;
    width: 230px;
}
#ppAWDWrapper .ppElement {
    clear: none;
    float: left;
    padding: 0;
    width: 180px;
}
.ppAWDInput {
    width: 60px;
}
#ppWrapper option {
}
.ppSignInWrapper {
    background: url("/assets/build/core/ppSeparator.jpg") no-repeat scroll center bottom transparent;
    float: left;
    margin: 0 0 15px;
    padding: 0 0 15px;
    width: 100%;
}
.ppSignInWrapper .siInputRow {
    float: left;
    font-size: 1em;
    padding: 3px 5px 0 0;
    width: 100%;
}
.ppSignInWrapper .siInputRow label {
    float: left;
    padding: 3px 5px 0 0;
    text-align: right;
    width: 180px;
}
.ppSignInWrapper .siInputRowRight {
    clear: none;
    float: left;
    width: auto;
}
.ui-autocomplete {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #7F9DB9;
    display: block;
    float: left;
    font-weight: normal;
    max-height: 431px;
    min-height: 67px;
    overflow: auto;
    padding: 5px;
    width: 350px;
}
.ui-autocomplete ul {
    float: left;
    min-height: 100px;
    width: 100%;
}
.ui-autocomplete li {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    font-size: 0.9em;
    line-height: 1.5em;
    width: 100%;
}
.lsLocationType {
    clear: none;
    display: block;
    float: left;
    height: 1em;
    padding: 0 0 0 2px;
    text-align: left;
    width: 18px !important;
}
.lsOpenOrClosed {
    clear: none;
    display: block;
    float: left;
    height: 1em;
    margin: 0 3px 0 0;
    width: 18px !important;
}
.ui-autocomplete a {
    display: block;
    font-weight: normal;
    padding: 4px 0 4px 2px;
    width: 100%;
}
.ui-autocomplete li:nth-child(2n+1) {
    background: none repeat scroll 0 0 #F9F9F9;
}
.ui-autocomplete li.disabled {
    color: #CCCCCC;
}
.ui-autocomplete #ui-active-menuitem {
    background: none repeat scroll 0 0 #303030;
    color: #F5F5F5;
    font-weight: normal;
}
.primaryButton {
    background: url("/assets/build/core/sprites/sprites_main.png") no-repeat scroll left -3000px transparent;
    display: block;
    float: left;
    padding: 0 0 0 15px;
    width: auto;
}
.primaryButton a:link, .primaryButton a:visited, .primaryButton a:hover {
    background: url("/assets/build/core/sprites/sprites_main.png") no-repeat scroll right -3050px transparent;
    clear: none;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 1.4em;
    font-style: italic;
    font-weight: bold;
    padding: 9px 40px 10px 0;
    text-decoration: none;
}
.station {
    background: url("/assets/build/core/iconCar.gif") no-repeat scroll 5px 11px transparent;
    padding-left: 16px;
}
.downtown {
    background: url("/assets/build/core/iconBuilding.gif") no-repeat scroll 5px 11px transparent;
    padding-left: 16px;
}
.airport {
    background: url("/assets/build/core/iconPlane.gif") no-repeat scroll 5px 11px transparent;
    padding-left: 16px;
}
.trainstation {
    background: url("/assets/build/core/iconTrain.gif") no-repeat scroll 5px 11px transparent;
    padding-left: 16px;
}
#smSharingWrapper {
    float: left;
    margin: 10px 0 0;
    overflow: visible;
    width: 290px;
}
#smSharingHeader {
    float: left;
    margin: 0;
    width: 290px;
}
#smSharingTitle {
    background: none repeat scroll 0 0 #303030;
    color: #F5F5F5;
    float: left;
    font-size: 1.1em;
    font-weight: bold;
    margin: 0 0 10px;
    padding: 5px;
    width: 100%;
}
#smSharingContent {
    float: left;
    padding: 5px;
    width: 290px;
}
#smTwitterWrapper {
    float: left;
    margin: 0 5px 0 0;
}
#smGoogleWrapper {
    float: left;
    margin: 0 5px 0 0;
}
#smFacebookWrapper {
    clear: none;
    float: left;
    overflow: visible;
    position: relative;
    width: 60px;
}
.fb-like {
    position: absolute;
    z-index: 5 !important;
}
#fb-root {
}
#smFollowWrapper {
    background: url("/assets/build/core/contentSepWide.jpg") no-repeat scroll center top transparent;
    float: left;
    margin: 10px 0 0;
    padding: 40px 0 0;
    width: 100%;
}
#smFollowWrapper a {
    margin: 0 5px 0 0;
}
#homePageSocialFollow {
    float: left;
    width: 100%;
}
#CCIFrame {
    display: none;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 10099;
}
#CC {
    background: none repeat scroll 0 0 #FFFFFF;
    display: none;
    font-size: 0.9em;
    margin: 0 0 0 200px;
    padding: 0;
    position: absolute;
    z-index: 10100;
}
#CC table {
    font-family: Arial;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100px;
}
.calMonth {
    border: 1px solid #303030;
}
#CC th {
    background: none repeat scroll 0 0 #505050;
    color: #FFFFFF;
    font-size: 0.8em;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 18px;
}
#CC th a {
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
#CC .title {
    background: none repeat scroll 0 0 #303030;
    color: #FFFFFF;
    font-size: 0.9em;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
}
#CC .previous {
    text-align: center;
}
#CC .next {
    text-align: center;
}
#CC .previous, #CC .next {
    background: none repeat scroll 0 0 #303030;
    border: medium none;
    height: 16px;
    margin: 0;
    padding: 0;
    vertical-align: top;
    width: 18px;
}
#CC .previous img, #CC .next img {
    border: medium none;
    margin: 0;
    padding: 0;
    vertical-align: top;
    width: 18px;
}
#CC .header {
    background: none repeat scroll 0 0 #CC0000;
    color: #FFFFFF;
}
#CC td {
    color: #505050;
    font-size: 0.8em;
    height: 20px;
    margin: 1px 1px 0 0;
    padding: 0;
    text-align: center;
    vertical-align: top;
    width: 18px;
}
#CC .weekday, #CC .weekend, #CC .current {
    display: block;
    font-weight: bold;
    height: 18px;
    line-height: 18px;
    margin: 1px 1px 0 0;
    text-decoration: none;
    width: 18px;
}
#CC .weekday {
    background: none repeat scroll 0 0 #E8E8E8;
    border: 1px solid #CCCCCC;
    color: #505050;
    margin: 1px 1px 0 0;
    padding: 0;
}
#CC .weekend {
    background: none repeat scroll 0 0 #F0F0F0;
    border: 1px solid #E8E8E8;
    color: #505050;
    margin: 1px 1px 0 0;
    padding: 0;
    width: 18px;
}
#CC .current {
    background: none repeat scroll 0 0 #CC0000;
    border: 1px solid #990000;
    color: #FFFFFF;
    margin: 1px 1px 0 0;
}
#CC .weekday:hover, #CC .weekend:hover, #CC .current:hover {
    background: none repeat scroll 0 0 #CC0000;
    border: 1px solid #990000;
    color: #FFFFFF;
}
#CC .empty {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 20px;
    margin: 1px 1px 0 0;
    width: 18px;
}
#CC .previous a, #CC .next a {
    color: #FF9900;
    font-weight: bold;
    height: 20px;
    text-decoration: none;
}
.tripDate {
    width: 6em;
}
#CC tr.calFoot td {
    border: 1px solid #303030;
    height: 24px;
    line-height: 24px;
    margin: 2px 8px 2px 0;
    text-align: right;
}
#CC tr.calFoot td a {
    text-decoration: none;
    vertical-align: top;
}
.calFoot a, .calFoot, .calFoot td {
    background: none repeat scroll 0 0 #303030;
    color: #FFFFFF;
    vertical-align: middle;
}
#CC .calendarClose {
    color: #FFFFFF;
}
#errorPopup {
    background-color: #F5F5F5;
    border: 5px solid #F5F5F5;
    display: none;
    float: left;
    font-size: 1em;
    position: fixed;
    width: 650px;
    z-index: 100;
}
#errorPopupHeader, #errorPopupTitle {
    background: url("/assets/build/core/sprites/gradients.png") repeat-x scroll left -300px #CC0000;
    color: #FFFFFF;
    display: inline;
    font-size: 1.3em;
    font-weight: bold;
    height: 30px;
}
#errorPopupHeader {
    background: url("/assets/build/core/sprites/gradients.png") repeat scroll left -300px #CC0000;
    color: #FFFFFF;
    display: block;
    float: left;
    font-weight: bold;
    height: 30px;
    width: 100%;
}
#errorPopupClose {
    color: #FFFFFF;
    display: inline;
    float: right;
    height: 30px;
    text-decoration: none;
    text-indent: -9999px;
    width: 18px;
}
#errorPopupText, #errorPopupAction, #errorPopupContact {
    clear: left;
    display: block;
    padding: 4px;
    width: auto;
}
#errorPopupBackground {
    background-color: #303030;
    display: none;
    float: left;
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
a {
    cursor: pointer;
    text-decoration: none;
}
#backgroundPopup {
    background-color: #303030;
    display: none;
    float: left;
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
#popup {
    background-color: #FFFFFF;
    border: 5px solid #F5F5F5;
    display: none;
    float: left;
    font-size: 1em;
    position: fixed;
    width: 650px;
    z-index: 100;
}
#popup .modalContent {
    overflow: auto;
}
.simplemodal-overlay {
    background-color: #EEEEEE;
}
.parametric_modal {
    padding: 5px;
    width: 650px;
}
.cancel_modal {
    padding: 5px;
    width: 200px;
}
.rentalTerms_modal {
    overflow: scroll;
    width: 800px;
}
.modalHeader {
    background: url("/assets/build/core/sprites/gradients.png") repeat-x scroll left -300px #CC0000;
    color: #FFFFFF;
    display: block;
    float: left;
    font-weight: bold;
    height: 30px;
    width: 100%;
}
.modalHeader span {
    display: block;
    float: left;
    font-size: 1.3em;
    padding: 5px;
    width: auto;
}
.modalHeader div {
    display: block;
    float: right;
    font-size: 0.9em;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 20px;
}
.modalHeader a {
    background: url("/assets/build/core/sprites/sprites_main.png") no-repeat scroll left -145px transparent;
    color: #FFFFFF;
    display: block;
    float: left;
    height: 30px;
    text-decoration: none;
    text-indent: -9999px;
    width: 18px;
}
.modalContent, .modalFooter {
    background-color: #FFFFFF;
    clear: left;
    display: block;
    padding: 4px;
    width: auto;
}
.modalContent table {
    clear: left;
    display: block;
}
.modalOverlay {
    background-color: #303030;
    opacity: 0.7;
    width: 100%;
}
.rentalTermsModal {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 5px solid #F5F5F5;
    display: block;
    float: left;
    height: 500px;
    padding: 5px;
    width: 650px;
}
.rentalTermsModal .modalContent {
    float: left;
    height: 460px;
    overflow: scroll;
    text-align: left;
    width: 642px;
}
.parametricModal {
    background-color: #FFFFFF;
    border: 5px solid #F5F5F5;
    display: block;
    float: left;
    width: 650px;
}
.emptyBasketModal {
    background-color: #F5F5F5;
    border: 5px solid #F5F5F5;
    display: block;
    float: left;
    width: 300px;
}
.emptyBasketModal .modalFooter {
    padding: 5px 0 0;
}
.modalPleaseWait {
    background: none repeat scroll 0 0 #CC0000;
    border: 5px solid #990000;
    padding: 40px;
}
.modalPleaseWait span {
    color: #F5F5F5;
    font-weight: bold;
    text-align: center;
}
.popupWrapper {
    z-index: 12000;
}
.station {
    background: url("/assets/build/core/iconCar.gif") no-repeat scroll 5px 5px transparent;
    padding-left: 16px;
}
.downtown {
    background: url("/assets/build/core/iconBuilding.gif") no-repeat scroll 5px 5px transparent;
    padding-left: 16px;
}
.airport {
    background: url("/assets/build/core/iconPlane.gif") no-repeat scroll 5px 5px transparent;
    padding-left: 16px;
}
.trainstation {
    background: url("/assets/build/core/iconTrain.gif") no-repeat scroll 5px 5px transparent;
    padding-left: 16px;
}
#mppWrapper {
    color: #303030;
    float: left;
    font-size: 0.9em;
    margin: 10px 0;
    overflow: visible !important;
    width: 100%;
}
#mppHeaderWrapper {
    background: none repeat scroll 0 0 #CC0000;
    float: left;
    height: 28px;
    width: 100%;
}
#mppHeaderWrapper h3 {
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 0 0 5px;
}
#mppContentPanelWrapper {
    float: left;
    overflow: visible;
    width: 100%;
}
#mppTripWrapper, #mppLocationWrapper, #mppAWDWrapper {
    background: url("/assets/build/core/sprites/sprites_main.png") repeat-x scroll right -1000px #FFFFFF;
    float: left;
    padding: 5px 0 0;
    width: 100%;
}
#mppAWDWrapper select {
    font-size: 1em;
    width: 290px;
}
#mppLocationWrapper select {
    width: 290px;
}
#mppTripWrapper {
    overflow: visible;
    position: relative;
}
#mppTripWrapper #CC {
    left: 0 !important;
    margin-left: 5px !important;
    margin-top: -400px !important;
    overflow: visible;
    padding: 0 !important;
    position: absolute;
    z-index: 100;
}
#mppReturnLocationWrapper {
    float: left;
}
#mppReturnLocationWrapper select {
    width: 290px;
}
#mppWorldWideSearchWrapper {
    background: url("/assets/build/core/sprites/sprites_main.png") no-repeat scroll 10px -2195px transparent;
    float: left;
    padding: 18px 0 0 50px;
}
#mppWorldWideSearchWrapper p {
    margin: 0 0 5px;
}
#mppFooterWrapper {
    float: left;
    width: 100%;
}
#mppFooterWrapper .primaryButton {
    float: right;
    margin: 10px 5px 0 0;
}
.mppSectionFooter {
    background: url("/assets/build/core/sprites/sprites_main.png") repeat-x scroll left -1890px #FFFFFF;
    float: left;
    height: 10px;
    width: 100%;
}
.mppLabel {
    float: left;
    font-weight: bold;
    margin: 10px 0 0;
    padding: 0 0 0 5px;
    width: 95%;
}
.mppElement {
    float: left;
    padding: 0 0 0 5px;
    width: auto;
}
.mppElement select {
    font-size: 1em;
    padding: 1px;
}
.mppElement input {
    font-size: 1em;
}
.mppElement.pickupLocation select {
    display: block;
    float: left;
    width: 290px;
}
#mppTripDays {
    float: left;
    margin: 10px 0 0;
    padding: 5px;
    width: 95%;
}
#mppTripWrapper input {
    width: 145px;
}
#mppTripDays .mppLabel {
    float: left;
    font-weight: normal;
    margin: 0;
    padding: 2px 5px 0 0;
    width: auto;
}
#mppTripDays #divTotalDays {
    clear: none;
    float: left;
    font-size: 1.2em;
    font-weight: bold;
}
.ui-datepicker {
    background: none repeat scroll 0 0 #FFFFFF;
    border: medium none;
    margin: 0;
    max-width: 450px !important;
    padding: 0;
}
.ui-datepicker .ui-datepicker-header {
    padding: 0;
    position: relative;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    font-size: 6px;
    height: 1.8em;
    position: absolute;
    top: 0;
    width: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {
    top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
    background: url("/assets/build/core/sprites/sprites_main.png") no-repeat scroll left -398px transparent;
    height: 19px;
    left: 2px;
    text-indent: -999em;
    width: 19px;
}
.ui-datepicker .ui-datepicker-next {
    background: url("/assets/build/core/sprites/sprites_main.png") no-repeat scroll left -448px transparent;
    height: 19px;
    right: 2px;
    text-indent: -999em;
    width: 19px;
}
.ui-datepicker .ui-datepicker-prev-hover {
    background: url("/assets/build/core/sprites/sprites_main.png") no-repeat scroll left -399px transparent !important;
    border: medium none !important;
    height: 19px;
    left: 2px;
    text-indent: -999em;
    width: 19px;
}
.ui-datepicker .ui-datepicker-next-hover {
    background: url("/assets/build/core/sprites/sprites_main.png") no-repeat scroll left -449px transparent !important;
    border: medium none !important;
    height: 19px;
    right: 2px;
    text-indent: -999em;
    width: 19px;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    display: block;
    left: 50%;
    margin-left: -8px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
}
table.ui-datepicker-calendar {
    margin: 0;
}
.ui-datepicker-header {
    border: 1px solid #303030;
    width: 149px;
}
.ui-datepicker .ui-datepicker-title {
    background: none repeat scroll 0 0 #303030;
    border: 1px solid #303030;
    color: #F5F5F5;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    margin: 0;
    text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
    font-size: 1em;
    margin: 0;
}
.ui-datepicker select.ui-datepicker-month-year {
    width: 100%;
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    width: 49%;
}
.ui-datepicker table {
    border: 1px solid #505050;
    border-spacing: 0;
    font-size: 10px;
    margin: 0;
    padding: 0 0 1px;
    width: 150px !important;
}
.ui-datepicker thead {
    background: none repeat scroll 0 0 #505050;
    width: 127px;
}
.ui-datepicker th {
    border-collapse: collapse;
    clear: none;
    color: #F5F5F5;
    display: block;
    float: left;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    padding: 0;
    text-align: center;
    width: 21px;
}
.ui-datepicker td {
    background: none repeat scroll 0 0 #E8E8E8;
    clear: none;
    display: block;
    float: left;
    height: 19px;
    line-height: 19px;
    margin: 1px;
    padding: 0;
    text-align: center;
    width: 19px;
}
.ui-datepicker td span, .ui-datepicker td a {
    border: 1px solid #CCCCCC;
    color: #505050;
    display: block;
    float: left;
    font-weight: bold;
    height: 18px;
    margin: 0 1px 1px 0;
    text-decoration: none;
    width: 18px;
}
.ui-datepicker a:hover, .ui-datepicker .ui-datepicker-week-end a:hover {
    background: none repeat scroll 0 0 #CC0000;
    border: 1px solid #990000;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
}
.ui-datepicker-today a:link, .ui-datepicker-today a:visited {
    background: none repeat scroll 0 0 #990000;
    border: 1px solid #990000;
    color: #F5F5F5;
}
.ui-datepicker .ui-datepicker-buttonpane {
    background: none repeat scroll 0 0 #303030;
    border: medium none;
    float: left;
    margin: 0;
    padding: 5px;
    width: 438px !important;
}
.ui-datepicker .ui-datepicker-buttonpane button {
    background: none repeat scroll 0 0 #CC0000;
    border: medium none;
    cursor: pointer;
    float: right;
    height: 16px;
    margin: 0;
    padding: 0;
    width: 16px;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: left;
}
.ui-datepicker .ui-datepicker-week-end a {
    background: none repeat scroll 0 0 #F0F0F0;
    border: 1px solid #E8E8E8;
}
td.ui-datepicker-unselectable {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 19px;
    width: 19px;
}
.ui-state-default.ui-state-active {
    border: 1px solid #990000 !important;
}
td.ui-date-selected, table.ui-datepicker-calendar tbody td.ui-date-selected a {
    background: none repeat scroll 0 0 #C0E0EB !important;
}
.ui-datepicker.ui-datepicker-multi {
    width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
    float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
    width: 95%;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
    width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
    width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
    width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header {
    border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
    clear: left;
}
.ui-datepicker-row-break {
    clear: both;
    font-size: 0;
    width: 100%;
}
#secondarySocialWrapper {
    background: none repeat scroll 0 0 #F5F5F5;
    float: left;
    margin: 10px 0 0;
    padding: 5px;
    width: 300px;
}
#secondarySocialWrapper #smSharingWrapper {
    margin: 0 0 10px;
    padding: 0;
    width: 100%;
}
#secondarySocialWrapper #smFollowWrapper {
    background: none repeat scroll 0 0 transparent;
    margin: 0;
    padding: 5px;
}
.onlineCheckInFrame {
    border-style: none;
    height: 500px;
    width: 970px;
}
tr.noprint {
    display: none;
}
#homePagePromotionsWrapper {
    display: block;
    float: left;
    margin-top: 5px;
    width: 100%;
}
.promo {
    clear: none;
    display: block;
    float: left;
    height: 140px;
    margin-bottom: 5px;
    margin-right: 2px;
    overflow: hidden;
    width: 320px;
}
.promo a:hover {
    color: #CC0000;
}
.promoLeft {
    background: none repeat scroll 0 0 #CC0000;
    border: 5px solid #F5F5F5;
    display: block;
    float: left;
    line-height: 1em;
    width: 145px;
}
.promoLeft img {
    height: 97px;
    width: 145px;
}
.promoLeft img[alt] {
    color: #FFFFFF;
    font-weight: normal;
    text-align: center;
}
.promoTitle {
    background: none repeat scroll 0 0 #CC0000;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 0.9em;
    height: 2.6em;
    padding: 3px 5px;
    width: 135px;
}
.promoTitle h2 {
    font-size: 1em;
    padding: 0;
}
.promoTitle a:link, .promoTitle a:visited {
    color: #FFFFFF;
    text-decoration: none;
}
.promoTitle a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}
.promoRight {
    clear: none;
    display: block;
    float: left;
    font-size: 0.9em;
    padding: 5px 0;
    width: 152px;
}
.promoRight a {
    display: block;
    float: left;
    padding: 10px 0 0;
    width: 100%;
}
#homePageCorpAdsWrapper {
    background: url("/assets/build/core/corpAdsSep.jpg") no-repeat scroll center top transparent;
    display: block;
    float: left;
    padding: 40px 0 0;
    width: 100%;
}
.corpAd {
    display: block;
    float: left;
    margin-bottom: 10px;
    overflow: hidden;
    width: 50%;
}
.corpAdImage {
    display: block;
    float: left;
    line-height: 1em;
    margin: 0 10px 5px 5px;
    width: 145px;
}
.corpAdTitle {
    clear: none;
    color: #CC0000;
    display: block;
    float: left;
    font-size: 1.3em;
    width: 100%;
}
.corpAdDetails {
    clear: none;
    display: block;
    float: left;
    font-size: 0.9em;
    padding: 0;
    width: 240px;
}
.blockPromoWrapper {
    border: 5px solid #F5F5F5;
    display: block;
    float: left;
    margin: 10px 0 0;
    padding: 0;
    width: 300px;
}
.blockPromoWrapper a {
    display: block;
    float: left;
    height: 100%;
    line-height: 0.8em;
    margin: 0;
    padding: 0;
    width: 100%;
}