﻿@using System.Text

@model SEB.Models.HomeIndexViewModel

@{
    ViewBag.Title = "Get Invoice";
    var hostUrl = CommonHelper.GetHostUrl();

}
<script src="@(hostUrl + "/Content/qtip/jquery.qtip.js")" type="text/javascript"></script>
<script type="text/javascript">

    $(function () {
        $('a[title]').qtip();  // To show document meta data a little nicer
    });

</script>

@if (Model.SearchResult != null)
                   {
                       foreach (var documentStoreSearchResult in Model.SearchResult.DocumentStoreSearchResults)
                       {

                           foreach (var item in documentStoreSearchResult.Documents)
                           {
                               // get metadata
                               var sbMeta = new StringBuilder();
                               sbMeta.Append("<ul>");
                               foreach (var metaDataItem in item.DocumentMetaData)
                               {
                                   sbMeta.AppendFormat("<li>{0}={1}</li>", metaDataItem.Item1, metaDataItem.Item2);
                               }
                               sbMeta.Append("</ul>");


                               <table style="float: left;"  class="imageRow">
                                   <tr class="set">
                                       @for (int i = 0; i < item.Elements.Count(); i++)
                                       {
                                           var element = item.Elements[i];

                                           <td class="single">
                                               <div>
                                                   <a target="_blank" href="@element.DocumentUrl" title="@Html.Raw(sbMeta.ToString())">
                                                       <img src="@element.DocumentThumbnailUrl" alt="Image 1 0f @item.Elements.Count() thumb" />
                                                   </a>
                                               </div>
                                           </td>


                                       }
                                   </tr>
                                   <tr>
                                       <td colspan="@item.Elements.Count()">
                                           @item.Description
                                       </td>

                                   </tr>
                               </table>
                           }

                       }
                   }