﻿@model SwecoBookingSystem.ViewModels.WizardViewModel

@{
    ViewBag.Title = "Lost wizard number";
    var hostUrl = CommonHelper.GetHostUrl();

}
<script src="@(hostUrl + "/Scripts/jquery-1.5.1.js")" type="text/javascript"></script>
<script src="@(hostUrl + "/Scripts/jquery-ui-1.8.11.js")" type="text/javascript"></script>
<script src="@(hostUrl + "/Scripts/DatePickerReady.js")" type="text/javascript"></script>
<script src="@(hostUrl + "/Scripts/jquery.ui.datepicker.js")" type="text/javascript"></script>
<link href="@(hostUrl + "/Content/ChooseACar.css")" rel="stylesheet" type="text/css" />

<br/>

@Html.Raw(ViewBag.Message)

@using(Html.BeginForm())
{
    
     <div style="width:647px; background-color:#f0f0f0;  min-height: 250px; text-align:center; ">
                
                <div class="siHeader">
               <div class="siTitle">
                  @Resources.Copy.LostWizardNumber
               </div>
               </div>
		
 
         <style>
             .siHeader{float:left;width:100%;background:#303030}
             .siTitle{float:left;padding:5px;color:#fff;font-size:1.1em;padding:5px 5px 5px 5px;font-weight:bold}
         </style>
         <br clear="all"/><br clear="all"/>
                <div style="float:left; text-align:right; width:49%; height:30px;">@Resources.Copy.User_UserID : </div><div style="float:right; text-align:left;width:49%; height:30px;">@Html.TextBoxFor(model => Model.UserName) @Html.ValidationMessageFor(model => model.UserName)</div>

        
    
     <p style="width:100%; text-align:right;">
                
                   <style>
               .primaryButton
               {
                   display:block;float:right;width:auto;background: url(@hostUrl/content/images/sprites_main.png) left -3000px no-repeat;padding: 0 0 0 15px;
               }
           </style>
               
       
    <div class="primaryButton">
                    <input type="submit" value = "@Resources.Copy.Contact_SendEnquiry" style="background:url(@(hostUrl + "/content/images/sprites_main.png")) right -3050px no-repeat;color:#fff;font-weight:bold;font-size:1.3em;font-style:italic;padding:9px 40px 20px 10px;text-decoration:none;border: none;margin-right:30px;"/>
               </div>
                </p>
    
     </div>
    
     }
